mixin addArrowsBlock(arrows_blocks, $arrowsColor)
	each $block, index in arrows_blocks
		figure.arrows-block(class = $block.animationClass ? $block.animationClass : '')
			if $block.caption
				figcaption !{$block.caption}
			each $arrow, ind in $block.arrows
				+arrow($arrow, ($arrowsColor ? $arrowsColor[index][ind] : 'magenta'))

mixin arrow($arrowText, $arrowColor)
	figure.arrow-container
		if $arrowText.caption
			figcaption !{$arrowText.caption}
		.arrow(class = $arrowColor)
			if typeof $arrowText.content === 'object'
				p.arrow-text-top !{$arrowText.content.top}
				p !{$arrowText.content.bottom}
			else
				p !{$arrowText.content}
		if $arrowText.bottom
			p.arrows-blocks-info(class = $arrowColor) !{$arrowText.bottom}

mixin addHorizontalArrowsWrapper(h_arrows, $hArrowsColor)
	figure.h-arrows-wrapper
		each $hArrow, index in h_arrows
			+horizontalArrow($hArrow, ($hArrowsColor ? $hArrowsColor[index] : 'magenta'))

mixin horizontalArrow($hArrowText, $hArrowClass)
	.h-arrow(class = $hArrowClass)
		p !{$hArrowText}
