include header-block
include graph

mixin blendingProfileSlide(colorsList, additionalCaptions, buttonAttributes, headerClass)
    +headerBlock(headline, headerClass ? headerClass : '')
        if lead_paragraph
            p.lead-paragraph !{lead_paragraph}
    .graph-container
        if additionalCaptions
            for item in additionalCaptions
                if item.goTo
                    +navigationButton(item.goTo, item.titleKey, item.color)&attributes(buttonAttributes)
                else
                    p.custom-additional !{item.text}
        +graph(graph, "bar", {barColors: colorsList}, false)
    if additional_info
        .additional-info
            p.big-number !{additional_info.big_number}
            p !{additional_info.info}
