-
	var topPositionAngle = 0, leftBottomPositionAngle = -297.5, rightBottomPositionAngle = 300;

	function convertToRadians(degrees) {
		return degrees * Math.PI / 180;
	}

	function getCoordinatesOfDotRelativeToCenter(angle, radius) {
		var angleInRadians = convertToRadians(angle);

		var x = Number.prototype.toFixed.call(Math.sin(angleInRadians), 2) * radius;
		var y = Number.prototype.toFixed.call(Math.cos(angleInRadians), 2) * radius * -1;

		return {
			x: x,
			y: y
		};
	}

mixin createPath(radius, angle, clockWise, idName)
	-
		const pathLengthAngle = 180;
		angle -= pathLengthAngle / 2;

		var directionFlag = clockWise ? 1 : 0;

		var coordinatesOfPathStart = getCoordinatesOfDotRelativeToCenter(angle, radius);
		var coordinatesOfPathFinish = getCoordinatesOfDotRelativeToCenter(angle + pathLengthAngle, radius);
		coordinatesOfPathFinishRelativeToStart = {};
		coordinatesOfPathFinishRelativeToStart.x = coordinatesOfPathFinish.x - coordinatesOfPathStart.x;
		coordinatesOfPathFinishRelativeToStart.y = coordinatesOfPathFinish.y - coordinatesOfPathStart.y;

		var curveParams = "M 201, 201 m " + coordinatesOfPathStart.x + "," + coordinatesOfPathStart.y + " a 1,1 0 0," + directionFlag + " " + coordinatesOfPathFinishRelativeToStart.x + "," + coordinatesOfPathFinishRelativeToStart.y;

	path(id=idName d=curveParams)

mixin createWheelFragment(curvesParams, imgPath, svgId)
	svg(viewBox="0 0 402 402")
		image(xlink:href=imgPath x='0' y='0' height='100%' width='100%')
		each path, index in curvesParams
			+createPath(path.radius, path.angle, path.clockWise, svgId + index)
		each text,index in texts
			text.exclude-px(text-anchor='middle')
				textPath(xlink:href='#' + svgId + index startOffset='50%') !{text}
