mixin bulletList(textArray, _class)
	- _class = _class || 'diamond-list'
	- var singleClass = _class.split('-')[0]
	if(textArray.length === 1)
		p(class=singleClass) !{textArray[0]}
	else
		ul(class=_class)
			each item in textArray
				li !{item}

mixin multiLevelList(list, isNestedLevel, _class)
	- _class = _class || 'diamond-list'
	ul(class=isNestedLevel ? '' : _class)
		each item in list
			li !{item.content}
				if(item.list)
					+multiLevelList(item.list, true)
