-
	var $icons = {
		'rocket-af':		'rocket-af.png',
		'xantus-pooled':	'xantus-pooled.png',
		'aristotle':		'aristotle.png',
		'dark-aristotle':	'dark-aristotle.png',
		'einstein-pe':		'einstein-pe.png',
		'einstein-pe-dvt':	'einstein-pe-dvt.png',
		'einstein-choice': 	'einstein-choice.png',
		'pioneer': 			'pioneer.png',
		'j-rocket-af': 		'j-rocket-af.png',
		'xapass': 			'xapass.png',
		'select-d':			'select-d.png',
		'select-d-alt':		'select-d-alt.png',
		'compass':			'compass.png',
		'real-world-data':	'real-world-data.png'
	},
	$separator = ",";

mixin captionBlock($icon)
	- var $path = $icon.localPath ? $icon.localPath : '././shared/images/'+ $icons[$icon.class]
	figcaption.top-caption
		if($icon.precedingText)
			p.preceding-text !{$icon.precedingText}
		img(src=$path class=$icon.class)
		if $icon.notes
			sup(data-notes=$icon.notes)
			if $icon.reference
				sup !{$separator}
		if $icon.reference
			sup(data-reference-id=$icon.reference)
		block