include header-block
include graph
include footer-block
include caption-block
include percent-arrow-value

-
	var graphType = 'bar';
	var colors = {
		'barColors': [
			'dark-gray-bar', 'green-bar'
		]
	},
	headerObj = {class: 'compass'};

mixin chronicPatientsSlide()
	+headerBlock(headline, 'custom-title')
	p.lead-paragraph !{sub_header}
	.main-content
		+captionBlock(headerObj)
		+graph(graph, graphType, colors)
			+percentArrowValue(number_info)
	+footerBlock(line_props)
