include folder-tablet
include header-block

mixin comboProtection($options)
	- $options = $options || []
	+headerBlock(headline)
	.folders
		each folder, index in folders
			+buildFolder($options[index])
				+buildFolderListContent(folder)
	p.bottom-text !{bottom_info}
	if bottom_info_second
		p.bottom-text.second !{bottom_info_second}