include header-block
include folder-tablet
include pills

mixin pills(texts, classesList, images, icons)
	.pills-wrapper
		each text, index in texts
			figure(class=classesList[index])
				figcaption !{text.title}
				if(text.comment)
					p.comment !{text.comment}
				+addPills(text.pills_figure, images[index], icons[index])

mixin comboFoldersSlide(classesList)
	+headerBlock(content.headline, 'custom-title')
	.main-content
		.folders
			.left-folders
				each el in content.folder_left
					+buildFolder({'class': 'patient-profile'})
						+buildSpaftFolder(el)
			.right-folders
				each el in content.folder_right
					+buildFolder({'class': 'patient-profile'})
						+buildSpaftFolder(el)
		+pills(content.pills, classesList, [imagesLeftGroup, imagesRightGroup], [iconsLeftGroup, iconsRightGroup])
