include header-block
include folder-tablet


mixin comboSummarySlide(popups)
	if headline
		+headerBlock(headline)
	.main-content
		if docs
			+buildFolder({class: 'patient-profile'})
				+buildSpaftFolder(docs)
		.right-side
			if items
				each item, index in items
					div.block-item
						if popups[index].slideshow
							button.info-button.purple(data-inline-slideshow=popups[index].slideshow slide=popups[index].popup)
						else
							button.info-button.purple(data-popup=popups[index])
						if item.title
							h2 !{item.title}
						if item.list
							ul.dashed-list
								each listItem in item.list
									li !{listItem}
