include header-block
include patient-value

mixin createCompassSlide()
	+headerBlock(headline)
	.content
		each item in content
			.row
				p.title !{item.title}
				.bar
				p.percent !{item.percent}
	+buildPatientValue(patient)
