include header-block
include graph

mixin consistentSafetyProfile(colorsList, additionalCaptions, buttonAttributes, headerClass)
	+headerBlock(headline, headerClass ? headerClass : '')
	if lead_paragraph
		p.lead-paragraph !{lead_paragraph}
	.graph-container
		figcaption !{figcaption}
		if additionalCaptions
			for item in additionalCaptions
				if item.goTo
					+navigationButton(item.goTo, item.titleKey, item.color)&attributes(buttonAttributes)
				else
					p.custom-additional !{item.text}
		+graph(graph, "bar", {barColors: colorsList}, false)
	.additional-info
		p.big-number !{additional_info.big_number}
		p !{additional_info.info}