include header-block
include caption-block
include graph
include footer-block


mixin consistentVteProtection(topCaptionCfg, graphTypes, colors)
	+headerBlock(headline)
	p.lead-paragraph !{lead_paragraph}
	+captionBlock(topCaptionCfg)
	p.graphs-heading !{graphs_heading}
	.graphs-wrapper
		each graph, graphIndex in graphs
			- if (graph.g_scale_h)
				-graph.g_scale_h = Object.assign(graph.g_scale_h, {min: 0, max: 12, step: 1})
			-graph.g_scale_v = Object.assign(graph.g_scale_v, {min: 0, max: 10, step: 1})
			+graph(graph, graphTypes[graphIndex], colors, false)
	ul.g-legend
		each item, itemIndex in legend
			li(class=colors.barColors[itemIndex]) !{item}
	+footerBlock(lines)
