mixin coverSlide(videoPath,previewPath,icon,logo,bg)
	- icon = icon || 'head.png';
	- logo = logo || 'bayer-logo.png';
	- bg = bg || 'bg.jpg'
	.main-wrapper
		.content
			img.main-logo(src='shared/images/' + logo)
			h1 !{headline}
			if(lead_paragraph)
				p.lead-paragraph !{lead_paragraph}
			if(approve)
				figure.bottom-text
					img.bottom-logo(src='shared/images/' + icon)
					figcaption !{approve}
			if approve_number
				p.approve-number !{approve_number}
			block
		.video-wrapper
			video.cover-video(poster=previewPath preload='none' src=videoPath type="video/mp4")
			.play-button
	img.background(src='assets/images/' + bg)
