include header-block
include table-generator
include caption-block
include footer-block
include graph-axis

mixin buildFragment(options)
	+headerBlock(headline)
	.main-content
		.left
			+captionBlock(options.caption)
			+tableGenerator(left.table, 4)
			+setAxis(left.g_scale.caption, 0, 2, 1, left.g_scale.labels).g-scale-h
			.marker-lines
				each item, index in Array(3)
					.marker-line
						.marker
		.right
			h2 !{right.caption}
			.informal
				p !{right.informal}
	+footerBlock(left.line_props)
	p.additional-info !{bottom_note}