include header-block

mixin dosagePopup(imgPath)
    +headerBlock(headline)
        if lead_paragraph
            p.lead-paragraph !{lead_paragraph}

    figure
        img.dosing-package(src = imgPath)
        if description
            figcaption.bottom-text !{description}
    if bottom_note
        p.notes !{bottom_note}
