include header-block

mixin arrowContent(content)
	.arrow-content
		if content.top
			p.top !{content.top}
		p.middle !{content.middle}
		p.bottom !{content.bottom}
		p.foot !{content.foot}

mixin doseFlexibilityTemplate()
	.wrapper
		+headerBlock(headline)
			p.lead-paragraph !{lead_paragraph}
		.content-wrapper
			.inner-wrapper
				.arrows-wrapper
					each content in left_side.arrows
						+arrowContent(content)
				p.single-text !{left_side.single_text}
			.inner-wrapper
				.arrows-wrapper
					each content in right_side.arrows
						+arrowContent(content)
				.additional-wrapper
					each row in right_side.additional.items
						.items
							each item in row
								p !{item}
