mixin dosingScheme(rows)
   .scheme
      each row, indexR in rows
         .row
            .row-title
               p !{row.row_caption}
            .medicine
               each medicine, indexM in row.medicine
                  .medicine-row
                     figcaption !{medicine.caption}
                     figure
                        each pills, indexP in medicine.prescribing_information
                           .recipie
                              each pill in structure[indexR][indexM][indexP]
                                 .pills
                                    img(src = 'assets/images/' + pill)
                              .description
                                 p !{pills}