include header-block
include caption-block
include graph
include footer-block

-
	graphs[0].g_scale_v = {
		caption: graphs[0].g_scale_v_caption,
		min: 0,
		max: 10,
		step: 1
	};
	graphs[0].g_scale_h = {
		caption: graphs[0].g_scale_h_caption,
		min: 0,
		max: 12,
		step: 1
	};
	graphs[1].g_scale_v = {
		caption: graphs[1].g_scale_v_caption,
		min: 0,
		max: 10,
		step: 1
	};

mixin dosingConsistentVteProtection(topCaptionCfg, graphTypes, colors)
	+headerBlock(headline)
	+captionBlock(topCaptionCfg)
	p.graphs-heading !{graphs_heading}
	.graphs-wrapper
		each graph, graphIndex in graphs
			+graph(graph, graphTypes[graphIndex], colors, false)
	ul.g-legend
		each item, itemIndex in legend
			li(class=colors.barColors[itemIndex]) !{item}
	+footerBlock(lines)
