include header-block
include navigation-button

-
    var dosing_icons = [
        "pill-15-mg-double",
        "pill-20-mg",
        "pill-10-mg"
    ];
    var navButtonOptions = {
        class: "magenta"
    }

mixin dosingSlideTemplate(popupData, buttonText, customCaption)
    +headerBlock(headline)
        p.lead-paragraph !{lead_paragraph}
    .content-wrapper
        .dosing-groups
            each group, index in dosing_groups
                figure
                    figcaption(class=customCaption ? customCaption : '') !{group.caption}
                    .pills-usage
                        p.usage !{group.usage}
                        .pill(class=dosing_icons[index])
                    p.dosing !{group.dosing}
                    if index === 0 && popupData
                        +navigationButton(popupData, buttonText, navButtonOptions.class)
                    if group.list
                        section
                            .list-wrapper
                                p !{group.list.caption}
                                ul
                                    each item in group.list.content
                                        li !{item}
                            p.risk-dosing.pill-20-mg !{group.risk_dosing}
                    if group.separator
                        p.circle !{group.separator}
        figure.h-arrows-wrapper
            each item in h_arrows
                .h-arrow
                    p !{item}
    p.note !{note}

