include table-generator
include header-block

mixin dosingTable(text, withoutButton, columns)
	- columns = columns || 3;
	- withoutButton = withoutButton || false;
	+headerBlock(text.headline)
	.dosing-container
		+tableGenerator(text.table, columns)
		if !withoutButton
			button.td-animate.btn-plus
	p.notes !{text.notes}