mixin buildFolder(attrs)
	- attrs = attrs || {}
	figure.folder-tablet&attributes(attrs)
		.clamp
		.main-part
			block

mixin buildPatientFolder(content, options, customClass)
	- var patientFolderClasses = 'patient-profile'
	- var classesFullList = patientFolderClasses + ' ' + (customClass || '')
	+buildFolder({'class': classesFullList})
		+buildFolderListContent(content.main, options)
			.top-content
				.patient-info
					p.name !{content.patient.name}
					p.age !{content.patient.age}
				.avatar

mixin buildSpaftFolder(content, options)
	+buildFolderListContent(content, options)
		.top-content
			if  content && content.patient
				p.patient !{content.patient}
			.user-info
				.dash
				.dash
				.dash
			.avatar

mixin buildFolderListContent(content, options)
	- options = options || ''
	- content = [].concat(content)
	.folder-content
		block
		if content
			.folder-description
				each item in content
					if item
						- var title = item.list ? item.title : item
						if title
							p.list-title !{title}
						if item.list
							ul
								each listEle in item.list
									li !{listEle}
						if item.name
							p.folder-name !{item.name}
				if options.customMixin
					+#{ options.customMixin }
				if options.popup
					button.btn-plus&attributes(options.popup)