include header-block
include folder-tablet

mixin folderCustomisation(content, options)
	+headerBlock(content.headline)
	.main-content
		each el, index in content.docs
			+buildFolder(options.folderOpts[index])
				+buildSpaftFolder(el)
	p.bottom-text !{content.bottom_text}
