mixin addColumnContent(line)
	each value, key in line
		- if (Array.isArray(value))
			.element-container
				each item in value
					p(class=key) !{item}
						if key === 'number'
							span.patient-icon
		- else
			p(class=key) !{value}
				if key === 'number'
					span.patient-icon

mixin infoLine(lineProps, linesAnimation)
	.info-line-wrapper
		each line, index in lineProps
			.column
				if linesAnimation[index]
					.zoom-in
						+addColumnContent(line)
				else
					+addColumnContent(line)

mixin footerBlock(lineProps, linesAnimation)
	footer&attributes(attributes)
		+infoLine(lineProps, linesAnimation ? linesAnimation : [false, false, false])
		block