mixin percentOfPatientsSlide()
	.top-text
		.counter
			p !{counter.sign}
			p.count !{counter.count}
			p !{counter.text}
		p.count-description !{description}
	figure
		.images-wrapper
			- var n = 0
			while n < patients
				.patient-item
				- n ++
		figcaption.bottom_text !{bottom_text}
	p.hidden(data-notes='pe dvt vte')