include header-block
include folder-tablet

mixin frontIntroSlide(content)
	+headerBlock(content.headline)
	.main-content
		each el in content.docs
			+buildFolder({class: 'spaf-folder'})
				+buildSpaftFolder(el)
	if content.bottom_text
		p.bottom-text !{content.bottom_text}
