mixin setAxis(title, min, max, step,labels)
	- var start = +min, step = +step || 1, labels = labels || [];
	.g-scale&attributes( attributes )
		ul
			while start <= max
				if labels[start]
					li(class=_class)
						span !{labels[start]}
				else
					li(class=_class)
						span !{start}
				- start += step
		if title
			p.g-scale-label !{title}