include arrows-block
include caption-block
include percent-arrow-value

mixin setColumnsBars(nestArray, colors)
	each nest, indexNest in nestArray
		.g-bar-nest
			if nest.bars.length > 1
				+_barGenerator(nest, colors.barColors)
			else
				+_barGenerator(nest, [colors.barColors[indexNest]])
			if nest.arrows_blocks
				+addArrowsBlock(nest.arrows_blocks, colors.arrowsColor)
			if nest.name
				if nest.caption
					.g-nest-name
						+captionBlock(nest.caption)
						p !{nest.name}
				else
					p.g-nest-name !{nest.name}
			if nest.additional
				p.g-nest-additional !{nest.additional}

mixin _barGenerator(nest, colorNestList)
	each bar, indexBar in nest.bars
		.g-bar(class=colorNestList[indexBar] || '')
			if bar.value
				p.g-bar-value !{bar.value}
			if bar.name
				p.g-bar-name !{bar.name}
			if bar.note
				p.g-bar-note !{bar.note}
			if bar.additionalValue
				.g-additional-value-wrapper
					.patient-icon
					p.g-additional-value !{bar.additionalValue}
			if bar.percent_number
				+percentArrowValue(bar.percent_number)
