include graph-axis
include graph-columns-bar
include graph-lines
include arrows-block
include patient-value

mixin graph(graph, graphType, colors, isAnimated)
	-
		var barColors = colors.barColors || []
			arrowsColor = colors.arrowsColor || []
	figure.graph(class= isAnimated ? "g-animated" : '')
		if(graph.caption)
			figcaption.g-caption !{graph.caption}
		+setAxis(graph.g_scale_v.caption, graph.g_scale_v.min, graph.g_scale_v.max, graph.g_scale_v.step, graph.g_scale_v.labels).g-scale-v
		if graph.g_scale_h
			+setAxis(graph.g_scale_h.caption, graph.g_scale_h.min, graph.g_scale_h.max, graph.g_scale_h.step, graph.g_scale_h.labels).g-scale-h
		if graph.g_label
			p.g-label !{graph.g_label}
		.g-content
			if graphType == "bar"
				+setColumnsBars(graph.nest_list, colors)
			if graphType == "line"
				+setLines(graph.line_list)
		if graph.arrows_blocks
			+addArrowsBlock(graph.arrows_blocks, arrowsColor)
		if graph.additional
			.additional-wrapper
				each text in graph.additional
					p.additional !{text}
		if graph.additional_block
			.additional-block-wrapper
				+buildPatientValue(graph.additional_block)
		if graph.line_values
			.g-lines-values-wrapper
				each value in graph.line_values
					p.g-line-value !{value}
		if graph.legend
			ul.g-legend
				each li, index in graph.legend
					if li
						li(class=barColors[index]) !{li}
		if graph.note
			p.g-note !{graph.note}
		block
