include bullet-list
include table-generator

mixin hasBledScoresPopup()
	h1 !{headline}
	+bulletList(bullets, 'diamond-list')
	if(table)
		+tableGenerator(table, 5)
	else if(tables)
		.tables-wrapper
			each $table in tables
				+tableGenerator($table, $table.columns)
