include header-block
include graph

mixin hasBledScoresSlide(options, headerClass)
	+headerBlock(headline, headerClass ? headerClass: '')
	if lead_paragraph
		p.lead-paragraph !{lead_paragraph}
	+graph(graph, options.graph.type, options.graph.colors, options.graph.isAnimated)
		.arrow-wrapper
			.directional-arrow
		if directional_arrow_caption
			p.directional-arrow-caption !{directional_arrow_caption}
	if keyMessage
		p.key-message(class = options.isKeyMessageAnimated ? 'fade-in' : '') !{keyMessage}
	if description
		p.description !{description}
	if options.popup
		.info-button.purple(data-popup=options.popup)
	if notes
		.notes
			each item in notes
				p !{item}
