-
	var $images = {
		'only-1-3': 'only-1-3.png'
	};

mixin headerBlock(text, headerClass, iconClass, mainIcon, isLocal)
	-
		var $class = headerClass ? headerClass : '';
		if(iconClass) {
			$class = 'rotate-image ' + iconClass;
			mainIcon = $images[iconClass];
			isLocal = false;
		}
	header(class=$class)
		h1 !{text}
		if mainIcon
			- var path = isLocal ? "assets/images/" : "././shared/images/"
			img(src= path + mainIcon)
		block
