include header-block
include table-generator
include pie-chart-generator

mixin highestNumberPopup(headerParams, chartsParams, legendColors, tableNumberOfColumns)
	+headerBlock(headline, headerParams.class, '', headerParams.mainIcon)
		span.header-ref !{header_refs}
	.pie-charts-wrapper
		each pieItem, itemIndex in pie_charts
			- var pieId = chartsParams.config.moduleName + chartsParams.config.separator + chartsParams.config.popupID + chartsParams.config.separator + itemIndex
			+generatePieChart(pieId, chartsParams.config.pieProps, pieItem)(class=chartsParams.chartsClasses[itemIndex])
	ul.g-legend
		each legendItem, legendIndex in legend
			li(class=legendColors[legendIndex]) !{legendItem}
	+tableGenerator(table, tableNumberOfColumns)