include header-block
include graph-columns-bar
include footer-block

-
    var
    defaultOptions = {
    barColors: [
    ["magenta-bar", "gray-bar", "light-grey-bar"],
    ["magenta-bar", "na gray-text", "light-grey-bar"],
    ["magenta-bar", "gray-bar", "na light-gray-text"],
    ["magenta-bar", "gray-bar", "light-grey-bar"]
    ],
    legendColors: ["magenta-bar", "gray-bar", "light-grey-bar"],
    imgProps: {
    img: 'only-renaly.png',
    notes: 'active_drug' ,
    references: 'Xarelto:2018uc',
    separator: ','
    }
    }

mixin highRiskPatientsSlide(data)
    -
        var options = data || defaultOptions,
        imgProps = options.imgProps;
    +headerBlock(headline, '', '', imgProps.img, true)
        p.lead-paragraph !{lead_paragraph}
        .img-refs-notes
            sup(data-notes=imgProps.notes)
            sup !{imgProps.separator}
            sup(data-reference-id=imgProps.references)
    p.paragraph !{paragraph}
    figure.graph.bordered.animate
        .g-content
            each nest, index in graph.nest_list
                .nest-container
                    p.bar-nest-info !{nest.name}
                    .g-bar-nest
                        +_barGenerator(nest, options.barColors[index])
            ul.g-legend
                each li, index in graph.legend
                    li(class=options.legendColors[index]) !{li}
            if graph.note
                .graph-note !{graph.note}
    +footerBlock(line_props)
