include header-block
include folder-tablet
include brand-wheel

mixin _createFolder(content)
	+buildFolder({class: 'spaf-folder'})
		+buildSpaftFolder(content)

mixin indicationWheelSlide()
	+headerBlock(headline)
	.content-wrapper
		+_createFolder(folders[0])
		+createWheelFragment(curvesParams, imgPath, svgId)
		+_createFolder(folders[1])
