include header-block
include caption-block
include arrows-block
include footer-block

mixin addArrowsBlock(arrows_blocks, $arrowsColor)
	each $block, index in arrows_blocks
		figure.arrows-block(class = $block.animationClass ? $block.animationClass : '')
			if $block.caption
				figcaption !{$block.caption}
			.arrows-nest-wrapper
				each $arrow, ind in $block.arrows
					+arrow($arrow, ($arrowsColor ? $arrowsColor[index][ind] : 'magenta'))

mixin lowerMajorBleedingSlide(options, text)
	+headerBlock(text.headline)
	figure.arrows-wrapper
		+captionBlock(options.$topCaptionIcon)
			if text.caption_subheader
				p.caption-subheader !{text.caption_subheader}
		.arrows-flex
			+addArrowsBlock(text.arrows_blocks, options.$arrowsColor)
	+footerBlock(text.line_props, options.$linesAnimation)
		if text.notes
			.notes-block
				each note in text.notes
					p !{note}
		.bottom-text !{text.bottom_text}
	p.local-note !{text.note}