mixin meetingNeedPopup()
	.content
		h1 !{headline}
		each block in blocks
			section
				.title-container
					p !{block.title}
				figure
					.caption-arrow
					figcaption !{block.arrow_caption}
				.states-captions
					each stateCaption in block.states
						p !{stateCaption}
		.notes !{note}