include header-block

-
	var icons = ['sun.png', 'moon.png'],
		pills = 'pills.png',
		aspirin = 'aspirin.png',
		assetsPath = 'assets/images/';

mixin addPills(texts)
	.items
		img.aspirin(src=assetsPath + aspirin)
		p.plus !{separator}
		img.pills(src=assetsPath + pills)
	.icons
		each icon in icons
			img.icon(src=assetsPath + icon)
	.texts
		each text in texts
			p.text-item !{text}

mixin meetingTheNeedSlide()
	+headerBlock(headline,'custom-title')
		if lead_paragraph_label
			p.lead-paragraph-label !{lead_paragraph_label}
	p.lead-paragraph !{lead_text}
	+addPills(texts)