mixin methodologyPopup()
	h1 !{headline}
	.items-wrapper
		dl
			each item in blocks
				dt !{item.head}
					for text in item.main_text
						if (Array.isArray(text))
							dd
								ul
									for list in text
										li !{list}
						else
							dd !{text}