include header-block
include percent-arrow-value

mixin mortalitySlide(text)
	+headerBlock(text.headline, 'custom-title')
	p.lead-paragraph !{text.lead_paragraph}
	+percentArrowValue(text.percent_number)
		.info-line-wrapper
			.patient-icon
			p.number !{text.number}
			if text.number_text
				p.text !{text.number_text}
