include header-block
include percent-arrow-value

mixin mortalityReductionsPopup()
	+headerBlock(headline, 'custom-title')
	p.lead-paragraph !{lead_paragraph}
	.rows-wrapper
		.row.captions
			each caption in rows.captions
				.column
					if(caption)
						p !{caption}
		each item in rows.items
			.row.item
				.column
					p.caption !{item.caption}
				.column
					+percentArrowValue(item.percent_number)
