mixin navigationButton(options, captionTitle, textColor)
	-	var attributes;
	if (options.popup)
		-	attributes['data-popup'] = options.popup
	if (options.path)
		-	attributes['data-goto-slide'] = options.path
	if (options.inlineSlideshow)
		-	attributes['data-inline-slideshow'] = options.inlineSlideshow.slideshow || '';
		-	attributes.slide = options.inlineSlideshow.slide || '';
	if (options.inlineSlideshowSlide)
		-	attributes['data-goto-inline-slideshow-slide'] = options.inlineSlideshowSlide;
	button.navigation-button(class=textColor)&attributes(attributes) !{globals.navbutton_captions[captionTitle]}