include header-block

-var $states = ['limb', 'cv']

mixin newStandardOfCare()
	+headerBlock(headline, 'custom-title')
	p.lead-paragraph !{lead_paragraph}
	.figures-wrapper
		each figure, $index in figures
			figure(class=$states[$index])
				figcaption !{figure.caption}
				p.number(data-state=$states[$index]) !{figure.number}
				p.sub-caption !{figure.sub_caption}
				p !{figure.description}