include header-block
include folder-tablet
include percent-arrow-value

mixin patientProtectionSlide($options)
	-
		var
			$folderOptions = $options && $options.folderOptions ? $options.folderOptions : {},
			$folderCustomClasses = $options && $options.classes || '';
	+headerBlock(headline, 'custom-title')
	p.lead-paragraph !{lead_paragraph}
	.rows-wrapper
		if(patient_folder)
			+buildPatientFolder(patient_folder, $folderOptions, $folderCustomClasses)
		each row in rows
			figure
				if(row.caption)
					figcaption !{row.caption}
				.row
					+percentArrowValue(row)
					.description
						p !{row.description}
				if(row.info_line)
					.info-line-wrapper
						.patient-icon
						p.number !{row.info_line.number}
						if row.info_line.number_text
							p.text !{row.info_line.number_text}
	p.bottom-text !{bottom_text}
