include header-block
include folder-tablet

mixin patientFraming
	+headerBlock(content.headline, 'custom-title')
	p.lead-paragraph !{content.sub_header}
	.main-content
		+buildFolder({class: 'patient-profile'})
			+buildSpaftFolder(content.docs)
