include header-block
include folder-tablet
include pills


mixin patientSummary(images,icons)
	+headerBlock(headline, 'custom-title')
	p.lead-paragraph !{lead_paragraph}
	.slide-content-wrapper
		+buildPatientFolder(folder, {}, 'patient-profile-vp')
		.pills-scheme-wrapper
			+addPills(pills_content.pills_figure, images, icons)
			p.additional !{pills_content.additional}
