include header-block
include folder-tablet
include pills
-
	var
		images = [['assets/images/aspirin.png'], ['assets/images/pill-2.5.png', 'assets/images/pill-2.5.png']],
		icons = [[], ['assets/images/sun.png', 'assets/images/moon.png']];

mixin patientSummaryFragment(options, btn)
	if options
		-
			var
				foldersOptions = options.foldersOptions || false,
				folderCustomClasses = options.class || '',
				$isFolderFlipAnimation = options.isFolderFlipAnimation || false;
	+headerBlock(headline, 'custom-title')
	p.lead-paragraph !{lead_paragraph}
	figure.patients-summary-folders
		for $folder, index in patients_folders
			- var $options = foldersOptions ? foldersOptions[index] : {};
			if $isFolderFlipAnimation
				.folder-sides-wrapper&attributes($options)
					if btn
						- $options.popup = {}
					+buildPatientFolder($folder.front, $options, 'front-side ' + folderCustomClasses)
					+buildPatientFolder($folder.back, $options, 'back-side ' + folderCustomClasses)
			else
				+buildPatientFolder($folder, $options, folderCustomClasses)
	+addPills(pills_figure, images, icons)