include graph
include header-block
include footer-block
include caption-block

-
	var
	_graphs = [
		{g_scale_v: {min: 0, max: 3, step: 0.5}, g_scale_h: {min: 0, max: 12, step: 1}},
		{g_scale_v: {min: 0, max: 3, step: 1}, g_scale_h: {min: 0, max: 0, step: 0, labels: true}}
	],
	graphsObj = [{type: 'line'}, {type: 'bar'}],
	graphColors = {barColors: ['gray-bar', 'magenta-bar']},
	headerObj = {class: 'einstein-pe', reference: 'Büller:2012wm'};

each el, i in graphs
	- el.g_scale_v = Object.assign({}, el.g_scale_v, _graphs[i].g_scale_v)
	- el.g_scale_h = Object.assign({}, el.g_scale_h, _graphs[i].g_scale_h)

mixin peDvtEinsteinPooledSlide(popupId)
	+headerBlock(headline)
	figure.main-content
		+captionBlock(headerObj)
		.graphs-wrapper
			.graphs
				each graph, index in graphs
					.graph-wrapper
						+graph(graph, graphsObj[index].type, graphColors, false)
		ul.g-legend
			each li, index in graphs_legend
				li(class=graphColors.barColors[index]) !{li}
		if(popupId)
			button.info-button(data-popup=popupId)
	+footerBlock(line_props)
		p.bottom-paragraph !{chose_block}
	.injected-notes
		p !{note}