include header-block
include bullet-list
include arrows-block

mixin circlesBuilder(circles)
	.circles-wrapper
		each text in circles
			.circle
				- if (Array.isArray(text))
					each item in text
						p !{item}
				- else
					p !{text}

mixin peDvtVteTreatmentExtensionSlide(popupID)
	+headerBlock(headline)
	h2.lead-paragraph !{lead_paragraph}
	+circlesBuilder(circles_texts)
	+addHorizontalArrowsWrapper(arrows_texts, ['purple', 'magenta'])
	.bottom-list
		+bulletList(bullet_list, 'diamond-list')
	button.info-button.purple(data-popup=popupID)
