include header-block
include graph
include footer-block
include caption-block

mixin peDvtEfficacySlide(colorsList, graphScale, headerObjs)
	+headerBlock(headline)
		p.sub-header !{sub_header}
	.content-wrapper
		each graph, i in graphs
			- color = colorsList[i]
			.graph-wrapper
				+captionBlock(headerObjs[i])
				-
					graph.g_scale_v = Object.assign(graph.g_scale_v, graphScale.vertical)
					graph.g_scale_h = Object.assign(graph.g_scale_h, graphScale.horizontal)
				+graph(graph, "line", {barColors: color, arrowsColor: [['purple']]}, false)
				if graph.notes
					.efficacy-notes
						each note in graph.notes
							p !{note}
	+footerBlock(line_props)
