include header-block
include table-generator

mixin pedvtNOACAttributes(content, countCol)
	+headerBlock(content.headline)
	p.lead-paragraph !{content.lead_paragraph}
	.wrapper-table
		+tableGenerator(content.table, countCol, 'custom-table')