include header-block
include caption-block

mixin pedvtUnmedNeedB(content, options)
	+headerBlock(content.header)
	p.lead-paragraph !{content.lead_paragraph}
	.wrapper-main-content
		.main-content
			each item, index in content.list_info
				figure(class=options.classes[index]).info-item
					if item.top_block
						h2 !{item.top_block}
					if options.captions[index].class
						+captionBlock(options.captions[index])
					else
						p.top-caption.text !{options.captions[index]}
					if item.info_number
						p.info-number
							if options.animateIndex === index
								span.patient-icon
								span(class='count') !{item.info_number}
							else
								span.patient-icon
								span !{item.info_number}
					if item.info_sub_text
						p.info-sub-text !{item.info_sub_text}
					if item.info_bottom_text
						p.info-bottom-text !{item.info_bottom_text}
					if options.popups
						if options.popups[index]
							if options.popups[index].popup
								button(class='info-button purple' data-popup=options.popups[index].popup)
							else if options.popups[index].slideshow
								button(class='info-button purple' data-viewer='slideshow' href=options.popups[index].slideshow.path slide=options.popups[index].slideshow.slideId)
	if content.guidelines_text
		p.guidelines-text !{content.guidelines_text}
		button(class='info-button info-button-slideshow purple' data-popup=options.guidelinePopup)