mixin percentArrowValue(arrowText)
   .percent-value
      .bottom-arrow-wrapper
         .bottom-arrow
      .info-wrapper
         .number-wrapper
            p.number !{arrowText.number}
            div
               p.percent !{arrowText.percent}
               if(arrowText.abbr)
                  p.abbr !{arrowText.abbr}
         p.info !{arrowText.info}
      block