mixin piPopup(content)
	.text-wrap
		h1 !{content.headline}
		for text in content.info
			p !{text}
	if(content.copyright)
		p.copyright !{content.copyright}
	if(content.fpo)
		p.fpo-content !{content.fpo}
	if(content.approve_data)
		p.approve-data !{content.approve_data}