mixin addPills(items, images, icons)
	.pills-scheme
		for item, index in items
			figure
				.pills
					for image, indexImage in images[index]
						.pill-wrapper
							img.pill(src=image)
							.icon
								if(icons[index].length > 0)
									img(src=icons[index][indexImage])
				figcaption !{item.name}
				p !{item.description}
			if(index < items.length - 1)
				if(item.separator)
					p.custom-separator !{item.separator}
				else
					.plus
