include header-block
include graph
include footer-block
include caption-block



mixin realWorldPopup(options)
	each el, i in graphs
		- el.g_scale_v = Object.assign({}, el.g_scale_v, options._graphs[i].g_scale_v)
		- el.g_scale_h = Object.assign({}, el.g_scale_h, options._graphs[i].g_scale_h)

	+headerBlock(headline)
		p.sub-header !{sub_header}
	p.graph-caption !{graph_caption}
	.content-wrapper
		each graph, index in graphs
			.graph-wrapper
				+graph(graph, options.graphsObj[index].type, options.graphColors, false)
		ul.g-legend
			each li, index in graph_legend
				li(class=options.graphColors.barColors[index]) !{li}
	+footerBlock(line_props)
	.real-world-notes
		each note in notes
			p !{note}
