include header-block
include folder-tablet
include percent-arrow-value
include meeting-the-need-fragment

mixin buildSlide()
	+headerBlock(headline)
		if lead_header_label
			p.lead-header-label !{lead_header_label}
	p.lead-paragraph !{lead_paragraph}
	figure.pills-wrapper
		+addPills(pills_figure)
	.col-wrapper
		each column, index in columns
			.col
				if (column.arrow)
					+percentArrowValue(column.arrow)
				.description
					p !{column.description}
				- popupValue = popups[index]
				if (popupValue)
					if (popupValue.slideshow)
						button.info-button.purple(data-inline-slideshow=popupValue.slideshow slide=popupValue.popup)
					else
						button.info-button.purple(data-popup=popupValue)