include header-block
include caption-block
include graph
include patient-value
include bullet-list

mixin buildFragment(content, options)
	+headerBlock(content.headline)
	if content.lead_paragraph
		p.lead-paragraph !{content.lead_paragraph}
	.top-block
		+captionBlock(options.captionBlockParams)
		+buildPatientValue(content.patient_value)
	.content-wrapper.top-scale
		+graph(content.graph, 'bar', options.colors, false)
		+bulletList(content.list, options.listType)