include header-block
include table-generator
include graph-axis
include footer-block

mixin renalFunctionSlide(text, options, headerClass)
	if text.headline
		+headerBlock(text.headline, headerClass ? headerClass : '')
	if text.lead_paragraph
		p.lead-paragraph !{text.lead_paragraph}
	if text.title
		h2.title !{text.title}
	.main-content
		if text.figures
			for figure, figureIndex in text.figures
				figure
					if figureIndex == 1
						+tableGenerator(figure.table, 4,'animate-content')
					else
						+tableGenerator(figure.table, 4)
					.marker-lines
						each item, index in Array(3)
							.marker-line
								div(class="marker " + options.markers_colors[figureIndex][index])
					+setAxis(figure.g_scale.caption, 0, 2, 1, figure.g_scale.labels).g-scale-h
	if text.line_props
		+footerBlock(text.line_props).custom
			if options.popup
				button.info-button.purple(data-popup=options.popup)
			if text.notes
				.notes
					each note in text.notes
						p !{note}
