include header-block
include footer-block
include caption-block

mixin renalSafetySlide()
	+headerBlock(headline)
	p.lead-paragraph !{lead_paragraph}
	.content-wrapper
		+captionBlock(headerObj)
		each item in percent_blocks
			.percent-block
				.percent-image
				p.percent-value !{item.percent}
				p.percent-description !{item.description}
				.bottom-arrow-wrapper
					.bottom-arrow
	+footerBlock(line_props)
