include header-block
include caption-block
include footer-block

mixin percentArrowValue(arrowText, infoNumber)
	.percent-value
		.bottom-arrow-wrapper
			.bottom-arrow
		.info-wrapper
			.number-wrapper
				p.number !{arrowText.number}
				div
					p.percent !{arrowText.percent}
					p.abbr !{arrowText.abbr}
			p.info !{arrowText.info}

mixin addPercentArrows(arrowsBlocks)
	each arrowsBlock in arrowsBlocks
		figure.arrows-block(class = arrowsBlock.animationClass ? arrowsBlock.animationClass : '')
			figcaption !{arrowsBlock.caption}
			each arrow in arrowsBlock.arrows
				+percentArrowValue(arrow)


mixin rocketArrowsSlide(options, text)
	+headerBlock(text.headline)
	if text.lead_paragraph
		p.lead-paragraph !{text.lead_paragraph}
	figure.arrows-wrapper
		+captionBlock(options.topCaptionIcon)
			if text.caption_subheader
				p.caption-subheader !{text.caption_subheader}
		+addPercentArrows(text.arrows_blocks)
	+footerBlock(text.line_props, options.$linesAnimation)
		if text.notes
			.notes-block
				each note in text.notes
					p !{note}
	.info-button.purple(data-popup=options.popup)
