include header-block
include footer-block
include caption-block
include graph

mixin rocketIttSlide(options)
	+headerBlock(headline)
	+captionBlock(options.topCaptionIcon)
	+graph(graph, options.graph.type, options.graph.colors, options.graph.isAnimated)
	+footerBlock(line_props)
		if (notes)
			.notes
				each note in notes
					p !{note}
