include header-block
include footer-block
include caption-block
include graph

mixin safetySlide(colorsList, arrowColors, topCaptionsIcon)
	+headerBlock(headline)
	p.lead-text !{lead_text}
	.wrapper
		.graphs-wrapper
			each graph, index in graphs
				.graph-wrapper
					-
						graph.g_scale_v.min = 0
						graph.g_scale_v.max = 5
						graph.g_scale_v.step = 1
						graph.g_scale_h.min = 1
						graph.g_scale_h.max = 12
						graph.g_scale_h.step = 1
						graph.line_list = [{}]
					+captionBlock(topCaptionsIcon[index])
					+graph(graph, 'line', {barColors: colorsList[index], arrowsColor: arrowColors}, false)
					if graph.dosing
						ul.dosing
							each li in graph.dosing
								li !{li}
	+footerBlock(line_props)
