include header-block
include bullet-list

mixin safeAsAspirinAndExtensionPopup(texts, img)
	+headerBlock(texts.headline)
	if img
		img(src=img.path + img.name)
	+bulletList(texts.list, 'diamond-list')
