include header-block
include caption-block
include graph
include footer-block

mixin safeAsAspirinSafety1Popup(colorsList)
	+headerBlock(headline)
	.graph-wrapper
		+captionBlock(topCaptionIcon)
		+graph(graph, 'bar', colorsList, false)
	+footerBlock(info_data)