include header-block
include graph
include caption-block
include footer-block
-
	var
	colorsList = {barColors:['gray-bar', 'pink-bar', 'magenta-bar']}
	tabletsImages = ['20-mg-pill.png', '10-mg-pill.png']
	line_list = [{},{},{}]

mixin tabletsGenerator(tabletsImages, imgPath)
	if !imgPath
		- imgPath = 'shared/images/'
	.tablets-figures
		each tablet, index in tabletsImages
			figure
				img(src=imgPath + tablet)
				figcaption !{tablets[index].text}
				if tablets[index].comment
					p.comment !{tablets[index].comment}

mixin safeAsAspirinSafetySlide(headerObj, path, imgPath, images)
	if images
		- tabletsImages = images
	+headerBlock(headline)
	.content-wrapper
		figure.graph-wrapper
			+captionBlock(headerObj)
			- graph.line_list = line_list
			+graph(graph, 'line', colorsList, false)
				p.additional-arrow !{bottom_arrow}
		+tabletsGenerator(tabletsImages, imgPath)

	button.info-button.purple(data-inline-slideshow=path.slideshow slide=path.slide)

	+footerBlock(line_props)
		p.bottom-text
			| !{bottom_data}
			span !{bottom_data_additional}
