include header-block
include caption-block
include graph
include footer-block

- var legendColors = ['gray-bar', 'pink-bar', 'magenta-bar']
- var arrowColors = [['purple']]
-
	var
	topCaptionIcon = {
		class: 'einstein-choice',
		reference: 'Weitz:2017up'
	};

mixin safeAsAspirin(headerClass)
	+headerBlock(headline, headerClass ? headerClass : '')
	if lead_paragraph
		p.lead-paragraph !{lead_paragraph}
	+captionBlock(topCaptionIcon)
	.graphs-wrapper
		each graph in graphs
			.graph-wrapper
				-
					graph.g_scale_v.min = 0
					graph.g_scale_v.max = 5
					graph.g_scale_v.step = 1
					graph.g_scale_h.min = 1
					graph.g_scale_h.max = 12
					graph.g_scale_h.step = 1
					graph.line_list = [{}]

				+graph(graph, 'line', {arrowsColor: arrowColors}, false)
				ul.dosing
					each li in graph.dosing
						li.exclude-px !{li}
		ul.g-legend
			each li, i in legend
				li(class=legendColors[i]) !{li}
	+footerBlock(line_props)
		p.lead-text !{lead_text}