include header-block
include graph
include footer-block

mixin safeAsAspirinSafety2Popup(colorsList)
	+headerBlock(headline)
	.graph-wrapper
		p.preceding-text !{preceding_text}
		+graph(graph, 'bar', colorsList, false)
	+footerBlock(info_data)