-
	var
		$pills_img = ['assets/images/20mg.png', 'assets/images/15mg.png']
		$men_img = ['assets/images/man-1.png', 'assets/images/man-2.png', 'assets/images/man-3.png']

mixin safetyAndDosingSlide()
	h1 !{headline}
	if lead_paragraph
		p.lead-paragraph !{lead_paragraph}
	.inner-content
		each itemObj, index in items
			.block-wrapper
				.bar-animate-cover
					.bar
						if itemObj.bar_text
							p.text !{itemObj.bar_text}
				if itemObj.man_text
					.circle-items
						each item_text, index in itemObj.man_text
							.item
								.img-wrap
									img(src=$men_img[index])
								p.item-text !{item_text}
				.pill
					.img-wrap
						img(src=$pills_img[index])
						if itemObj.pill
							p.pill-text !{itemObj.pill}
					if itemObj.capture
						p.capture !{itemObj.capture}
	if bottom_text
		p.bottom-text !{bottom_text}
	if notes
		.notes
			each note in notes
				p !{note}
