include header-block
include graph
include bullet-list

mixin safetyProfile()
	+headerBlock(headline, 'custom-title')
	p.lead-paragraph !{sub_header}
	+graph(graph, graphType, colors)
		p.additional-description !{graph.additional_description}
	if bottom_note
		p.bottom-note !{bottom_note}
	if bottom_list
		h2.list-title !{bottom_list.title}
		+bulletList(bottom_list.items)
