mixin slider(options, customClass)
	- var sliderClass = customClass ? customClass: 'common-slider'
	.slider-wrapper(class = sliderClass data-module='ah-slider' data-stop-swipe)&attributes(options)
		.ui-slider-handle
		block