include header-block
include table-generator
include graph-axis
include footer-block

mixin yaoRenalSlide(text, options, headerClass)
	+headerBlock(text.headline, headerClass ? headerClass : '')
	if text.lead_paragraph
		p.lead-paragraph !{text.lead_paragraph}
	h2.title !{text.title}
	.main-content
		for figure, figureIndex in text.figures
			figure
				if figureIndex == 1
					+tableGenerator(figure.table, 4,'animate-content')
				else
					+tableGenerator(figure.table, 4)
				.marker-lines
					each item, index in Array(3)
						.marker-line
							div(class="marker " + options.markers_colors[figureIndex][index])
				+setAxis(figure.g_scale.caption, 0, 2, 1, figure.g_scale.labels).g-scale-h
	+footerBlock(text.line_props).custom
		button.info-button.purple(data-popup=options.popup)
		if text.notes
			.notes
				each note in text.notes
					p !{note}
