include header-block
include caption-block
include graph
include footer-block

mixin spafCardioRocketRenal(slidePopup, headerClass)
	+headerBlock(headline, headerClass ? headerClass : '')
	if lead_paragraph
		p.lead-paragraph !{lead_paragraph}
	.main-wrapper
		.left-block
			+captionBlock(graphInfo[0])
			+graph(graph, "bar", colors, false)
		.right-block
			+captionBlock(graphInfo[1])
			p.additional-text !{additional_text}
	if slidePopup
		.info-button(data-popup=slidePopup)
	+footerBlock(line_props)
		if(notes)
			.notes
				each item in notes
					p !{item}
		if(additional_notes)
			.additional-notes
				each item in additional_notes
					p !{item}
