include header-block
include folder-tablet
include brand-wheel

mixin spafComboWheel(curvesParams, imgPath, svgName)
	+headerBlock(content.headline)
	+createWheelFragment(curvesParams, imgPath, svgName)
	.main-content
		each el in content.docs
			+buildFolder({class: 'spaf-folder'})
				+buildSpaftFolder(el)
