include header-block
include folder-tablet
include bullet-list

mixin spafSummarySlide(text, options, folder)
	- var folderContent = folder || ''
	+headerBlock(text.headline)
		if (text.sub_headline)
			p !{text.sub_headline}
	.main-content
		+buildFolder({class: 'patient-profile'})
			+buildSpaftFolder(folderContent, options)
		ul.list
			for list_item in text.text_content
				li !{list_item}
	if text.notes
		.notes
			for note in text.notes
				p !{note}
