include header-block
include caption-block

mixin generateCell(data)
	p.title !{data.title}
	p.value !{data.value}
	if data.period
		p.period !{data.period}

mixin xantus(options)
	p.hidden(data-notes=options.notes)
		+headerBlock(headline)
		.content-wrapper
			+captionBlock(options.topCaptionIcon)
			figure
				for data in figure
					.row
						if Array.isArray(data)
							for value in data
								.cell
									+generateCell(value)
						else
							+generateCell(data)
			if options.popup
				.info-button.purple(data-popup=options.popup)
		.notes
			for note in additional_info
				p !{note}
