include superior-slide
include bullet-list

-
	var
		colors = {
			barColors: ['dark-gray-bar', 'green-bar'],
			arrowsColor: [['green']]
		},
		graphInfo = {
			class:'compass'
		};
	graph.g_scale_v = {
		caption: graph.g_scale_v.caption,
		min: 0,
		max: 10,
		step: 2
	};
	graph.g_scale_h = {
		caption: graph.g_scale_h.caption,
		min: 0,
		max: 3,
		step: 1
	};

mixin stoppedEarlySlide(popup)
	+comboSuperiorTemplate()
	if Array.isArray(list)
		+bulletList(list)
	else
		p.bullet.skrew !{list}
	if popup
		button.open-popup(data-popup=popup)
