include header-block
include graph
include caption-block
include footer-block

-
	var options = {};
	var legendColors = ['gray-bar', 'pink-bar', 'magenta-bar'];
	var arrowsColors = ['purple', 'lt-pink', 'magenta-purple'];
	var line_list = [{},{},{}];
	var captionParams = { class: 'einstein-choice', reference: 'Weitz:2017up' };

mixin superiorRiskReductionSlide()
	+headerBlock(headline)
	.content-wrapper
		figure
			+captionBlock(captionParams)
			- graph.line_list = line_list
			+graph(graph, 'line', { barColors: legendColors }, false)
				+horizontalArrow(bottom_arrow, 'additional-arrow')
				.arrows-wrapper
					each arrow, index in arrows
						+arrow(arrow, arrowsColors[index])
				.g-line-names
					each $name in line_names
						p !{$name}
	if options.popup
		button.info-button.purple(data-inline-slideshow=options.slideshow slide=options.slide)
	+footerBlock(line_props)
		p.bottom-paragraph !{bottom_data}
