include header-block
include caption-block
include graph
include percent-arrow-value

mixin comboSuperiorTemplate()
	+headerBlock(headline, 'custom-title')
	h2.lead-paragraph !{lead_paragraph}
	figure.main-wrapper
		if(graphInfo)
			+captionBlock(graphInfo)
		.graphs-wrapper
			+graph(graph, "line", colors, true)
		if right_side
			.right-side
				each $item in right_side
					.item
						p.caption !{$item.caption}
						+percentArrowValue($item)
		block
