include arrows-block
include header-block
include caption-block

-
	var $topCaptionIcon = {
		class: 'einstein-choice',
		reference: 'Weitz:2017up'
	};

mixin superiorRisk1PopupSlide(icon)
	+headerBlock(headline)
	figure
		- var captionIcon = icon || $topCaptionIcon;
		+captionBlock(captionIcon)
		p.top-description !{top_desc}
		.main-content
			.patients.circle
				p !{patients}
			.randomization.circle
				p !{randomization}
				p.number !{randomization_number}
			.drugs
				each p in drugs
					.item
						p !{p.general}
							|
							span.number !{p.count}
						if p.prefix
							p.prefix !{p.prefix}
			p.study !{study}
			p.day-periods !{days}
	+addHorizontalArrowsWrapper(arrows, ['purple', 'magenta'])
	p.diamond !{bullet}
