- var tableSections = {'thead':true, 'tbody':true, 'tfoot':false};

mixin _rowGenerator(value, index)
	- var _attr = {};
	- var _classValue = index.match(/class-([a-zA-Z0-9-]+)/);
	- if (_classValue) _attr[ "class" ] = _classValue[1];
	- var _spanValue = parseInt(index.slice(-1), 10);
	- var _typeSpan = index.indexOf('rowspanned') !== -1 ? "rowspan" : index.indexOf('colspanned') !== -1 ? "colspan" : '';
	- if (_typeSpan ) _attr[ _typeSpan ] = _spanValue;
	#{index.indexOf('th') !== -1 ? 'th' : 'td'}&attributes(_attr) !{value}

mixin _tableSection(section)
	each rows in section
		tr
			each row, index in rows
				+_rowGenerator(row, index)

mixin tableGenerator(tableObject, columns, customClass)
	table(class = customClass ? customClass : 'custom-table')
		if tableObject.caption
			caption !{tableObject.caption}
		colgroup
			each item in new Array(columns)
				col
		each section, key in tableObject
			- if(tableSections[key])
				#{key}
					+_tableSection(section)