include header-block
include arrows-block
include navigation-button

mixin tailoringDosageSlideTemplate(popupData, dosing_icons, navButtonOptions, arrowsColors)
    +headerBlock(headline)
    .content-wrapper
        .dosing-groups
            if dosing_groups
                each group, index in dosing_groups
                    figure
                        figcaption !{group.caption}
                        .pills-usage
                            p.usage !{group.usage}
                            .pill(class=dosing_icons[index])
                        p.dosing !{group.dosing}
                        if index === 0 && popupData
                           +navigationButton(popupData, navButtonOptions.caption, navButtonOptions.class)
                        if group.list
                            section
                                .list-wrapper
                                    p !{group.list.caption}
                                    ul
                                        each item in group.list.content
                                            li !{item}
                                p.risk-dosing.pill-20-mg !{group.risk_dosing}
                        if group.separator
                            p.circle !{group.separator}
        if h_arrows && arrowsColors
            +addHorizontalArrowsWrapper(h_arrows, arrowsColors)
