include header-block
include folder-tablet
include bullet-list

mixin tailoredProtectionSlide(txt, options)
	if options && options.imgProps
		+headerBlock(txt.headline, '', '', options.imgProps.img, true)
			.img-refs-notes
				sup(data-notes=options.imgProps.notes)
				sup !{options.imgProps.separator}
				sup(data-reference-id=options.imgProps.references)
	else
		+headerBlock(txt.headline, '', '', '', false)
	.items-wrapper
		- var _class = {class: (options ? options.class : false) || 'spaf-folder'}
		each item in txt.items
			.item
				if item.additional
					.main-content
						+buildFolder(_class)
							+buildSpaftFolder(item.additional)
				if    item.text.top
					p.top !{item.text.top}
				p.bottom !{item.text.bottom}
	if options && options.popup
		button.info-button.purple(data-inline-slideshow=options.slideshow slide=options.popup)
	if txt.guidelines
		p.guidelines-text !{txt.guidelines}
	if txt.note
		p.note !{txt.note}
	if txt.custom_footnote
		p.custom-footnote !{txt.custom_footnote}
