mixin _buildFigure(iconPath, path, caption, isActive)
	figure(class = isActive ? 'active' : '' data-goto=path)
		img(src=iconPath class=path ? false : 'disabled')
		figcaption !{caption}

mixin topOfMindNavigation(data, activeNumber)
	header
		h1 !{data.headline}

	.clusters-list
		each item, index in data.menu_items
			if (index + 1) === activeNumber
				+_buildFigure(_assetsPath + _icons[index] + '-pink.png', _path[index], item, true)
			else
				+_buildFigure(_assetsPath + _icons[index] + '.png', _path[index], item, false)

	.tiles
		each row, indexRow in _tiles
			.row
				each tile, index in row
					if tile.icon
						img(src=_assetsPath + tile.icon + '.png' data-goto=_tilesPathes[indexRow][index] class=_tilesPathes[indexRow][index] ? false : 'disabled').tile
					else
						img(src=_assetsPath + 'rhombus.png').tile
