include header-block

mixin checkMarkList(list)
	ul
		each li in list
			li
				span.check-mark
				| !{li}

mixin unmetNeedSlide()
	+headerBlock(headline, 'custom-title')
	p.lead-paragraph !{lead_paragraph}
	.content
		+checkMarkList(list)
		.right-side
			p.lead-text !{right_side.lead_text}
			.main-text
				p.big-number !{right_side.main_text.big_number}
				p.text !{right_side.main_text.text}
			p.description !{right_side.description}