include header-block
include percent-arrow-value

mixin vascularProtectionSlide()
    +headerBlock(headline)
    p.lead-paragraph !{lead_paragraph}
    figure
        img(src='assets/images/man.png')
        .row
            each column in columns
                .column
                    each item in column.items
                        .item
                            .caption
                                p !{item.caption}
                                .line-wrapper
                                    .line
                            +percentArrowValue(item)
                    each item in column.additional_block
                        .info-line-wrapper
                            .patient-icon
                            p.number !{item.number}
                            if item.text
                                p.text !{item.text}
