include header-block
include percent-arrow-value

mixin vascularManSlide()
   +headerBlock(headline, 'custom-title')
   p.lead-paragraph !{lead_paragraph}
   figure
      img(src='assets/images/man.png')
      .left-side
         each $item in left_side
            .item
               .caption
                  p !{$item.caption}
                  .line-wrapper
                     .line
               +percentArrowValue($item)
      .right-side
         +percentArrowValue(right_side)

