include header-block
include folder-tablet
include brand-wheel

- var imgPath = 'assets/images/circle-green.png'

mixin wheelSlide(curvesParams, img, svgId, reverse=false)
	+headerBlock(headline, 'custom-title')
	p.lead-paragraph !{lead_paragraph}
	.content-wrapper
		if reverse
			if !img
				+createWheelFragment(curvesParams, imgPath, svgId)
			else
				img(src='assets/images/' + img)
			+buildFolder({class: 'spaf-folder'})
				+buildSpaftFolder(folder)
		else
			+buildFolder({class: 'spaf-folder'})
				+buildSpaftFolder(folder)
			if !img
				+createWheelFragment(curvesParams, imgPath, svgId)
			else
				img(src='assets/images/' + img)
