include header-block
include table-generator
include graph-axis
include caption-block
include patient-value

mixin yaoRenalSlide(options)
	+headerBlock(headline, options.headerClass ? options.headerClass: '')
	if lead_paragraph
		p.lead-paragraph !{lead_paragraph}
	.main-content
		.left
			+captionBlock(options.caption)
			p.text !{left.text}
			+buildPatientValue(left.value)
		.right
			h2 !{right.headline}
			+buildPatientValue(right.value)
			figure
				+tableGenerator(right.table, 4)
				.marker-lines
					each item, index in Array(3)
						.marker-line(class=options.markers_colors[index])
							.marker
				+setAxis(right.g_scale.caption, 0, 2, 1, right.g_scale.labels).g-scale-h
	if guidelines_text
		p.guidelines-text !{guidelines_text}
	if(options.popup)
		- var $attributes = options.href ? {'data-viewer': 'slideshow', href: options.href, slide: options.popup} : {'data-popup': options.popup}
		.info-button.purple&attributes($attributes)
	if(note)
		p.note !{note}
