
<article class="slide" id="SpafCardioRenalFunctionSlide">
  <p class="hidden" data-notes="number_includes based_on_mean_14 rrr egfr hr ci vka rwe aki esrd"></p>
  <header>
    <h1>For Peace of Mind, Consider the<br> Effect of Treatment on their<br> Renal Function</h1>
  </header>
  <div class="main-content">
    <div class="left">
      <figcaption class="top-caption"><img class="rocket-af" src="././shared/images/rocket-af.png"/><sup data-reference-id="Patel:2011tj,FordyceCB:2016vs"></sup>
      </figcaption>
      <p class="text"><b>Significantly better</b><br> preservation of renal<br> function vs warfarin<br> <b>over 21 months</b><sup data-notes='based_on_mean_14'></sup></p>
      <div class="patient-value">
        <div class="patient-icon"></div>
        <p>12,612<sup data-notes='number_includes'></sup></p>
      </div>
    </div>
    <div class="right">
      <h2>Independent Retrospective<br> Cohort Analysis US Database<sup data-reference-id='Yao:2017wu'></sup></h2>
      <div class="patient-value">
        <div class="patient-icon"></div>
        <p>6,670</p>
      </div>
      <figure>
        <table class="custom-table">
          <colgroup>
            <col/>
            <col/>
            <col/>
            <col/>
          </colgroup>
          <thead>
            <tr>
              <th></th>
              <th class="magenta-item">Favours<br><span>Xarelto</span></th>
              <th class="dark-grey-item">Favours<br><span>warfarin</span></th>
              <th class="light-grey-item">RRR</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th class="violet-item">&ge;30% decline in eGFR</th>
              <td class="light-pink-item"></td>
              <td></td>
              <td><b>–27%</b><br>p&lt;0.001</td>
            </tr>
            <tr>
              <th class="violet-item">Doubling<br> of serum creatinine</th>
              <td class="light-pink-item"></td>
              <td></td>
              <td><b>–54%</b><br>p&lt;0.01</td>
            </tr>
            <tr>
              <th class="violet-item">Acute<br> kidney injury</th>
              <td class="light-pink-item"></td>
              <td></td>
              <td><b>–31%</b><br>p&lt;0.001</td>
            </tr>
          </tbody>
        </table>
        <div class="marker-lines">
          <div class="marker-line purple-item">
            <div class="marker"></div>
          </div>
          <div class="marker-line purple-item">
            <div class="marker"></div>
          </div>
          <div class="marker-line purple-item">
            <div class="marker"></div>
          </div>
        </div>
        <div class="g-scale g-scale-h">
          <ul>
            <li><span>0.25</span></li>
            <li><span>1</span></li>
            <li><span>2.5</span></li>
          </ul>
          <p class="g-scale-label">HR (95% CI)</p>
        </div>
      </figure>
    </div>
  </div>
  <p class="note">Deliver the added benefit of better preserved renal function<br> vs VKA, especially for those with diabetes<sup data-reference-id='Patel:2011tj,FordyceCB:2016vs-Bonnemeier:2019wx'></sup></p>
</article>