include ../../pug_fragments/yao-renal-fragment

-
	var options = {
		markers_colors: ["purple-item", "purple-item", "purple-item"],
		popup: '',
		caption: {
			class: 'rocket-af',
			reference: 'Patel:2011tj,FordyceCB:2016vs'
		}
	}

article.slide#SpafCardioRenalFunctionSlide
	p.hidden(data-notes='number_includes based_on_mean_14 ci crcl egfr hr rrr vka')
	+yaoRenalSlide(options)
