@import '../../global_styles/yao-renal-slide'

$columns = (126 117 115 73)
$markers_styles = {top: 71, left: 178, width: 43, markerLeft: 18} {top: 135, left: 134, width: 70, markerLeft: 23} {top: 198, left: 168, width: 50, markerLeft: 28}

#SpafCardioRenalFunctionSlide
	yaoRenalSlide(color_brand_purple, $columns, $markers_styles)
	padding 30px 57px 30px 70px
	.main-content
		margin 42px auto 10px
		width 899px
		> div
			height 349px
	.top-caption
		height 20px
	.text:before
		top -16px
		left -67px
		width 53px
		background url(assets/images/mark.png) top left / 100% auto no-repeat

	h1
		margin-right 14px
		letter-spacing 0

	.left
		flex-basis 49.8%
		margin-top 3px
		padding-left 71px
		border-right 1px solid color_brand_purple
		.text
			margin-left 10px
			line-height 1.2
			letter-spacing 0
			sup
				font-weight 900
		.patient-value
			left 296px
			width 113px

	.right
		padding-left 34px
		h2
			margin 0
			text-indent 14px
		table
			margin-top 25px
		.patient-value
			left 371px
			top 2px

	tbody
		th
			padding 3px 0 0 13px
		td
			padding 9px 0
		tr
			&:last-of-type
				.violet-item
					padding 15px 0 5px 15px
			td:last-of-type
				padding-top 9px
			&:last-of-type
				td:last-of-type
					padding-top 16px

	.g-scale-h
		width 222px
		margin 13px 0 0 127px

	.note
		left 50%
		bottom 68px
		width 710px
		font 900 20px/1.15 FrutigerLtCom
		letter-spacing 0
		text-align center
		color color_brand_purple
		transform translateX(-50%)

	.dark-grey-item
		background-color color_brand_gray4

	.light-grey-item
		background-color color_brand_cool_gray
#presentation #ahRefsNotesPopup.custom-refs-notes-popup .SpafCardioRenalFunctionSlide_notes .footnotes
	display block
	padding-top 8px
#presentation #ahRefsNotesPopup.custom-refs-notes-popup .auto-references-popup .scroll .abbrs p:nth-of-type(4)
	&:after
		content ''
		display block