.auto-references-popup
	.scroll
		.scroll-element
			.refs-wrapper
				h1.common !{ref_head}
				h1.single !{ref_head_single}
				ul.references
			.notes-wrapper
				h1.common !{notes_head}
				h1.single !{notes_head_single}
				.notes-data
					.abbrs
					ul.footnotes
	button.x &#8855;