include ../../pug_fragments/cv-death-slide

-
	var
		options = {
			caption: {
			class:'aristotle',
			reference: 'Ezekowitz:2015up'
		}
	}

article.slide#SpafCardioCvDeath2PopupSlide
	p.hidden(data-reference-id='Patel:2011tj,Bansilal:2015fn,Ezekowitz:2015up' data-notes='cv nvaf af yr hr ci rrr arr ich bmi rri se ns noac vascular_death isth_major')
	+buildFragment(options)
