@import '../../global_styles/color-scheme'
@import '../../global_styles/cv-death-slide'

$columns = 73 94 95 79
$markers_styles = {top: 67, left: 137, width: 45, markerLeft: 22} {top: 130, left: 123, width: 47, markerLeft: 19} {top: 199, left: 142, width: 44, markerLeft: 20}

#SpafCardioCvDeath2PopupSlide
	buildFragment(color_brand_purple, $columns, $markers_styles)
	.marker
		&:before
			border-bottom-color color_brand_gray
		&:after
			border-top-color color_brand_gray
	.left
		padding-top 2px
		.top-caption
			height 17px
	tbody
		tr
			&:nth-of-type(2)
				th
					padding 33px 0 20px 9px
	.info-line-wrapper
		border-color color_brand_gray4
		.column
			height 30px
			&:after
				background-image radial-gradient(circle, color_brand_gray4 .2px, transparent 1px)
			&:nth-of-type(2)
				padding 0 6px 0 8px
			&:nth-of-type(3)
				padding 0 7px 0 8px
			&:last-of-type
				padding 0 0 0 4px
				.count
					margin-left 2px
		.patient-icon
			&:before
			&:after
				background-color color_brand_gray4
		.count
			margin-left 2px
		p
			color color_brand_gray4
		strong
			font 900 9px / 1.2 FrutigerLtCom