include ../../pug_fragments/header-block
include ../../pug_fragments/table-generator
include ../../pug_fragments/graph-axis
include ../../pug_fragments/patient-value

-
	var options = {
		markers_colors: ['purple-item', 'purple-item']
	}

article.slide#SpafCardioPeaceOfMindSlide
	+headerBlock(headline)
	figure
		figcaption !{figcaption}
		+buildPatientValue(value)
		+tableGenerator(table_data, 4)
		.marker-lines
			each item, index in Array(2)
				.marker-line(class=options.markers_colors[index])
					.marker
		+setAxis(g_scale.caption, 0, 2, 1, g_scale.labels).g-scale-h
		p.description !{description}
	p.bottom-text !{note}
	p.hidden(data-notes='aki ci esrd hr rrr rwe vka')
