@import '../../global_styles/color-scheme'
@import '../../global_styles/table-mixins'

$color_local_light_pink = #fce5f3
$infoLineColor = color_brand_purple
$columns = (126 115 115 73)

markersParams = {top: 135, left: 178, width: 51, markerLeft: 25} {top: 201, left: 138, width: 44, markerLeft: 28}

#SpafCardioPeaceOfMindSlide
	h1
		letter-spacing 0
	header
		margin-bottom 40px
	.patient-value
		position absolute
		top 2px
		left 100%
		margin-left 22px
		padding 5px 8px 5px 0
		border-top-color $infoLineColor
		border-bottom-color $infoLineColor
		p
			font-size 26px
			letter-spacing -1.3px
			color $infoLineColor
		.patient-icon
			&:before
			&:after
				background-color $infoLineColor
	figure
		position relative
		margin 0 auto
		width 422px
		figcaption
			margin 0 0 38px 6px
			color color_brand_purple
			font 700 20px / 1.2 FrutigerLtCom
			letter-spacing -.2px
	.marker-line
		for markerParams, index in markersParams
			&:nth-of-type({index + 1})
				top unit(markerParams['top'], 'px')
				left unit(markerParams['left'], 'px')
				width unit(markerParams['width'], 'px')
				.marker
					left unit(markerParams['markerLeft'], 'px')
	table
		text-align center
		font-size 18px
		color color_brand_white
		b
			font 900 16px / 1 FrutigerLTCom
	thead
		font 700 14px / 1 FrutigerLTCom
		th
			padding 11px 0 8px
			&:nth-of-type(3)
				border-right 1px solid color_brand_black
		span
			font-size 1.2em
			font-weight 900
	tbody
		background color_brand_white
	td
		&:not(:last-of-type)
			border-right 1px solid color_brand_black
		&:last-of-type
			color color_brand_black
			letter-spacing .2px
	tbody
		th, td
			padding 16px 0
			letter-spacing -.4px
			line-height 1.15
			font-size 17px
		th
			padding 23px 0 23px 10px
			text-align left
			line-height 1.2
	col
		setColWidth($columns)
	.magenta-item
		font-size 13px
		padding 9px 0 8px
		background-color color_brand_magenta
		span
			font-size 17px
	.light-grey-item
		padding-bottom 9px
		font 900 1.1em / 1 FrutigerLtCom
		color color_brand_black
		background-color color_brand_cool_gray
	.dark-grey-item
		background-color color_brand_gray4
	.grey-item
		background-color color_brand_gray_light1
		border-right 1px solid color_brand_white
	.violet-item
		background purple_gradient_to_right
	.light-pink-item
		background-color $color_local_light_pink
	.marker-lines
		position absolute
		top 0
		left 0
	.marker-line:after
		height 0
	.g-scale-h
		width 227px
		margin-top 7px
		margin-left 123px
		li
			&:first-of-type
				visibility visible
			span
				padding-top 7px
		p
			padding-top 22px
			font-size 14px
			letter-spacing -.1px
	.description
		position absolute
		margin-top 59px
		font-size 14px
		left 0
		right 0
		margin-left 50px
		letter-spacing -.2px
		text-align center
	.bottom-text
		position absolute
		left 0
		right 0
		margin auto
		bottom 68px
		font-size 20px
#presentation #ahRefsNotesPopup.custom-refs-notes-popup .SpafCardioPeaceOfMindSlide_notes .footnotes
	display block
	padding-top 8px
#presentation #ahRefsNotesPopup.custom-refs-notes-popup .auto-references-popup .scroll .abbrs p:nth-of-type(4)
	&:after
		content ''
		display block