<div class="FollowUpMail">
    <div class="mail">
        <h1>Follow-Up Mail Attachments</h1>

        <div class="attachments">
            <div data-module="ap-media-library" attachment id="ap-media-library_471147114711"></div>
        </div>
        <div class="sendButton">New Follow-Up Mail</div>
        <div class="clearButton">Clear</div>
    </div>
    <div class="library">
        <div data-module="ap-media-library" followupmail prefilterattributestobesearched="referenceId" prefiltersearchterms=" "></div>
    </div>
</div>
