@import '../../global_styles/color-scheme'

#SpafCardioDiabetesIntroductionSlide
	padding-top 212px
	.content-wrapper
		position relative
		display flex
		justify-content space-between
		align-items center
		padding 0 5.7% 0 8.5%
		&:before
			content ''
			position absolute
			width 1px
			height 85%
			top 6px
			left 50%
			background-color color_brand_purple
	.text-item
		margin-bottom 51px
		font 400 24px / 1.15 FrutigerLTcom
		letter-spacing -.7px
		text-align center
		color color_brand_purple
		span
			position relative
			display inline-block
			font-size 41px
			margin-bottom 40px
			&:before
				content ''
				position absolute
				width 100%
				height 1px
				bottom -2px
				left 0
				background-color color_brand_magenta
		mark
			display inline-block
			margin-bottom 10px
			font 900 131px / 1.2 FrutigerLTComXBlkCn
	@media only screen and (min-width: 1152px)
		.content-wrapper
			padding 0 8% 0 12%
