
<article class="slide" id="SpafCardioDiabetesIntroductionSlide">
  <p class="hidden" data-notes="cv"></p>
  <div class="content-wrapper">
    <p class="text-item"><span>More than</span><br><mark>70%</mark><br>of patients with diabetes<br> die from CV events,<br> including stroke<sup data-reference-id='Laakso:2010wq'></sup></p>
    <p class="text-item"><span>Up to</span><br><mark>1 in 3</mark><br>patients with diabetes<br>also have impaired<br>renal function<sup data-reference-id='Molitch:2004vg'></sup></p>
  </div>
</article>