
<article class="slide" id="SpafCardioHasBledPopupSlide">
  <header>
    <h1>Trust that Xarelto<sup>&reg;</sup> has been Thoroughly<br> Tested in High-risk Patients like Yours<sup data-reference-id='Patel:2011tj,Sherwood:2015up'></sup></h1>
  </header>
  <figure class="graph">
    <div class="g-scale g-scale-v">
      <ul>
        <li><span>0</span></li>
        <li><span>10</span></li>
        <li><span>20</span></li>
        <li><span>30</span></li>
        <li><span>40</span></li>
        <li><span>50</span></li>
        <li><span>60</span></li>
        <li><span>70</span></li>
      </ul>
      <p class="g-scale-label">STUDY POPULATION WITH HAS-BLED SCORE &ge;3 (%)</p>
    </div>
    <div class="g-scale g-scale-h">
      <ul>
      </ul>
    </div>
    <p class="g-label"><strong>Patient distribution<br> according to HAS-BLED score &ge;3</strong></p>
    <div class="g-content">
      <div class="g-bar-nest">
        <div class="g-bar gray-bar">
          <p class="g-bar-value">10%</p>
          <div class="g-additional-value-wrapper">
            <div class="patient-icon"></div>
            <p class="g-additional-value">1,252</p>
          </div>
        </div>
        <p class="g-nest-name">RE-LY<sup data-reference-id='Connolly:2009wn,EikelboomJ.W:2013tz'></sup><br> <small>dabigatran 110 mg</small></p>
      </div>
      <div class="g-bar-nest">
        <div class="g-bar gray-bar">
          <p class="g-bar-value">23%</p>
          <div class="g-additional-value-wrapper">
            <div class="patient-icon"></div>
            <p class="g-additional-value">4,172</p>
          </div>
        </div>
        <p class="g-nest-name">ARISTOTLE<sup data-reference-id='Granger:2011hx,LopesR.D:2012uk'></sup><br> <small>apixaban</small></p>
      </div>
      <div class="g-bar-nest">
        <div class="g-bar gray-bar">
          <p class="g-bar-value">46%</p>
          <div class="g-additional-value-wrapper">
            <div class="patient-icon"></div>
            <p class="g-additional-value">9,802</p>
          </div>
        </div>
        <p class="g-nest-name">ENGAGE AF<sup data-reference-id='Giugliano:2013tc,KatoE.T:2016uf'></sup><br> <small>edoxaban</small></p>
      </div>
      <div class="g-bar-nest">
        <div class="g-bar magenta-bar zoom-in-text">
          <p class="g-bar-value">62%</p>
          <div class="g-additional-value-wrapper">
            <div class="patient-icon"></div>
            <p class="g-additional-value">8,894</p>
          </div>
        </div>
        <p class="g-nest-name"><sup data-reference-id='Patel:2011tj,Sherwood:2015up'></sup><br> Xarelto</p>
      </div>
    </div>
    <div class="arrow-wrapper">
      <div class="directional-arrow"></div>
    </div>
    <p class="directional-arrow-caption">Increasing inherent bleeding risk</p>
  </figure>
  <div class="notes">
    <p>CHADS<sub>2</sub>-score is used to estimate stroke risk in patients with NVAF. HAS-BLED score is used to estimate major bleeding risk in patients with NVAF.</p>
    <p>ROCKET AF mean CHADS<sub>2</sub>-score 3.5; ENGAGE AF mean CHADS<sub>2</sub>-score 2.8; ARISTOTLE mean CHADS<sub>2</sub>-score 2.1; RE-LY mean CHADS<sub>2</sub>-score 2.1<sup data-reference-id='Patel:2011tj,Connolly:2009wn,Granger:2011hx,Giugliano:2013tc'></sup></p>
  </div>
  <p class="hidden" data-notes="hr ci rrr arr ich bmi nvaf cv af gi vascular_death fatal_bleeding" data-reference-id="Bansilal:2015fn,Patel:2011tj,Sherwood:2015up,Connolly:2009wn,EikelboomJ.W:2013tz,Granger:2011hx,LopesR.D:2012uk,Giugliano:2013tc,KatoE.T:2016uf,KirchhofP:2017vn"></p>
</article>