include ../../pug_fragments/has-bled-scores-fragment
-
	var options = {
		graph: {
			type: 'bar',
			colors: {
				barColors: [
					"gray-bar",
					"gray-bar",
					"gray-bar",
					"magenta-bar zoom-in-text"
				]
			},
			isAnimated: false
		},
		isKeyMessageAnimated: false
	}

-
	graph.g_scale_h = {}
	graph.g_scale_v.min = 0
	graph.g_scale_v.max = 70
	graph.g_scale_v.step = 10
	graph.g_scale_h.min = 1
	graph.g_scale_h.max = 0
	graph.g_scale_h.step = 0

article.slide#SpafCardioHasBledPopupSlide
	+hasBledScoresSlide(options)
	p.hidden(data-notes='hr ci rrr arr ich bmi nvaf cv af gi vascular_death fatal_bleeding' data-reference-id='Bansilal:2015fn,Patel:2011tj,Sherwood:2015up,Connolly:2009wn,EikelboomJ.W:2013tz,Granger:2011hx,LopesR.D:2012uk,Giugliano:2013tc,KatoE.T:2016uf,KirchhofP:2017vn')
