@import '../../global_styles/has-bled-scores-fragment'

$gBarHeights  = 46px 104px 214px 288px

#SpafCardioHasBledPopupSlide
	hasBledScoresSlide()
	padding 30px 50px
	header
		margin-top 17px
	h1
		font-size 37px
		line-height 1.1
	.graph
		margin 73px auto 0 160px
	.arrow-wrapper
		top 198px
		left 63px
		transform rotate(-34.3deg) translate(0)
	.notes
		bottom 49px
		max-width 77%
		font-size 10px
		letter-spacing -.45px
		p
			display block
			&:nth-of-type(2)
				letter-spacing -.37px
		sub
			bottom 0
	.g-nest-name
		font-size 15px
		line-height 1
	.g-bar
		&.gray-bar
			background-color color_brand_gray4
	@media only screen and (min-width: 1152px)
		.graph
			margin 73px auto
