include ../../pug_fragments/header-block
include ../../pug_fragments/caption-block
-
	const topCaption = {
		class: 'xantus-pooled',
		reference: 'KirchhofP:2017vn'
	};
	const infoBlocksClasses = ['', 'big-number', '', 'big-number'];

article.slide#SpafCardioXantusPooledPopupSlide
	p.hidden(data-reference-id = 'Bansilal:2015fn,Patel:2011tj,Sherwood:2015up,Connolly:2009wn,EikelboomJ.W:2013tz,Granger:2011hx,LopesR.D:2012uk,Giugliano:2013tc,KatoE.T:2016uf,KirchhofP:2017vn')
	p.hidden(data-notes = 'vascular_death_4 fatal_bleeding hr ci rrr arr ich bmi nvaf cv af gi')
	+headerBlock(headline)
	+captionBlock(topCaption)
	.patients-map
		each block, index in scheme_blocks
			.info-block(class = infoBlocksClasses[index])
				p.lead-text !{block.lead_text}
				p.value !{block.value}
				if block.small_text
					p.small-text !{block.small_text}
	.bottom-notes
		each note in bottom_notes
			p !{note}
