@import '../../global_styles/color-scheme'

infoBlocks = (95 -133 left) (-116 194 center (0 4 5 6)) (95 484 right) (241 207 center (0 0 2 0))

setInfoBlocks($blocks)
	for $block, index in $blocks
		&:nth-of-type({index + 1})
			top unit($block[0], px)
			left unit($block[1], px)
			text-align $block[2]
			if $block[3] isnt null
				.lead-text
					margin unit($block[3][0], px) unit($block[3][1], px) unit($block[3][2], px) unit($block[3][3], px)

#SpafCardioXantusPooledPopupSlide
	padding 48px 49px 0
	header
		margin-bottom 18px
	h1
		font 900 36px / 1.1 FrutigerLTCom
		letter-spacing 0
	.top-caption
		justify-content center
		padding-right 11px
		*[data-reference-id]
			margin -21px -20px 0
			font-size 16px
			color color_brand_purple
	.patients-map
		position relative
		margin 132px auto 0
		transform translateX(-9px)
		width 510px
		height 262px
		background url(assets/images/xantus-map.png) 0 0 / contain no-repeat
	.info-block
		setInfoBlocks(infoBlocks)
		position absolute
		color color_brand_purple
		.lead-text
			padding-bottom 3px
			white-space nowrap
			text-align center
			font-size 23px
			line-height 1.1
			border-bottom 1px solid color_brand_magenta
		.value
			font 900 44px / .95 FrutigerLTComXBlkCn
			letter-spacing -1.1px
			color color_brand_magenta
		.small-text
			letter-spacing -.7px
		&.big-number
			.lead-text
				font-size 15px
				line-height 1.2
				letter-spacing -.15px
				span
					letter-spacing .3px
			.value
				font-size 51px
	.bottom-notes
		margin-top 52px
		font 400 10px / 1.1 FrutigerLTCom
		letter-spacing -.5px
		p:not(:last-of-type)
			margin-bottom 6px
