defaultDuration = 1
defaultFloatDuration = 3
defaultDelay = 0
defaultScale = .65
defaultSlideInDownDistance = -100

@keyframes float
	0%, .01%
		transform translateY(0)
	50%
		transform translateY(-10px)
	100%
		transform translateY(0)

zoomInAnimation(selector, $scale = defaultScale, $duration = defaultDuration, $delay = defaultDelay)
	{selector}
		transform scale($scale)
	&.state-animate
		{selector}
			transform scale(1)
			transition transform unit($duration, 's') unit($delay, 's')

zoomOutAnimation(selector, $scale = defaultScale, $duration = defaultDuration, $delay = defaultDelay)
	{selector}
		transform scale(1)
	&.state-animate
		{selector}
			transform scale($scale)
			transition transform unit($duration, 's') unit($delay, 's')

fadeInAnimation(selector, $duration = defaultDuration, $delay = defaultDelay)
	{selector}
		opacity 0
	&.state-animate
		{selector}
			opacity 1
			transition opacity unit($duration, 's') unit($delay, 's')

fadeOutAnimation(selector, $duration = defaultDuration, $delay = defaultDelay)
	{selector}
		opacity 1
	&.state-animate
		{selector}
			opacity 0
			transition opacity unit($duration, 's') unit($delay, 's')

fadeInToRightAnimation(selector, $width = 100%, $duration = defaultDuration, $delay = defaultDelay)
	fadeInAnimation(selector + ' > div', $duration, $delay)
	{selector}
		overflow hidden
		width 0
	&.state-animate
		{selector}
			width $width
			transition width unit($duration, 's') unit($delay, 's')

floatAnimation(selector, $duration = (defaultFloatDuration * 2))
	&.state-animate
		{selector}
			animation float unit($duration, 's') ease-in-out infinite

slideInDownAnimation(selector, $distance = defaultSlideInDownDistance, $duration = defaultDuration, $delay = defaultDelay)
	{selector}
		opacity 0
		transform translate3d(0, unit($distance, '%'), 0)
	&.state-animate
		{selector}
			opacity 1
			transform translate3d(0, 0, 0)
			transition transform unit($duration, 's') unit($delay, 's'), opacity unit($duration, 's') unit($delay, 's')
