$color_violet = #AD9CC1
// @stylint off
@-ms-viewport
	width 1024px
	height 768px
	initial-scale 1
	minimum-scale 1
	maximum-scale 1
// @stylint on

*
	margin 0
	padding 0
	-webkit-tap-highlight-color transparent
	tap-highlight-color transparent
	touch-callout none
	user-select none

button
	display block
	border 0
	border-radius 0
	background-color transparent
	appearance none

input,
textarea
	border 0
	border-radius 0
	outline 0
	appearance none

input[type=text],
input[type=number],
textarea
	user-select auto

input:focus::input-placeholder,
textarea:focus::input-placeholder
	opacity 0

fieldset
	border 0

label
	display block

ul
	list-style none

sub
	font-size 60%

#slideshows, #presentation
	/*This code fix transition presentation after tap on iPad*/
	position absolute
	top 0
	left 0
	width 100%
	height 100%
	overflow hidden

.slideWrap
	.slide
		&.active
			display block
			backface-visibility hidden
			perspective 1000

.slide
	box-sizing border-box
	position absolute
	width 100%
	height 100%
	will-change transform
	.footnote
		position absolute
		bottom 0
		left 0
		padding 0 0 20px 20px

#mainfooter
	height 0
	overflow visible

#popup-wrapper,
.popup-wrapper
	width 100%
	height 100%
	position absolute
	top 0
	left 0
	background rgba(125, 125, 125, .9)
	z-index 10001
	display none

.popup-wrapper.displaying
	display block

#popup-wrapper
	&.show
		display block
	.popup
		display none
		background white
		border-top-right-radius 20px
		border-bottom-left-radius 20px
		border 1px solid $color_violet
		box-shadow 0 6px 6px rgba(0, 0, 0, .4)
		position relative
		&.show
			display block

.test-zero-transitions
	*
		transition-delay 0s!important
		transition-duration 0s!important
		animation-delay 0s!important
		animation-duration 0s!important