@import 'color-scheme'

$arrowBackgroundProperties = center \/ contain no-repeat
$sharedPath = '../../shared/images/'
$magentaArrow = 'magenta-arrow.png'
$purpleArrow = 'purple-arrow.png'
$ltPinkArrow = 'lt-pink-arrow.png'
$magentaPurple = 'magenta-purple-arrow.png'

.arrows-block,
.h-arrows-wrapper
	display flex
	justify-content space-between
	margin 0

.arrows-block
	> figcaption
		position absolute

.arrow-container,
.h-arrow
	text-align center
	color color_brand_white

.arrow-container
	font 400 19px / 1.1 FrutigerLTCom
	letter-spacing -.4px
	strong
		letter-spacing 0
	span
		display inline-flex
	figcaption
		font-size .8em
		color color_brand_black
		strong
			font-size 1.2em
			font-weight 700
.arrow
.graph .arrow
	position relative
	width 170px
	text-align center
	letter-spacing -.3px
	strong
		font 900 1.75em / 1 FrutigerLTComUlBlk
		letter-spacing 0
	small
		line-height 1
	&.magenta
		background url($sharedPath + $magentaArrow) 50% / contain no-repeat
	&.purple
		background url($sharedPath + $purpleArrow) 50% / contain no-repeat
	&.magenta-purple
		background url($sharedPath + $magentaPurple) 50% / contain no-repeat
	&.lt-pink
		background url($sharedPath + $ltPinkArrow) 50% / contain no-repeat
	&.green
		&:before
		&:after
			display none
		p
			padding 41px 0 0 2px
			width 100%
			height 100%
			background url($sharedPath + 'arrow-green.png') center / 177px 188px no-repeat
		span
			display block
		strong
			font 900 59px / .9 FrutigerLTComXBlkCn
			line-height .9
			letter-spacing -2.8px
		small
			display block
			font 400 35px / .9 FrutigerLTCom
			&:first-of-type
				padding-top 4px
			&:last-of-type
				font-weight 700
				font-size 16px
				letter-spacing .1px
				padding-left 6px

.h-arrow
	font 400 15px / 1.1 FrutigerLTCom
	strong
		font-weight 900
	&.magenta
		background magenta_gradient_to_right $arrowBackgroundProperties
	&.purple
		background purple_gradient_to_right $arrowBackgroundProperties

.arrows-blocks-info
	&.magenta
		background magenta_gradient_to_bottom
	&.purple
		background purple_gradient_to_right
