@import 'color-scheme'
@import 'animation'

dottedBorderGradient = radial-gradient(circle at center, color_brand_black 10%, transparent 50%)

$pseudoElement
	content ''
	position absolute
_setBarHeights(barHeights)
	.g-bar-nest
		for nestItem, nestIndex in $barHeights
			&:nth-of-type({nestIndex+1})
				.g-bar
					height unit(nestItem, px)
blendingProfileSlide()
	header
		margin-bottom 83px
		h1
			margin-bottom 13px
			letter-spacing -.7px
	.graph-container
		padding 0 5px 105px 55px
	figcaption
		margin-bottom 83px
		padding-right 53px
		text-align center
		font 300 21px / 1 FrutigerLTCom
		color color_brand_purple
		strong
			font-weight 900
			color color_brand_pink1
	.graph
		margin 0
		height 240px
		border-bottom 1px solid color_brand_black
		_setBarHeights($barHeights)
		&:after
			@extends $pseudoElement
			bottom 5px
			left 50%
			margin-left -15px
			transform translateX(-50%)
			width 3px
			height 223px
			background dottedBorderGradient top / 3px 4px repeat-y

	.g-scale-v
		p
			padding-bottom 32px
		li:nth-of-type(2)
			&:after
				@extends $pseudoElement
				width 0
				left 5px
				height 1px
				background linear-gradient(to left, color_brand_magenta 50%, transparent 0) center / 8px 2px repeat-x
	.g-note
		top 169px
		right -1px
		font 900 30px / 1.1 FrutigerLTCom
		letter-spacing -.85px
		color color_brand_purple

	.g-content
		justify-content space-between
		padding 0 40px
		.g-bar-nest
			height 78px
			margin-right 61px
			&:nth-of-type(2)
				.g-nest-name
					margin-left 7px
			&:nth-of-type(3)
				margin-right 89px
			&:nth-of-type(n+4)
				margin-right 52px
				.g-bar-value
					color color_brand_magenta
	.g-bar
		position static
		width 65px
		.g-bar-value
			top 0
			margin-top 5px
			letter-spacing -.1px
			color color_brand_purple
	.custom-additional
		position absolute
		top 215px
		left 183px
		font-size 14px
		letter-spacing -.5px
	.navigation-button
		top 207px
		left 596px
	.additional
		top 0
		margin-top 8px
		font 700 21px / 1 FrutigerLTCom
		letter-spacing -.9px
		color color_brand_magenta
		&:first-of-type
			left 9%
		&:last-of-type
			right 16.5%
	.g-nest-additional
		padding-left 13px
		bottom 5px
		font 700 13px / 1.4 FrutigerLTCom
		letter-spacing -.3px
		color color_brand_white
		left 50%
		height 14px
		overflow hidden
		transform translateX(-50%)
		&:before
		&:after
			content ''
			position absolute
			border-radius 50%
			background-color color_brand_white
			width 100%
			height @width
		&:before
			top 1px
			left 5px
			transform translateX(-50%)
			width 6px
			height @width
		&:after
			bottom -2px
			left 0
			width 10px
			height 11px
			transform-origin center
			transform translateY(50%) scaleY(1.45)
	.g-nest-name
		left 50%
		right initial
		transform translateX(-50%)
		margin-top 13px
		width 125px
		font 400 14px / 1.1 FrutigerLTCom
		white-space nowrap
		letter-spacing -.5px
	.additional-info
		margin-left 6px
		text-align center
		p
			display inline-block
			&.big-number
				margin-right 2px
				font 900 86px / 1.1 FrutigerLTComXBlkCn
				color color_brand_magenta
			&:last-of-type
				width 342px
				font 300 21px / 1.1 FrutigerLTCom
				letter-spacing .2px
				color color_brand_purple
				text-align left
				&:first-line
					letter-spacing -.2px
	.additional-block-wrapper
		margin 0 -3px 22px 0
		bottom 100%
		right 0
		width 109px
		.patient-value
			padding-bottom 5px
			width 110px
			p
				font-size 24px
				letter-spacing -3.5px
				span
					letter-spacing -.5px
	&.state-animate
		.g-scale-v
			li:nth-of-type(2)
				&:after
					width 90%
					transition width .3s .3s
	fadeInAnimation('.g-note', 2, .6)
