setTextsFontSize(textParams)
	for fontParams, index in textParams
		&:nth-of-type({index + 1})
			font-size unit(fontParams[0], px)
			letter-spacing unit(fontParams[1], px)
			if fontParams[2]
				word-spacing unit(fontParams[2], px)

brandWheel()
	svg
		width 508px
		height @width
	text.exclude-px
		fill rgb(255, 255, 255)
		font 700 20px / 1 FrutigerLtCom
		setTextsFontSize(textsFontParams)
	path
		fill transparent
