@import 'color-scheme'

#presentation
	.top-caption
		display flex
		height 21px
		font-size 19px
		img
			height 100%
		*[data-reference-id]
			margin-top -22px
			margin-left -17px
			font 900 15px / 1 FrutigerLTCom
			color color_brand_gray2
		.dark-aristotle + *[data-reference-id]
			color color_brand_gray4