@import 'color-scheme'
@import 'percent-arrow-value'

setBarsHeigh(nests)
	.g-bar-nest
		for nest, nestIndex in nests
			&:nth-of-type({nestIndex + 1})
				for bar, barIndex in nest
					.g-bar
						&:nth-of-type({barIndex + 1})
							height unit(bar, px)

chronicPatientsSlide()
	padding 31px 40px
	h1
		line-height 1
		span
			letter-spacing -1.6px
	.main-content
		position relative
	.top-caption
		position absolute
		justify-content center
		left 0
		right 0
		top -29px
		height 30px
		padding-left 36px
	.graph
		height 282px
		margin 52px 20% 0 23.3%
	.g-content
		padding 0 36px 0 3px
		border-bottom 1px solid color_brand_black
	.g-bar-value
		font-size 18px
	setBarsHeigh(barsHeights)
	.g-nest-additional
		top 33px
		left 8px
		font 400 13px / 1.1 FrutigerLTCom
		text-align center
		letter-spacing .1px
	.g-nest-name
		top calc(100% + 11px)
		width 180px
		left 50%
		transform translateX(-50%)
		font-weight 700
		letter-spacing .2px
		small
			font-size 11px
	.g-scale-v
		ul
			padding-bottom 3px
		.g-scale-label
			padding-bottom 40px
			font-size 15px
			line-height 1.2
		li
			span
				font-weight 700
				font-size 16px
				padding 0 7px 0 0
			&:first-of-type
				&:before
					content none
	.g-legend
		bottom -23.3%
		left 50%
		justify-content center
		width 100%
		transform translateX(-50%)
		white-space nowrap
		li
			margin-right 16px
			font-size 15px
			&:last-of-type
				margin-right 0
			&:before
				top 2px
	.percent-value
		percentArrowValue(52px, 0, 59%)
		position absolute
		z-index 1
		top 28.5%
		left 48%
		.info
			padding-left 6px
			font-size 18px
		.bottom-arrow-wrapper
			overflow visible
		.bottom-arrow
			bottomArrow(10px, 56px, 12px, 12px)
			margin-right 3px
			top -4px
		.number-wrapper
			&>div
				position relative
				bottom 2px
				left -3px
				.abbr
					padding 0 4px 2px
	footer
		height 123px
		.info-line-wrapper
			justify-content center
			height 43px
			padding-right 43px
			.text
				margin-right 3px
				font-size 11px
				letter-spacing -.2px
