@import 'color-scheme'
@import 'folder-tablet-mixins'

comboSummarySlideStyles(folderSize)
	padding-right 40px
	header
		margin-top 10px
		margin-bottom 100px
	h1
		font-size 29px
		text-align left
		letter-spacing -.6px
	.main-content
		display flex
		justify-content space-between
	.right-side
		width 600px
		padding-top 16px
	.folder-tablet
		if folderSize
			setFolderProps(folderSize)
		.avatar
			background color_brand_gray_light3 url(assets/images/avatar.png) 100% 100% / contain no-repeat
		.folder-content
			padding 6px 11px 10px
			background-color color_brand_gray_light4
			.top-content
				padding-right 3%
		.folder-description
			display flex
			flex-direction column
			justify-content center
			padding 12px 17px 0
			p
				font 700 21px / 1.07 FrutigerLTCom
				letter-spacing -.25px
				color color_brand_magenta
	.block-item
		position relative
		padding-left 39px
		margin-bottom 41px
	.info-button
		top 0
		right auto
		left 0
	h2
		margin-bottom 8px
		font 900 21px / 1.35 FrutigerLTCom
		color color_brand_purple
	li
		position relative
		margin-bottom 11px
		padding-left 10px
		color color_brand_purple
		font 300 18px / 1 FrutigerLTCom
		letter-spacing -.35px
		&:before
			content '-'
			position absolute
			left 0
