@import 'color-scheme'
@import 'table-mixins'
@import 'custom-footer'
@import 'animation'

$color_local_dark_gray = #817c79
$color_local_gray = #b3b0af
$color_local_light_gray = #e5e5e6
$color_local_light_pink = #fde5f3
$color_local_magenta = #eb008b
$color_local_dark_purple = #736982
$markers_styles = ({top: 84, left: 254, width: 44, markerLeft: 18} {top: 149, left: 209, width: 70, markerLeft: 23} {top: 219, left: 243, width: 50, markerLeft: 28})({top: 82, left: 69, width: 55, markerLeft: 34} {top: 148, left: 41, width: 118, markerLeft: 55} {top: 219, left: 62, width: 60, markerLeft: 36})
$columns = (200 115 113 95)(114 115 99)
$scaleMargin = {left: 202, width: 226} {left: 0, width: 229}
$footerColumns = {width: 59.5, left: 275, color: color_brand_purple}{width: 40.5, left: 118, color: color_brand_gray}
$pseudoElem
	position absolute
	content ''

yaoRenalSlide($isSlideAnimated = false)
	padding 30px 70px 30px 71px
	header
		margin-bottom 50px
	h1
		letter-spacing -.38px
	.title
		margin-left 338px
		font 700 20px / 1 FrutigerLTCom
		letter-spacing -.2px
		color color_brand_purple
	.main-content
		display flex
		margin-top 18px
		width 100%
	figure
		position relative
		&:first-of-type
			margin-right 30px
		&:nth-of-type(2)
			.marker-lines
				opacity 0
			tbody
				position relative
				&:after
					position absolute
					right 141px
					width 30px
					height 30px
					content ''
					top 139px
					border 1px solid color_brand_gray2
					border-radius 50%
					background url("../../shared/images/btn-plus.png") no-repeat center
					background-size 11px
			td
				opacity 0
			.g-scale-h
				li
					&:nth-of-type(2)
						margin-left -1px
		for columnsGroup, index in $columns
			&:nth-of-type({index+1})
				col
					setColWidth(columnsGroup)
		for item, index in $markers_styles
			&:nth-of-type({index+1})
				.marker-line
					for lineS, index in item
						&:nth-of-type({index+1})
							top unit(lineS['top'], 'px')
							left unit(lineS['left'], 'px')
							width unit(lineS['width'], 'px')
							.marker
								left unit(lineS['markerLeft'], 'px')
		for item, index in $scaleMargin
			&:nth-of-type({index+1})
				.g-scale-h
					margin-left unit(item['left'], 'px')
					width unit(item['width'], 'px')
					li
						span
							padding-top 7px

	table
		text-align center
		font-size 18px
		color color_brand_white
		b
			font 900 16px / 1 FrutigerLTComUlBlk
			letter-spacing .2px
	thead
		font 700 14px / 1 FrutigerLTCom
		th
			padding 11px 0 8px
		span
			font-size 1.2em
			font-weight 900
	tbody
		background color_brand_white
	td
		&:not(:last-of-type)
			border-right 1px solid color_brand_black
		&:last-of-type
			color color_brand_black
			letter-spacing -.8px
	tbody
		th, td
			padding 16px 0
			letter-spacing -.4px
			line-height 1.1
		tr
			&:last-of-type
				.violet-item
					padding 15px 0 14px 15px
	.magenta-item
		font-size 13px
		padding 9px 0 8px
		background-color $color_local_magenta
		span
			font-size 17px
	.light-grey-item
		font 900 1.1em / 1 FrutigerLTComUlBlk
		color color_brand_black
		background-color $color_local_light_gray
		padding-bottom 9px
	.dark-grey-item
		border-right 1px solid color_brand_gray
		background-color color_brand_gray
	.gray-item
		border-right 1px solid color_brand_white
		background-color $color_local_gray
	.violet-item
		padding 15px 0 14px 13px
		text-align left
		line-height 1.2
		background purple_gradient_to_right
	.light-pink-item
		background-color $color_local_light_pink

	.marker-lines
		position absolute
		top 0
		left @top
		width 100%
		height @width
		pointer-events none
	.marker-line
		&:after
			height 0

	.g-scale-h
		margin-top 10px
		li
			&:first-of-type
				visibility visible
		p
			padding-top 22px
			font-size 14px
			letter-spacing -.1px
	customFooter(610px)
	footer
		padding 162px 0 0 72px
		height 250px
	.custom
		.info-line-wrapper
			padding 0 195px 0 289px
			height 41px
			border-image none
			border-top 1px solid $color_local_dark_purple
			border-bottom 1px solid $color_local_dark_purple
			.number
				padding-left 22px

	.info-button
		bottom 123px
	.notes
		font 400 13px / 1.2 FrutigerLTCom
		letter-spacing -.1px
		p:first-of-type
			margin-bottom 4px
	button.purple
		bottom 120px
		right 72px
	if($isSlideAnimated)
		fadeInAnimation('figure:nth-of-type(2) .marker-lines', .5)
		fadeInAnimation('figure:nth-of-type(2) td', .5)
		fadeOutAnimation('figure:nth-of-type(2) tbody:after', .5)
