@import 'folder-tablet-mixins'
@import 'pills'

foldersSize(options={})
	fontSize = options.fontSize || 30px
	paddingTop = options.paddingTop || 22px
	.folder-content
		padding 0
	.user-info
		width 46%
	.avatar
		width 29%
	.top-content
		padding 2% 0 1%
	.folder-description
		height 66%
	.list-title
		padding-top paddingTop
		font-size 22px
		text-align center
		line-height 1.05
		letter-spacing -.5px
		strong
			font-size fontSize
			line-height .9
			letter-spacing 0
		span
			position relative
			bottom 4px
			letter-spacing -1px

comboFoldersStyles()
	padding 30px 0
	header
		position relative
		margin 32px 0 64px
	h1
		text-align center
		letter-spacing -1px
	.main-content
		position relative
		&:before
			content ''
			position absolute
			top -20px
			left 50%
			width 2px
			height 485px
			background radial-gradient(circle, color_brand_purple 1px, transparent 1px) center / 2px 3px repeat-y
	.folders
	.left-folders
	.right-folders
		display flex
	.folders
		justify-content space-between
		margin-bottom 29px
		padding 0 83px 0 55px
		.folder-tablet
			.folder-description
				height 64%
			.avatar
			.folder-description
			.dash
			.clamp:after
				background-color color_brand_gray_light4
	$pills(90px, 30px, 0, 19px, 14px)
	.pills-wrapper
		display flex
		.comment
			margin-bottom 14px
			font-weight 900
			text-align center
			font-size 13px
			letter-spacing -.1px
			small
				font-weight 700
				font-size 100%
		> figure
			position relative
			width 50%
			> figcaption
				margin-bottom 26px
				font-size 21px
				font-weight 900
				text-align center
				color color_brand_purple
				letter-spacing -.6px
	.pills-scheme
		figure
			position relative
			figcaption
			p
				font-size 11px
				letter-spacing -.2px
				line-height 1.1
				margin-bottom 0
			p
				b
					font-weight 900
		.icon
			margin-top 5px
			position absolute
			width 100%
		.plus
			margin 32px 5px 0 0
	.pill-wrapper
		position relative
	.pills
		padding 0 7px 9px 5px
	.custom-separator
		margin-top 36px
		transform translate3d(-47%, 0, 0)
		font-size 21px
		font-weight 900
		color color_brand_purple
	.simple-xarelto
		.pills-scheme
			.pills:last-of-type
				justify-content center
			figcaption
				font-weight 300
		.plus
			display none
	.injected-notes
		left 71px
