@import 'color-scheme'
@import 'folder-tablet-mixins'

firstClampColor = #c1c0c3
firstBorderColor = #e8018c

secondClampColor = #c2c0c2
secondTextColor = #818084

comboProtection($options)
	&:before
		content ''
		position absolute
		top 276px
		left 0
		right 0
		height 366px
		background url(assets/images/mans-frame.png) top left / contain no-repeat
	header
		margin 10px 0 56px
	h1
		font-size 29px
		line-height 1.2
		letter-spacing -.3px
		text-align left
	.folders
		display flex
		margin 0 0 111px 205px
		@media only screen and (min-width: 1152px)
			width 58%
			justify-content space-between
			margin 0 300px 100px
	.folder-tablet
		for option, index in $options
			&:nth-of-type({index + 1})
				setFolderProps(option)
		&:not(:last-of-type)
			margin-right 27px
		&:nth-of-type(1)
			.clamp
				background-image clampGradient(45deg, firstClampColor), clampGradient(-45deg, firstClampColor)
				&:before
					border-color firstClampColor
		&:nth-of-type(2)
			opacity .6
			.folder-content
				background-color color_brand_gray_light4
			.clamp
				background-image clampGradient(45deg, secondClampColor), clampGradient(-45deg, secondClampColor)
				&:before
					border-color secondClampColor
				&:after
					background-color color_brand_gray_light4
			.list-title
			li
				color secondTextColor
	.bottom-text
		font-size 20px