@import 'color-scheme'
@import 'animation'

$sharedPath = '../../shared/images/'

html
	font-size 16px

.accelerator .slides > .slide
	padding 30px 70px
	&.immovable-slide
		z-index 9
		@media only screen and (min-width: 1152px)
			transform translate3d(0, 0, 0) !important

body
	font-family FrutigerLTCom
	&:after
		background url($sharedPath + 'background.jpg') center / 100% 100% no-repeat, url($sharedPath + 'glassman.png') center / 100% 100% no-repeat
		opacity 0
		content ''

&.c1_2019_vp_cad_collection
	.inline-slideshow h1
	.ag-overlay-content h1
		line-height 1

&.c1_2019_tom_pedvt_sda_collection
	header
		margin 10px 0 71px

&.c1_2019_tom_pedvt_ext_collection
	header
		margin 10px 0 71px
	h1
		letter-spacing -.3px
	.bullet,
	.diamond,
	.dashed,
	.bullet-list li,
	.diamond-list li,
	.dashed-list li
		font 300 20px / 1.3 FrutigerLTCom
	.bullet-list li,
	.diamond-list li,
	.dashed-list li
		margin-bottom 8px
		&:before
			top -4px
			font-size 21px
			margin-right 7px

&.c1_2019_tom_pedvt_sda_collection,
&.c1_2019_tom_pedvt_ti_collection,
&.c1_2019_tom_pedvt_ext_collection,
&.c1_2019_tom_pedvt_pe_collection
	header
		h1
			font 900 29px / 1.2 FrutigerLTCom
			text-align left
	.inline-slideshow
	.ag-overlay-content
		h1
			font 900 23px / 1 FrutigerLTCom
			letter-spacing -.2px

#presentation
	&.veeva-wide
		.ap-toolbar
			*[data-module-to-load='ap-follow-up-mail'],
			*[data-module-to-load='ap-overview']
				display none
	background url($sharedPath + 'background.jpg') center / 100% 100% no-repeat
	&:not(.veeva-wide)
		&.c1_2019_vp_cad_collection,
		&.c1_2019_vp_pad_collection,
		&.c2_2019_vp_pad_wic_collection,
		&.c2_2019_vp_pad_hor_collection,
		&.c2_2019_cad_and_pad_collection
		&.c2_2019_vp_pad_cad_collection,
		&.c2_2019_cad_diabetes_collection,
		&.c2_2019_cad_reinfarction_collection
			background-image url($sharedPath + 'vp-parallax.jpg')
		&.c1_2019_spaf_cardio_collection,
		&.c1_2019_pedvt_collection,
		&.c1_2019_pe_dvt_vte_spaf_combo_collection,
		&.c1_2019_pedvt_combo_collection,
		&.c1_2019_pe_dvt_vte_navigation_collection,
		&.c1_2019_tom_pedvt_sda_collection,
		&.c1_2019_tom_pedvt_ti_collection,
		&.c2_2019_spaf_cad_dual_collection,
		&.c1_2019_spaf_navigation_collection,
		&.c1_2019_tom_pedvt_ext_collection,
		&.c1_2019_tom_pedvt_pe_collection,
		&.c1_2019_pedvt_chatbot_collection,
		&.c2_2019_pe_dvt_pad_wic_collection,
		&.c2_2019_pe_dvt_pad_sdr_collection
			background-image url($sharedPath + 'parallax.jpg')

&.c2_2019_vp_pad_wic_collection,
&.c2_2019_vp_pad_hor_collection,
&.c2_2019_cad_and_pad_collection
&.c2_2019_vp_pad_cad_collection,
&.c2_2019_cad_diabetes_collection,
&.c2_2019_cad_reinfarction_collection
	.notes-space
		letter-spacing -.15px

&.c2_2019_spaf_cad_dual_collection
	header
		margin 10px 0 71px
		&.custom-title
			h1
				font-size 45px
	h1
		font 900 29px / 1.2 FrutigerLTCom
		letter-spacing -.3px
	.bullet,
	.diamond,
	.dashed,
	.bullet-list li,
	.diamond-list li,
	.dashed-list li
		font 300 20px / 1.3 FrutigerLTCom
	.bullet-list li,
	.diamond-list li,
	.dashed-list li
		margin-bottom 8px
		&:before
			top -4px
			font-size 21px
			margin-right 7px
	.inline-slideshow,
	.ag-overlay-content
		font 900 23px / 1 FrutigerLTCom
		letter-spacing -.2px
// #presentation
// 	&.c1_2019_spaf_cardio_collection
// 		.ReferenceLibrary
// 			ul
// 				li.mediaEntry:last-of-type
// 					display none

.logo
	transition all .5s

.custom-logo
	>.logo
		right 19px
		bottom 26px
		width 258px
		height 74px

header
	margin 33px 0 15px
	h1
		margin 0
		font 900 45px / 1.1 FrutigerLTCom
		color color_brand_purple
		letter-spacing -1.1px
		text-align center
	img
		position absolute
		right 25px
		top 30px
		width 84px
	&.icon-ref
		margin 15px 0 90px
		img
			right 98px
			top 35px
			width 95px
		.header-ref
			position absolute
			top 33px
			right 83px
			font-size 15px
			font-weight 700
			color color_brand_magenta
	&.custom-title
		text-align center
		h1
			font-size 45px
			line-height 1.2
			letter-spacing -.3px

.reg-sup
	margin-right -.35em

mark
	background transparent
	font-weight 900
	color color_brand_magenta

.bottom-text
	text-align center
	font 900 25px / 1.2 FrutigerLTCom
	color color_brand_purple

.bullet,
.diamond,
.dashed,
.bullet-list li,
.diamond-list li,
.dashed-list li
	position relative
	font 300 17px / 1.2 FrutigerLTCom
	letter-spacing -.2px
	color color_brand_purple
	&:before
		position absolute
		right 100%
		margin-right 6px
		font-size inherit
		line-height inherit
		color color_brand_magenta

.bullet-list li,
.diamond-list li,
.dashed-list li
	margin-bottom 10px

.bullet,
.bullet-list  li
	&:before
		content '•'

.diamond,
.diamond-list li
	&:before
		content '♦'
		font-family Arial

.dashed,
.dashed-list li
	&:before
		content '-'

.notes,
.injected-notes
	position absolute

.notes
	bottom 25px
	font 400 13px / 1.2 FrutigerLTCom
	letter-spacing -.3px
	color color_brand_black

.injected-notes
	bottom 25px
	left 52px
	letter-spacing -.1px
	font 300 10px / 1 FrutigerLTCom

.inline-slideshow,
.ag-overlay-content
	header
		margin 13px 0 6px
	h1
		font 900 40px / 1 FrutigerLTCom
		color color_brand_purple
		letter-spacing -.6px
	.slide
		background color_brand_white
	.lead-paragraph
		font-size 20px

[data-module='ap-toolbar'] h1
	font-size 27px
	color color_brand_purple2

[data-module='ap-media-library']
	input
		width 255px
		font-size 17px
	wbr
		display none

.slide
	background url($sharedPath + 'background.jpg') center / 100% 100% no-repeat
	zoomInAnimation('.zoom-in')
	zoomOutAnimation('.zoom-out')
	fadeInAnimation('.fade-in')

.open-popup
	position absolute
	bottom 0
	right 0
	width 30px
	height @width
	border-radius 50%
	background url($sharedPath + 'i.png') 11px 6px / 19% auto no-repeat
	border 1px solid color_brand_purple

.btn-plus
	position absolute
	width 60px
	height 60px
	border 1px solid color_brand_gray2
	border-radius 50%
	background url($sharedPath + '/btn-plus.png') no-repeat center

.lead-paragraph
	font 300 24px / 1.2 FrutigerLTCom
	color color_brand_purple
	text-align center
	letter-spacing -.3px

.arrow.green p,
.graph .arrow.green p
	padding 41px 0 0 2px
	width 100%
	height 100%
	background url(../../shared/images/arrow-green.png) center/177px 188px no-repeat

.bullet.skrew
	&:before
	&:after
		content ''
		position absolute
		top 5px
		left -5px
		width 0
		height 0
		background-color transparent
		border-style solid
		border-width 7px 0 7px 5px
		border-color transparent transparent transparent color_brand_green_light
	&:before
		left -9px
		border-width 7px 5px 7px 0
		border-color transparent color_brand_green_light transparent transparent
.nowrap
	white-space nowrap
.brake-link
	display inline-block

#presentation.c1_2019_spaf_cardio_collection
	#ahRefsNotesPopup.custom-refs-notes-popup
		.auto-references-popup
			li
				padding-bottom 9px
