@import 'color-scheme'

createCompassSlide($colorIndex)
	header
		margin 10px 0 20%
	h1
		font-size 35px
		line-height 1.25
	.content
		padding 0 7.6% 0 8%
		color color_brand_purple
	.row
		width 100%
		display flex
		margin-bottom 26px
		align-items center
		&:first-of-type
			.title
				letter-spacing .05px
		&:nth-of-type(2)
			padding-right 62px
		&:nth-of-type(3)
			padding-right 159px
		&:nth-of-type({$colorIndex})
			.percent
				color color_brand_green
			.bar
				background-color color_brand_green
	.title
		width 223px
		font-size 17px
		line-height 1.15
		letter-spacing -.4px
	.bar
		background-color color_brand_gray4
		height 44px
		flex 1
	.percent
		margin-left 19px
		font 900 55px / 1 FrutigerLtComCn
		color color_brand_gray4
		sup
			top 4px
			left -2px
	.patient-value
		position absolute
		top 27.8%
		right 7.7%
		width 117px
		padding 6px 24px 6px 11px
		.text
			position absolute
			top calc(100% + 5px)
			left 50%
			transform translateX(-50%)
			font-size 15px
			font-weight 700
			letter-spacing -.5px
			white-space nowrap
