@import 'color-scheme'
@import 'animation'

dottedBorderGradient = radial-gradient(circle at center, color_brand_black 10%, transparent 50%)

$pseudoElement
	content ''
	position absolute

_setBarHeights(barHeights)
	.g-bar-nest
		for nestItem, nestIndex in $barHeights
			&:nth-of-type({nestIndex+1})
				.g-bar
					height unit(nestItem, px)

consistentSafetyProfile()
	header
		margin-bottom 56px
	.graph-container
		max-width 884px
		margin 0 auto
		padding 0 1% 108px 6%
	figcaption
		margin-bottom 83px
		padding-right 53px
		text-align center
		font 300 21px / 1 FrutigerLTCom
		color color_brand_purple
		strong
			font-weight 900
			color color_brand_pink1

	.graph
		margin 0
		height 240px
		border-bottom 1px solid color_brand_black
		_setBarHeights($barHeights)

	.g-label
		top -24px
		left 44%
		font 700 23px / 1 FrutigerLTCom
		letter-spacing -.9px
		color color_brand_magenta
		&:after
			@extends $pseudoElement
			top 100%
			left 50%
			transform translateX(-50%)
			width 3px
			height 237px
			background dottedBorderGradient top / 3px 3px repeat-y

	.g-scale-v
		p
			padding-bottom 40px
		li:nth-of-type(2)
			&:after
				@extends $pseudoElement
				width 0
				left 5px
				height 1px
				background linear-gradient(to left, color_brand_magenta 50%, transparent 0) center / 8px 2px repeat-x
	.g-note
		top 169px
		right -2px
		font 900 30px / 1.1 FrutigerLTComUlBlk
		letter-spacing -.85px
		color color_brand_magenta

	.g-content
		justify-content flex-start
		padding 0 9.7% 0 5%
		.g-bar-nest
			height 78px
			margin-right 61px
			&:nth-of-type(2)
				.g-nest-name
					transform translateX(-47%)
			&:nth-of-type(3)
				margin-right 89px
			&:nth-of-type(n+4)
				margin-right 52px
				.g-bar-value
					color color_brand_magenta
	.g-bar
		position static
		width 65px
		.g-bar-value
			top 0
			margin-top 0
			letter-spacing -.1px
			color color_brand_purple
	.custom-additional
		position absolute
		top 215px
		left 183px
		font-size 14px
		letter-spacing -.5px
	.navigation-button
		top 207px
		left 596px
	.additional
		top -52px
		font-weight 400
		letter-spacing -.5px
		&:first-of-type
			left 12.5%
		&:last-of-type
			left 65%

	.g-nest-additional
		margin-left 6px
		bottom 1px
		font 700 13px / 1.5 FrutigerLTCom
		letter-spacing -.3px
		color color_brand_white
		left 50%
		transform translateX(-50%)
		&:before
			@extends $pseudoElement
			top 0
			left -1px
			width 14px
			height 12px
			transform translate3d(-1px, 3px, 0)
			background url(../../shared/images/white-man.png) center center / contain no-repeat

	.g-nest-name
		left 50%
		right auto
		transform translateX(-50%)
		margin-top 13px
		font 400 14px / 1.1 FrutigerLTCom
		white-space nowrap
		letter-spacing -.5px

	.additional-info
		text-align center
		p
			display inline-block
			&.big-number
				margin-right 6px
				font 900 86px / 1 FrutigerLTComXBlkCn
				text-align left
				color color_brand_magenta
			&:last-of-type
				width 342px
				font 300 21px / 1.1 FrutigerLTCom
				text-align left
				letter-spacing .2px
				color color_brand_purple
				&:first-line
					letter-spacing -.2px

	&.state-animate
		.g-scale-v
			li:nth-of-type(2)
				&:after
					width 90%
					transition width .3s .3s

	fadeInAnimation('.g-note', 2, .6)
