@import 'color-scheme'
$imagesPath = '../../shared/images/'
setBarHeights(arr)
	for bar, index in arr
		.g-bar:nth-of-type({index+1})
			height unit(bar, 'px')

consistentVteProtection($barHeights1, $barHeights2)
	h1
		letter-spacing -.4px
	.lead-paragraph
		margin-bottom 16px
	.top-caption
		height 18px
		justify-content center
		padding-left 6px
		sup[data-reference-id]
			font-size 10px
			top 1px
	.graphs-heading
		margin-top 27px
		text-align center
		color color_brand_purple
		mark
			font-weight 700
			font-size 20px
			letter-spacing -.3px
	.graphs-wrapper
		display flex
		justify-content space-between
		padding 82px 5px 0 41px
	.graph
		&:nth-of-type(1)
			width 362px
			height 223px
			margin-right 25px
			.g-scale-v
				p
					letter-spacing -.2px
			.g-note
				top 94px
				right 6px
			.additional
				margin 0 0 26px 7px
				sup
					top 2px
		&:nth-of-type(2)
		&:nth-of-type(3)
			width 160px
			height 226px
			.g-bar
				width 55px
			.g-scale-v
				border-bottom 1px solid color_brand_black
				p
					letter-spacing .1px
		&:nth-of-type(2)
			setBarHeights($barHeights1)
			.additional
				width 110%
				margin 0 0 7px 3px
				small
					position relative
					top -3px
					font-size 14px
					letter-spacing -.2px
			.g-note
				top 96px
				right 40px
		&:nth-of-type(3)
			setBarHeights($barHeights2)
			.additional
				margin 0 0 47px -2px
			.g-note
				top 100px
				right 37px
			.g-scale-v p
				padding-bottom 24px
		&:before
			content ''
			position absolute
			top 0
			left 50%
			transform translate3d(-50%, 0, 0)
			width 69px
			height @width
	.g-bar
		margin-bottom 1px
	.g-line
		background url(assets/images/lines.png) left -1px bottom / contain no-repeat
	.g-legend
		bottom 134px
		margin-left 16px
		left 50%
		transform translate3d(-50%, 0, 0)
		li
			margin-right 29px
			&.gray-bar
				&:before
					top 0
			&.magenta-bar
				&:before
					width 12px
					height @width
	.g-scale-v
		p
			padding-bottom 28px
	.additional
		width 100%
		bottom 100%
		left 50%
		transform translate3d(-50%, 0, 0)
		font 400 20px / 1 FrutigerLTCom
		letter-spacing -.3px
	.g-note
		font 700 13px / 1.2 FrutigerLTCom
		text-align center
		sub
			bottom -2px
	.g-bar-value
		margin-top 7px
	footer
		height 113px
	.info-line-wrapper
		min-height 38px
		padding 0
		.column
			justify-content center
			&:after
				left 100%
			&:nth-of-type(1)
				width 49%
				.number
					margin-left 60px
			&:nth-of-type(2)
				width 23%
			&:nth-of-type(3)
				width 27%
				.number
					margin-right 37px
