@import 'color-scheme'

$pseudoElem()
	content ''
	position absolute

customFooter(width)
	.custom
		.info-line-wrapper
			border-width 1px 0
			border-style solid
			border-image linear-gradient(to right, color_brand_dr_purple width, color_brand_gray width, color_brand_gray 100%)
			border-image-slice 1
			&:after
				$pseudoElem()
				height 70%
				width 1px
				top 50%
				transform translate3d(0, -50%, 0)
				background-color color_brand_black
				left width - (@width / 2)
			.column
				&:after
					content none
				&:last-of-type
					.number
						color color_brand_gray
						.patient-icon
							&:before
							&:after
								background-color color_brand_gray