@import 'color-scheme'
@import 'table-mixins'

$color_local_light_pink       = #fce5f3
$color_local_magenta          = #e8008c
$color_local_gray             = #949290
$color_local_light_gray       = #f2f2f2

$topCaptionHeight = 20px
$topCaptionBottomIndent = 17px

buildFragment($infoLineColor, columnsParams, markersParams)
	padding 32px 31px
	header
		margin 0 0 58px
	h1
		line-height 1.2
	.main-content
		display flex
		justify-content space-around
		padding 0 21px
		> div
			position relative
			height 344px
			width 50%
	.left
		padding-right 48px
		.top-caption
			justify-content center
			height $topCaptionHeight
			margin-bottom $topCaptionBottomIndent
			padding-left 17px
			sup
				margin-left -19px
				font-size 13px
		&:after
			content ''
			position absolute
			top 0
			right 0
			height 100%
			width 1px
			background-color color_brand_purple
		.text
			position relative
			margin-top 103px
			font 300 24px / 1.15 FrutigerLtCom
			letter-spacing -.4px
			color color_brand_purple
			&:before
				content ''
				position absolute
				height 100px
			b
				font-weight 900
		.patient-value
			left 302px
			width 106px
	.right
		display flex
		flex-direction column
		padding-left 26px
		text-align center
		h2
			font 900 23px / 1.2 FrutigerLtCom
			color $color_local_gray
		.informal
			display flex
			justify-content center
			align-items center
			height 100%
			font 400 20px / 1.2 FrutigerLtCom
			color color_brand_gray4
			p
				padding 0 79px
	table
		margin-bottom 21px
		text-align center
		color color_brand_white
		strong
			font 900 10px / 1 FrutigerLTCom
	thead
		th
			padding 6px 0 4px
			font 700 10px / 1 FrutigerLTCom
			&:nth-of-type(3)
				border-right 1px solid color_brand_black
		span
			font-size 1.2em
			font-weight 900
	td
		&:not(:last-of-type)
			border-right 1px solid color_brand_black
		&:last-of-type
			color color_brand_black
	tbody
		th
		td
			font-size 11px
		th
			padding 29px 0 22px 9px
			font 700 11px / 1.2 FrutigerLTCom
			text-align left
		strong
			font-size 11px
		.light-grey-item
			padding-top 9px
			font-size 8px
	col
		setColWidth($columns)
	.magenta-item
		background-color $color_local_magenta
	.light-grey-item
		font 400 7px / 1 FrutigerLtCom
		color color_brand_black
		background-color color_brand_gray_light2
	.light-grey-item2
		background-color $color_local_light_gray
	.dark-grey-item
		background-color color_brand_gray
	.grey-item
		background-color color_brand_gray_light1
	.violet-item
		background purple_gradient_to_right
	.light-pink-item
		background-color $color_local_light_pink
	.marker-lines
		position absolute
		top $topCaptionHeight + $topCaptionBottomIndent
		left 0
	.marker-line
		height 9px
		border-left-width 1px
		border-right-width @border-left-width
		&:before
			height 1px
		.marker
			width 5px
			&:before
			&:after
				border-width 3px
			&:before
				border-bottom-width @width
			&:after
				border-top-width @width
		for markerParams, index in markersParams
			&:nth-of-type({index + 1})
				top unit(markerParams['top'], 'px')
				left unit(markerParams['left'], 'px')
				width unit(markerParams['width'], 'px')
				.marker
					left unit(markerParams['markerLeft'], 'px')
	.gray-item
		border-right-color color_brand_gray
		border-left-color color_brand_gray
		&:before
			background-color color_brand_gray
		.marker:before
			border-bottom-color color_brand_gray_light1
		.marker:after
			border-top-color color_brand_gray_light1
	.g-scale-h
		position static
		width 190px
		margin 0 auto
		font-size 7px
		transform translateX(-4px)
		li
			&:before
			&:after
				height 4px
			&:first-of-type
				visibility visible
				&:after
					content ''
					position absolute
					top 0
					left 50%
					border-left 1px solid color_brand_black
				span
				&:after
					margin-left 7px
			span
				padding-top 5px
		p
			padding-top 14px
			font-size 10px
			letter-spacing -.1px
	footer
		height 152px
		width 50%
	.info-line-wrapper
		justify-content flex-start
		height 43px
		padding 0 2px 0 8px
		.column
			align-items flex-end
			&:first-of-type
				padding 0 9px 0 1px
			&:nth-of-type(2)
				padding 0 13px 0 12px
			&:nth-of-type(3)
				padding 0 5px 0 9px
			&:last-of-type
				padding 0 0 0 6px
				.count
					margin-left 0
		.count
			margin-left 4px
			font 900 25px / 1.2 FrutigerLtCom
		.text
			margin-bottom 4px
			line-height 1.2
			white-space nowrap
	.additional-info
		position absolute
		bottom 26px
		left 33px
		font 400 13px / 1.2 FrutigerLtCom
		letter-spacing -.1px