@import 'color-scheme'

dosageMixin($width = 580px, $margin = 0 22px 30px 0)
	header
		margin 13px 0 9px
	h1
		margin-bottom 9px
	.lead-paragraph
		margin-left 12px
	figure
		display flex
		flex-direction column
		align-items center
	.dosing-package
		width $width
		margin $margin
	.bottom-text
		font 900 20px / 1 FrutigerLTCom
		color color_brand_purple
		letter-spacing -.1px
	.notes
		bottom 26px
		letter-spacing -.1px
