@import 'color-scheme'

pseudoElem()
	content ''
	position absolute

setItemsParams(_array)
	for items, i in _array
		&:nth-of-type({i + 1})
			for params, j in items
				if params[0]
					p:nth-of-type({j + 1})
						&:before
							width params[0]
							height params[1]
							left params[2]
							margin-bottom params[3]
							background url($assetsPath + params[4]) 0 0 / 100% auto no-repeat

doseFlexibilityStyles()
	header
		margin 34px 0 30px
	h1
		margin-bottom 11px
		font-size 42px
		line-height 1.15
		text-align center
		letter-spacing -1.2px
	.wrapper
		display flex
		flex-direction column
		align-items center
	.content-wrapper
		display flex
		margin-left 5px
	.inner-wrapper
		&:first-of-type
			width 462px
			margin-right -18px
			.arrow-content
				&:first-of-type
					width 172px
					background url($assetsPath + 'arrow1.png') 0 0 / contain no-repeat
					margin-right -19px
					padding-right 17px
					.bottom
						margin-bottom 6px
				&:last-of-type
					width 307px
					background url($assetsPath + 'arrow2.png') 0 0 / contain no-repeat
					padding 24px 12px 0 0
					.bottom
						margin-bottom 17px
		&:last-of-type
			width 408px
			.arrow-content
				&:first-of-type
					width 408px
					background url($assetsPath + 'arrow3.png') 0 0 / contain no-repeat
					padding-right 25px
					.middle
					.bottom
						padding-right 7px
					.middle
						padding-top 24px
					.bottom
						margin-bottom 17px
	.arrows-wrapper
		display flex
	.arrow-content
		position relative
		display flex
		flex-direction column
		height 106px
		color color_brand_white
		text-align center
	.top
		padding-top 12px
		font 300 10px / 1.2 FrutigerLTCom
	.middle
		font 900 33px / 1 FrutigerLTComCn
	.bottom
		font 300 12px / 1 FrutigerLTCom
	.foot
		font 700 12px / 1 FrutigerLTCom
	.additional-wrapper
		position relative
		margin-right 29px
		&:after
		&:before
			content ''
			width 3px
			height 100%
			position absolute
			top 1px
			background radial-gradient(circle at center, color_brand_purple 10%, transparent 50%) top / 3px 3px repeat-y
		&:before
			left -1px
		&:after
			right -1px
	.single-text
		padding-top 44px
		font 900 26px / 1.18 FrutigerLTCom
		color color_brand_purple
		letter-spacing -.4px
	.items
		display flex
		justify-content center
		setItemsParams($itemsParams)
		p
			position relative
			font 400 13px / 1.18 FrutigerLTCom
			text-align center
			color color_brand_black
			strong
				font-weight 900
			&:before
				pseudoElem()
				bottom 100%
		&:first-of-type
			justify-content space-between
			padding 116px 60px 0 67px
			p
				&:nth-of-type(2)
					position relative
					top -33px
					left -1px
					font 900 22px / 1 FrutigerLTCom
					&:before
						content none
				&:last-of-type
					position relative
					span
						position absolute
						top -91px
						left -11px
						white-space nowrap
						font-size 12px
						letter-spacing -.15px
		&:nth-of-type(2)
			padding 64px 0 0 10px
		&:last-of-type
			padding 66px 0 0 8px
	.injected-notes
		bottom 26px
		left 71px
		letter-spacing -.08px
		p
			display inline
