@import 'color-scheme'
@import 'table-mixins'

$local_color_magenta  = #d51487
$local_color_magenta1 = #bb1387
$local_color_magenta2 = #a61281
$custom_magenta_gradient_to_right = linear-gradient(to right, $local_color_magenta, $local_color_magenta2)
$custom_magenta_gradient_to_right1 = linear-gradient(to right, $local_color_magenta, $local_color_magenta1)
$custom_magenta_gradient_to_right2 = linear-gradient(to right, $local_color_magenta1, $local_color_magenta2)

$pseudoElem()
	content ''
	position absolute

setAnimation()
	thead
		tr
			&:last-of-type
				th
					background none
					&:last-of-type
						&:before
							position absolute
							left 0
							right 0
							top 0
							bottom 0
							content ''
							background $custom_magenta_gradient_to_right2
							opacity 1
							z-index -1
						&:after
							opacity 0
	tbody
		tr
			&:nth-of-type(1)
			&:nth-of-type(2)
			&:nth-of-type(3)
				td
					&:nth-of-type(2)
						opacity 0
	.btn-plus
		width 30px
		height @width
		top 58.2%
		right 16.9%
		background-size 11px
		opacity 1
	&.state-animate
		tr
			&:nth-of-type(1)
			&:nth-of-type(2)
			&:nth-of-type(3)
				td
					&:nth-of-type(2)
						opacity 1
						transition opacity .5s linear
		thead
			tr
				&:last-of-type
					th
						&:last-of-type
							&:after
								transition opacity .5s linear
								opacity 1
		.btn-plus
			transition opacity .5s linear
			opacity 0

dosingTable($isAnimate=false)
	header
		margin-top 10px
		margin-bottom 26px
		sup
			margin-right -10px
		h1
			letter-spacing -.1px
			font-size 23px
			text-align left
	.dosing-container
		position relative
	table
		margin 0 0 46px 52px
	col
		setColWidth($cols)
	thead
		th
			&:not(:first-of-type)
				color color_brand_white
				text-align center
				background $custom_magenta_gradient_to_right
		tr
			&:first-of-type
				th
					padding 15px 0 17px
					font 700 18px / 1 FrutigerLTCom
			&:last-of-type
				th
					padding 10px
					font 700 17px / 1.2 FrutigerLTCom
					letter-spacing .5px
					&:nth-of-type(2)
						background $custom_magenta_gradient_to_right1
					&:nth-of-type(3)
						position relative
						background none
						&:after
							content ''
							left 0
							right 0
							top 0
							bottom 0
							position absolute
							z-index -1
						&:after
							background color_brand_pink
	tbody
		background color_brand_light_pink
		th
			padding 37px 15px 33px 27px
			background purple_gradient_to_right
			color color_brand_white
			font 400 18px / 1.4 FrutigerLTCom
			border-bottom 1px solid color_brand_white
		td
			padding 26px 0 0
			border-bottom 1px solid color_brand_black
			text-align center
			vertical-align top
			font 700 19px / 1 FrutigerLTCom
			letter-spacing .3px
			color color_brand_dr_purple
			&:first-of-type
				border-right 1px solid color_brand_black
		tr
			for item, index in $imagesPositions
				&:nth-of-type({index+1})
					td
						for innerItem, innerIndex in item
							&:nth-of-type({innerIndex+1})
								&:after
									top unit(innerItem[0], '%')
									left unit(innerItem[1], '%')
		tr
			&:nth-of-type(1)
				td
					padding 21px 0 0
					&:nth-of-type(2)
						&:after
							background url(../../shared/images/15-mg-pill.png) center center / 50% no-repeat
			&:nth-of-type(2)
				th
					padding 38px 15px 41px 27px
				td
					&:nth-of-type(2)
						&:after
							background url(../../shared/images/10-mg-pill.png) center center / 50% no-repeat
			&:nth-of-type(3)
				th
					line-height 1.35
					padding 34px 15px 33px 27px
				td
					border-bottom none
					&:last-of-type
						padding 38px 5px 37px
						font 400 14px / 1.1 FrutigerLTCom
						letter-spacing -.4px
	.dose-20mg
	.dose-15mg
	.dose-10mg
		position relative
		&:after
			$pseudoElem()
			height 55px
			width 150px
	.dose-20mg
		&:after
			background url(../../shared/images/20-mg-pill.png) center center / 50% no-repeat
	.dose-15mg
		&:after
			background url(../../shared/images/15-mg-pill.png) center center / 50% no-repeat
	.dose-10mg
		&:after
			background url(../../shared/images/10-mg-pill.png) center center / 50% no-repeat
	tbody
		tr
			&:nth-of-type(1)
			&:nth-of-type(2)
				td
					&:nth-of-type(2)
						position relative
						&:after
							$pseudoElem()
							height 55px
							width 150px
	.btn-plus
		opacity 0
	.injected-notes
	.notes
		left 50px
	.injected-notes
		bottom 26px
		font 400 10px / 1.2 FrutigerLTCom
		letter-spacing -.4px
		p
			display inline-flex
			&:nth-of-type(1)
				sub
					margin-right 1px
					letter-spacing -.4px
		sup
			top 4px
		sub
			top 10px
			left -1px
	.notes
		bottom 42px
		font-size 14px
	if($isAnimate)
		setAnimation()
