@import 'color-scheme'
@import 'h-arrow-mixin'
@import 'animation'

$localImagesPath = 'assets/images/'
$textsWidthParams = 25.4 32 42.6
$nestImages = 'arrow-1' 'arrow-2' 'arrow-3'

$flexElements
	display flex
	justify-content center

$pseudoElement
	content ''
	position absolute

setProp(prop, value)
	{prop} value

setProps(collection)
	for value, index in collection.values
		&:nth-of-type({index + 1})
			setProp(collection['property'], value)

setImages($nestImages)
	for item, index in $nestImages
		.h-arrow:nth-of-type({index+1})
			width  unit($textsWidthParams[index], '%')
			background url($localImagesPath + item + '.png') center \/ 100% no-repeat

calendarCaptionSlide()
	.content-wrapper
		.dosing-groups
			figure
				padding-top 10px
				color color_brand_purple
				&:nth-of-type(2)
					figcaption
						margin-bottom 24px
					&:before
						height 144px
				&:last-of-type
					padding-right 28px
					@media only screen and (min-width: 1152px)
						padding-right 9.5%
					figcaption
						margin 0 21px 25px auto
						text-align center
			figcaption
				&.calendar-caption
					padding-top 34px
					width 106px
					height 86px
					background url(assets/images/calendar-border.png) 0 / contain no-repeat
					letter-spacing .2px
	.pill-10-mg
		margin-right 0
	.pill-15-mg-double
		background-size auto 97.5%
	.pill-20-mg
		background-position 55% 50%
	.risk-dosing
		color color_brand_purple
		.pill-20-mg
			&:before
				right -2px
				height 39px
	.circle
		top 156px

dosingSlideTemplate($isSlideAnimated = false, $calendarCaptions = false, $isHeaderIllustration = true)
	padding 30px 49px 30px 70px
	header
		padding-right 20px
		margin-bottom 100px
		position relative
		if $isHeaderIllustration
			&:after
				content ''
				position absolute
				top -40px
				right -19px
				width 118px
				height @width
				background url($localImagesPath + 'circle-text.png') 50% 50% / auto 100% no-repeat
	h1
		margin-bottom 12px
		letter-spacing -.8px
	.content-wrapper
		padding 0 74px 0 53px
	.dosing-groups
		display flex
		margin-bottom 21px
		figure
			position relative
			setProps(groupsWidths)
			margin 0
			&:before
			&:after
				@extends $pseudoElement
				left 100%
				height 50%
				width 3px
				background dottedBorderGradient top / 3px 3px repeat-y
			&:before
				top 0
			&:after
				bottom 0
			&:first-of-type
				padding 0 28px 0 13px
				.pills-usage
					margin-bottom 12px
				.usage
					margin 0 auto 11px
					width 151px
					background url($localImagesPath + 'sun.png') 23% 50% / auto 97% no-repeat, url($localImagesPath + 'moon.png') 77% 50% / auto 78% no-repeat
					color color_brand_purple
				figcaption
					letter-spacing .4px
			&:nth-of-type(2)
				&:before
					height 118px
				&:after
					height 80px
				figcaption
					margin-bottom 55px
			&:last-of-type
				padding 0 29px 0 14px
				figcaption
					margin-bottom 56px
					letter-spacing .5px
					text-align right
				.usage
					justify-content flex-end
				.pills-usage
					margin 0 17px 5px 0
				.dosing
					text-align right
					margin 10px 35px 17px 0
				&:before
				&:after
					content none
		figcaption
			margin 0 auto 21px
			padding-top 3px
			font 900 19px / 1.15 FrutigerLTCom
			letter-spacing -.3px
			text-align center
			color color_brand_purple
	.navigation-button
		top -48px
		left 0
		width 194px
		padding 9px 0 8px 14px
		font-size 11px
		letter-spacing -.4px
		text-align left
		&:after
			top 3px
			right 7px
			width 20px
	.pills-usage
		margin-bottom 12px
	.usage
	.circle
	.h-arrow
		align-items center
	.dosing
	.usage
		text-align center
	.dosing
		margin-bottom 12px
		font 400 12px / 1.2 FrutigerLTCom
		letter-spacing -.2px
	.usage
		@extends $flexElements
		height 35px
		margin-bottom 11px
		font 900 21px / 1.2 FrutigerLTCom
		color color_brand_purple
	.pill
		position relative
		height 59px
	.pill-20-mg
		background url($localImagesPath + 'pill-20-mg.png') 50% 0 / auto 94% no-repeat
	.pill-15-mg-double
		background url($localImagesPath + 'pill-15-mg-double.png') 54% 45% / auto 94.5% no-repeat
	.pill-10-mg
		margin-right 27px
		background url($localImagesPath + 'pill-10-mg.png') 100% 0 / auto 94% no-repeat
	.risk-dosing
		position relative
		background none
		font 400 12px / 1.2 FrutigerLTCom
		&.pill-20-mg
			&:before
				@extends $pseudoElement
				top -46px
				right 4px
				height 41px
				width 69px
				background url($localImagesPath + 'pill-20-mg.png') 50% 50% / auto 100% no-repeat
	.circle
		@extends $flexElements
		position absolute
		top 116px
		right -39px
		height 75px
		width @height
		border-radius 50%
		background-image purple_gradient_to_right
		font 700 13px / 1.2 FrutigerLTCom
		text-align center
		color color_brand_white
	section
		display flex
		justify-content space-between
		align-items flex-end
		padding-right 33px
		color color_brand_black
		p
			letter-spacing -.2px
			font 400 12px / 1.2 FrutigerLTCom
		li
			position relative
			padding-left 10px
			letter-spacing -.3px
			font 300 12px / 1.2 FrutigerLTCom
			&:before
				@extends $pseudoElement
				top 5px
				left 1px
				height 4px
				width @height
				border-radius 50%
				background-color color_brand_black
	.h-arrows-wrapper
		setImages($nestImages)
	.h-arrow
		@extends $flexElements
		height 71px
		margin-bottom 23px
		font 700 14px / 1.2 FrutigerLTCom
		&:first-of-type
			justify-content flex-start
			padding-left 23px
			padding-right 18px
			text-align left
		&:nth-of-type(3)
			padding-left 25px
	.injected-notes
		bottom 26px
		left 71px
		font-weight 400
		letter-spacing -.1px
	.note
		font-size 14px

	if $calendarCaptions
		calendarCaptionSlide()

	if $isSlideAnimated
		floatAnimation('figure:last-of-type .pill')
