@import 'color-scheme'

$dottedLine
	content ''
	position absolute
	width 2px
	left 50%
	transform translateX(-50%)
	background radial-gradient(circle, color_brand_purple .2px, transparent 1.1px) center top \/ 2px 3px repeat-y

dosingConsistentVteProtection($infoPositions, $barHeights)
	padding-right 68px
	header
		margin-bottom 53px
	.top-caption
		height 18px
		justify-content center
		padding-left 6px
		sup[data-reference-id]
			font-size 10px
			top 1px
	.graphs-heading
		margin-top 30px
		font-weight 300
		font-size 21px
		text-align center
		color color_brand_purple
		letter-spacing -.1px
	.graphs-wrapper
		display flex
		justify-content center
		padding 69px 0 0 36px
	.info-line-wrapper
		justify-content center
	.graph
		&:nth-of-type(1)
			width 362px
			height 223px
			margin-right 54px
			.g-scale-v
				p
					letter-spacing -.2px
			.g-note
				top -3px
				right 6px
			.additional
				sup
					top 2px
			&:after
				@extend $dottedLine
				height 285px
				left auto
				right -30px
				top -19px
		&:nth-of-type(2)
			width 389px
			height 226px
			margin-left 47px
			.g-scale-v
				border-bottom 1px solid color_brand_black
				p
					letter-spacing .1px
			.g-note
				top 87px
				right 151px
				&:before
				&:after
					@extend $dottedLine
				&:before
					bottom 100%
					margin-bottom .6em
					height 80px
				&:after
					top 100%
					margin-top .9em
					height 104px
		for addArray, addArrayIndex in $infoPositions
			&:nth-of-type({addArrayIndex+1})
				.additional
					for item, index in addArray
						&:nth-of-type({index+1})
							top unit(item[0], px)
							left unit(item[1], px)
	.g-bar-nest
		for nestItem, nestIndex in $barHeights
			&:nth-of-type({nestIndex+1})
				.g-bar
					for item, index in nestItem
						&:nth-of-type({index+1})
							height unit(item, px)
	.g-bar
		margin-bottom 1px
		&.gray-bar
			background-color color_brand_gray4
	.g-line
		background url(assets/images/lines.png) left -1px bottom / contain no-repeat
	.g-legend
		bottom 21.6%
		left 40.4%
		li
			margin-right 29px
			&.gray-bar
				&:before
					top 0
					background-color color_brand_gray4
			&.magenta-bar
				&:before
					width 12px
					height @width
	.g-scale-v
		p
			padding-bottom 22px
	.additional
		font-size 16px
		line-height 1.1
		color color_brand_purple
		z-index 1
	.g-note
		font 700 13px/1.2 FrutigerLTCom
		text-align center
		sub
			bottom -2px
	.g-bar-value
		margin-top 7px
	footer
		height 146px
	.text
		font-size 11px
		letter-spacing -.1px
	.number
		padding-left 26px
	.column
		&:nth-of-type(1)
			padding 0 79px 0 11px
			.number
				margin-left 36px
			&:after
				height 106%
		&:nth-of-type(2)
			padding-left 139px
			.number
				margin-left 13px
	.injected-notes
		left 70px
		letter-spacing .1px
		p
			display inline
