@import 'color-scheme'

setArrow(bg, width, i, arrow_width = 22px)
	start_width = unit(width - arrow_width, 'px')
	background bg
	width width
	if i == 0
		clip-path polygon(0 0, start_width 0, 100% 50%, start_width 100%, 0 100%)
	else
		clip-path polygon(start_width 0, 100% 50%, start_width 100%, 0 100%, arrow_width 50%, 0 0)

setArrowStyles(params)
	.arrow
		position relative
		display flex
		align-items center
		justify-content center
		height 100%
		color color_brand_white
		&:not(:last-child)
			margin-right -5px
		if list-separator(params) == ','
			for param, i in params
				&:nth-child({i + 1})
					setArrow(param[0], param[1], i)
		else
			setArrow(params[0], params[1], i)