@import 'spaf-summary-fragment'
@import 'animation'

extendedProtectionStyles()
	spafSummarySlide()
	zoomInAnimation('.folder-tablet', .4, 1)
	header
		margin 32px 20px 113px
		h1
			line-height 1.1
	.main-part1
		padding 14px 10px
		.avatar
			width 28.3%
	.main-content
		width 884px
		margin 0 auto
		padding-left 1px
		.list
			padding 39px 0 0 35px
			li
				position relative
				padding-bottom 19px
				letter-spacing -.3px
				font-size 20px
				mark
					letter-spacing -.1px
				+ li
					padding-top 21px
					&:after
						content ''
						width 94%
						height 3px
						position absolute
						top 0
						left 0
						background radial-gradient(circle at center, color_brand_purple 10%, transparent 50%) left / 4px 4px repeat-x
				&:last-of-type
					mark
						letter-spacing -.15px
	.folder-tablet
		width 267px
		height 325px
		border-color color_brand_magenta
		.dash
		.avatar
		.folder-description
			background-color color_brand_gray_light4
		.folder-description
			padding 32px 0 0 12px
			li
				margin-bottom 10px
				padding-left 9px
				font-size 14px
				line-height 1.15
		.folder-content
			.list-title
				margin-bottom 9px
				padding 0
				font-size 20px
				line-height 1.2
				letter-spacing -.8px
		.clamp
			width 102px
			height 23px
		.user-info
			width 46%
	.injected-notes
		bottom 26px
		letter-spacing -.05px
