@import 'folder-tablet-mixins'

$customGray = #ecebec

isActiveFolder()
	setFolderProps({width: 248, height: 305})
	&.patient-profile
		margin -11px 15px 0 -12px
		border-color color_brand_magenta
		.folder-content
			padding 6px 0 0
			ul
				padding-left 19px
			.top-content
				.patient
					padding 9px 10px
		button
			display none

folderCustomisation(background)
	padding 30px 0
	header
		margin-bottom 19px
	h1
		letter-spacing -.6px
	.bottom-text
		padding-left 72px
	.main-content
		height 485px
		display flex
		padding 4.8% 0 0 23.4%
		background url(background) -53px 127px / 107.5% no-repeat
		.folder-tablet
			setFolderProps({width: 228, height: 279})
			margin-right 23px
			.avatar
			.dash
			.folder-description
				background-color $customGray
			&.spaf-folder
				margin 0 30px 23px 0
			.main-part
				padding 15px 9px 11px
			.folder-content
				padding 0
				.user-info
					width 46%
					padding-bottom 0
				.avatar
					width 29%
				.top-content
					height 28%
					padding 0
					.patient
						font-size 20px
						color color_brand_purple
			.folder-description
				height 67%
				display flex
				flex-direction column
				justify-content space-between
				ul
					padding 6px 0 0 9px
					font 600 16px / 1.1 FrutigerLTCom
					letter-spacing -.8px
					li
						margin-bottom 9px
						mark
							font-weight 600
				.btn-plus
					position static
					align-self center
					margin-bottom 10px
					width 30px
					height @width
					background-size 40%
		p
			position absolute
			text-align center
			font 600 17px / 1.2 FrutigerLTCom
			color color_brand_magenta
	.bottom-text
		position absolute
		left 0
		right 0
		bottom 96px
		font-size 21px
		padding-right 72px
		letter-spacing -.45px
	&.state-first
		.folder-tablet
			&:first-of-type
				isActiveFolder()
	&.state-second
		.folder-tablet
			&:nth-of-type(2)
				isActiveFolder()
	&.state-third
		.folder-tablet
			&:last-of-type
				isActiveFolder()
