@import 'color-scheme'

colorGray  = #b0b2b5
colorGray2 = #d9dadb
colorGray3 = #f5f6f7

clampGradient(direction, _color)
	linear-gradient(direction, _color 50%, transparent 50%)

getProportion(initialValue, percent)
	return unit(round(percent * initialValue / 100), px)

setFolderProps(options)
	color = options.color || color_brand_purple
	w     = options.width
	h     = options.height
	&
		width unit(w, px)
		height unit(h, px)
		borderTop  = getProportion(w, 4.63)
		borderLeft = getProportion(borderTop, 120)
		border-width borderTop borderLeft
		border-radius getProportion(w, 3.7)
		border-color color
		.clamp
			width getProportion(w, 38.3)
			height getProportion(@width, 22.5)
			&:before
				width getProportion(w, 11.7)
				height @width
				border getProportion(w, 3.4) solid color_brand_cool_gray
				transform translate(-50%, @width / 2)
			&:after
				height getProportion(@height, 38.7)
		.age
		.list-title
			color color
		.main-part
			paddingTop  = getProportion(w, 4.93)
			paddingLeft = getProportion(paddingTop, 81.25)
			padding paddingTop paddingLeft
			box-shadow getProportion(w, .9) getProportion(w, .9) getProportion(w, 1) 0 rgba(color_brand_black, .2)
		.folder-content
			paddingTop    = getProportion(w, 16.9)
			paddingLeft   = getProportion(paddingTop, 21.8)
			paddingBottom = getProportion(paddingTop, 9)
			padding paddingTop paddingLeft paddingBottom
			font-size getProportion(w, 6.2)
			.list-title
			li
				margin-bottom getProportion(w, 3.39)
			li
				padding-left getProportion(w, 3.7)
	&.spaf-folder
		border-radius getProportion(w, 5)
		.main-part
			paddingValue = getProportion(w, 1.6)
			padding paddingValue
			background-color color
			box-shadow none
			.folder-content
				paddingTop    = getProportion(w, 8.6)
				paddingBottom = getProportion(w, 7.2)
				paddingLeft   = getProportion(w, 7.2)
				padding paddingTop paddingLeft paddingBottom
				transform translate(- paddingValue, - paddingValue)
				border-radius getProportion(w, 1.5)
				box-shadow getProportion(w, .9) getProportion(w, .9) getProportion(w, 1) 0 rgba(color_brand_black, .2)
		.list-title
			color color_brand_magenta
		.folder-description
			paddingTop    = getProportion(w, 7.6)
			paddingRight  = getProportion(w, 2.2)
			paddingBottom = getProportion(w, 3.7)
			paddingLeft   = getProportion(w, 4.5)
			padding paddingTop paddingRight paddingBottom paddingLeft
			font-size getProportion(w, 5.6)
			.list-title
			li
				margin-bottom getProportion(w, 1.4)
	&.patient-profile-vp
		.folder-content
			paddingTop    = getProportion(w, .88)
			paddingRight  = getProportion(w, 2.65)
			paddingBottom = getProportion(w, 2.21)
			padding paddingTop paddingRight paddingBottom
		.name
			font-size getProportion(w, 9.73)
		.age
			font-size getProportion(w, 5.75)
		.folder-description
			paddingTop    = getProportion(w, 1.77)
			paddingRight  = getProportion(w, 2.65)
			padding paddingTop paddingRight
			font-size getProportion(w, 7.08)
			.list-title
				margin-bottom getProportion(w, 3.08)
			li
				margin-bottom getProportion(w, 3.9)
				padding-left getProportion(w, 4.4)
				font-size getProportion(w, 6.63)
				&:before
					color color
		&.front-side
			.list-title
				font-size getProportion(w, 9.7)
	&.gray
		border-color colorGray
		.main-part
			background-color rgba(color_brand_white, .7)
		.clamp
			background-image clampGradient(45deg, colorGray2), clampGradient(-45deg, colorGray2)
			&:before
				border-color colorGray2
			&:after
				background-color colorGray3
		li
		.list-title
			color colorGray