@import 'color-scheme'

colorGray = #e2e2e1

clampGradient(direction, _color)
	linear-gradient(direction, _color 50%, transparent 50%)

.folder-tablet
	position relative
	border-style solid
	.clamp
		bottom 100%
		background-image clampGradient(45deg, color_brand_cool_gray), clampGradient(-45deg, color_brand_cool_gray)
		z-index 2
		&
		&:before
		&:after
			position absolute
			left 50%
			transform translateX(-50%)
		&:before
		&:after
			content ''
		&:before
			border-radius 50%
			bottom 100%
		&:after
			top 100%
			width 100%
			background-color color_brand_gray_light4
	.main-part
	.folder-content
		height 100%
	.main-part
		background-color color_brand_white
	.folder-content
		background-color color_brand_gray_light4
		font-weight 700
		line-height 1.2
		font-family FrutigerLTCom
		letter-spacing -.2px
		.list-title
			color color_brand_green
		li
			position relative
			color color_brand_purple
			&:before
				content '-'
				position absolute
				left 0
				line-height inherit
	&.gray
		.folder-content
			background-color rgba(color_brand_gray_light3, .6)
	&.spaf-folder
	&.patient-profile
		.folder-content
			display flex
			flex-direction column
			justify-content space-between
			background-color color_brand_white
		.top-content
			height 31.5%
			display flex
			justify-content space-between
			padding 2% 4% 0
		.user-info
			display flex
			flex-direction column
			justify-content flex-end
			height 100%
			width 54%
			padding-bottom 2.6%
			div
				height 10%
				margin-top 7%
				background-color colorGray
				&:first-of-type
					width 90%
				&:last-of-type
					width 72%
		.folder-description
		.avatar
			background-color colorGray
		.avatar
			width 34%
		.folder-description
			height 63%
			font-weight 400
		.list-title
			font-weight 700
			letter-spacing .2px
	&.spaf-folder
		.main-part
			&:before
				content ''
				position absolute
				right 0
				bottom 0
				width 97%
				height 97.5%
				background-color color_brand_white
				border-radius 4px
		.clamp
			&:after
				background-color color_brand_gray_light3
	&.patient-profile-vp
		.top-content
			height 30%
			padding 2% 0 0
		.patient-info
			font-weight 400
		.name
			font-weight 700
			color color_brand_purple
		.avatar
			width 31%
		.folder-description
			height 65%
			.list-title
				line-height 1.3
			li
				line-height 1.05
				letter-spacing 0
				&:before
					content '\2022'
		&.front-side
			.folder-description
				display flex
				justify-content center
				align-items center
				text-align center
			.list-title
				line-height 1.2
				letter-spacing -.4px
				b
					font-size 132%