@import 'color-scheme'

$sharedPath = '../../shared/images/'

$pseudoElem()
	content ''
	position absolute

footer
	position absolute
	bottom 0
	left 0
	width 100%
	height 176px
	padding 61px 28px 0
.info-line-wrapper
	position absolute
	left 0
	top 0
	display flex
	align-items center
	justify-content space-between
	padding 0 28px
	width 100%
	height 40px
	border-top 1px solid color_brand_purple
	border-bottom 1px solid color_brand_purple
	transform translate3d(0, 0, 0)
	.column
		position relative
		display flex
		align-items center
		&:after
			$pseudoElem()
			height 100%
			top 50%
			width 2px
			left 100% - (@width / 2)
			transform translateY(-50%)
			background-repeat repeat-y
			background-size 2px 3px
			background-image radial-gradient(circle, color_brand_purple .2px, transparent 1.1px)
		&:last-of-type
			&:after
				content none
		@media only screen and (min-width: 1152px)
			&:after
				height 98%
	p
		color color_brand_purple
	.text
		font 400 9px / 1 FrutigerLTCom
		letter-spacing .2px
	.number
		position relative
		padding-left 20px
		font 900 25px / 1.2 FrutigerLTCom
		letter-spacing -.8px
		.patient-icon
			position absolute
			top 50%
			left 4px
			will-change transform
			transform translate3d(0, -50%, 0)
