@import 'color-scheme'

percentOfPatientsSlide(elements)
	padding 189px 73px 0 70px
	.top-text
		display flex
		align-items center
		margin-bottom 56px
		.counter
			display flex
			justify-content flex-end
			align-items center
			min-width 195px
			font 900 89px / 1.1 FrutigerLTComXBlkCn
			color color_brand_magenta
			p
				&:first-of-type
					font-size 45px
		.count-description
			margin-left 9px
			color color_brand_purple
			font 700 32px / 1.1 FrutigerLTCom
			letter-spacing -.2px
			span
				letter-spacing .5px
	.images-wrapper
		display flex
		justify-content space-between
		margin-bottom 103px
	.patient-item
		height 208px
		width 70px
		background url(assets/images/man.png) center / 99% auto no-repeat
		&:after
			transition .3s opacity ease-in-out 0s
		for item, index in elements
			&:nth-of-type({index + 1})
				&:after
					content ''
					display block
					width 100%
					height @width
					background url(assets/images/pink-man.png) center / 99% auto no-repeat
					opacity 0
					transition-delay unit(item, 'ms')
	.bottom_text
		font 900 22px / 1.2 FrutigerLTCom
		color color_brand_purple
		text-align center
		letter-spacing .1px
	&.state-animate
		.patient-item
			for item, index in elements
				&:nth-of-type({index + 1})
					&:after
						opacity 1
