@import 'color-scheme'

$local_color_brand_red = #ff0000
frontCoverVideoSlide()
	padding 0
	.background
		position absolute
		top 50%
		left 0
		width 100%
		z-index -1
		transform translateY(-50%) scale(1.4)
		@media only screen and (min-width: 1152px)
			transform translateY(-50%) scale(1.33)
	&.animated
		.main-wrapper
			width 100%
			height 100%
	h1
		padding 504px 0 0 448px
		margin 0
		font 900 37px / 1.15 FrutigerLTCom
		letter-spacing -.8px
		color color_brand_purple
		sup
			&:first-of-type
				font-size 48%
				letter-spacing -4px
	.video-wrapper
		position absolute
		top 0
		left 0
		width 100%
		height 100%
		background-color color_brand_black
		transition 2s opacity ease-in
		opacity 1
		z-index 2
	.play-button
		position absolute
		left 50%
		top 50%
		width 120px
		height @width
		transform translate3d(-50%, -50%, 0)
		background color_brand_gray_light1
		border-radius 50%
		pointer-events none
		opacity .6
		transition .3s opacity ease-in-out
		&:after
			content ''
			position absolute
			left 50%
			top 50%
			border-top 35px solid transparent
			border-bottom 35px solid transparent
			border-left 50px solid color_brand_black
			transform translate3d(-40%, -50%, 0)
	.main-logo
		position absolute
		top 31px
		left 39px
		height 64px
		width @height
	.bottom-text
		position absolute
		left 44px
		bottom 17px
		display flex
		align-items center
		margin 0
		text-align left
		figcaption
			margin-left 15px
			font 400 10px / 1.2 FrutigerLTComCn
			color color_brand_purple
			letter-spacing .1px
		.bottom-logo
			width 55px
			height @width
	.approve-number
		position absolute
		left 449px
		bottom 25px
		letter-spacing -.1px
		color color_brand_purple
		font 400 11px / 1.2 FrutigerLTComCn
	video
		width 100%
		height 100%
	.lead-paragraph
		height 28px
		margin 12px 0 0 450px
		padding-left 8px
		font 700 16px / 1.8 FrutigerLTCom
		letter-spacing .1px
		text-align left
		color color_brand_white
		background linear-gradient(90deg, color_brand_green_dark 20%, color_brand_green_light)
		border-radius 2px 0 0 2px
	.content
		opacity 0
		transition all .5s ease-in .5s
	.fpo-content
		position absolute
		bottom 36%
		left 51%
		transform rotate(-25deg)
		color $local_color_brand_red
		font 900 29px / 1.2 FrutigerLTCom
		mix-blend-mode multiply
	&.hide-element
		.video-wrapper
			pointer-events none
			display none
	&.hide-play
		.cover-video
			pointer-events none
		.play-button
			opacity 0
	&.state-frame1
		.video-wrapper
			opacity 0
	&.state-frame2
		.background
			transform translateY(-50%) scale(1)
			transition transform .5s ease-in
		.content
			opacity 1
	&.skip-animation
		.background
			top 50%
			transform translateY(-50%) scale(1)
			transition none
		.content
			opacity 1
			transition none
