@import 'color-scheme'

_contentLabel()
	content ''
	position absolute

_flex($direction, $h_align, $v_align)
	display flex
	flex-direction $direction
	justify-content $h_align
	align-items $v_align


.graph,
.g-content,
.g-bar-nest,
.g-bar
	position relative

.g-label,
.g-scale,
.g-line-name,
.g-line-value,
.g-bar-value,
.g-additional-value-wrapper,
.g-nest-name,
.g-nest-additional,
.g-line,
.g-cover,
.g-lines-values-wrapper,
.g-note,
.g-legend
	position absolute

.graphs-wrapper
	display flex
	justify-content space-between

.graph
	.additional-wrapper
		position absolute
		top 0
		left 0
		right 0
		bottom 0
	.additional
		position absolute
		text-align center
		font 700 14px / 1 FrutigerLTCom
	.arrows-block
		position absolute
		top 0
	.arrow-container
		margin 0
		figcaption
			font 700 15px / 1 FrutigerLTCom
			margin-bottom 7px
	.arrow
		width 110px
		.arrow-text-top
			_flex(row, center, center)
			padding-top 15px
			font 700 32px / 1 FrutigerLTComCn
			letter-spacing -2.7px
			small
				display block
				font-size 56%
				letter-spacing -.7px
			+ p
				padding-top 3px
				font-size 11px
		p
			padding-top 10px
			font-size 16px
			strong
				font-size 20px
		strong,
		small
			display inline-flex
	.human-icon
		width 12px
		height 23px
		mask url(../../shared/images/pink-man.png) center / 100% auto no-repeat
		background-color color_brand_white

.g-label
	top 0
	left 14px
	font 400 14px / 1 FrutigerLTCom
	z-index 1

.g-caption
	font 700 19px / 1.15 FrutigerLTCom
	text-align center
	color color_brand_black
	text-transform uppercase

.g-scale
	font 700 11px / 1 FrutigerLTCom
	color color_brand_black
	ul
	li
		position relative
	p
	span
		position absolute
		transform translate3d(0, 0, 0)
	p
		color color_brand_black
		text-align center
		font 400 13px / 1 FrutigerLTCom
	span
		color color_brand_black

.g-scale-h
	top 100%
	right 0
	left 0
	width auto
	border-bottom 1px solid color_brand_black
	p
		top 100%
		left 0
		width 100%
		padding-top 28px
	ul
		_flex(row, space-between, flex-start)
	li
		text-align center
		span
			top 0
			left 50%
			will-change transform
			transform translate3d(-50%, 0, 0)
			padding-top 8px
		&:before
			_contentLabel()
			left 50%
			border-left 1px solid color_brand_black
			top 0
			height 5px
		&:first-of-type
			visibility hidden

.g-scale-v
	width 100%
	height @width
	top 0
	left 0
	z-index 1
	p
		width auto
		white-space nowrap
		left 0
		bottom 50%
		will-change transform
		transform-origin center bottom
		transform translateX(-50%) rotate(-90deg)
		padding-bottom 28px
	ul
		_flex(column-reverse, space-between, flex-end)
		height 100%
	li
		width 100%
		text-align right
		span
			top 50%
			right 100%
			will-change transform
			transform translate3d(0, -50%, 0)
			padding 2px 6px 0 0
		&:before
			_contentLabel()
			width 5px
			top 50%
			left 0
			border-bottom 1px solid color_brand_black
			z-index 1

.g-content
	width 100%
	height @width
	_flex(row, space-around, flex-end)
	z-index 1
	border-left 1px solid color_brand_black

.g-line-name,
.g-line-value
	font 700 14px / 1 FrutigerLTCom

.g-bar
	width 66px
	&.gray-bar
		background-color color_brand_gray
	&.dark-gray-bar
		background-color color_brand_gray4
	&.magenta-bar
		background-color color_brand_magenta
	&.purple-bar
		background-color color_brand_purple
	&.green-bar
		background-color color_brand_green_light2

.g-bar-value
	width 100%
	margin-top 8px
	text-align center
	font 900 17px/1.1 FrutigerLTCom
	color color_brand_white

.g-additional-value-wrapper
	display flex
	justify-content center
	align-items center
	width 100%
	bottom 0
	margin-bottom 2px
	p
		color color_brand_white
		font 800 10px / 1 FrutigerLTCom

.additional-block-wrapper
	position absolute

.g-bar-nest
	height 100%
	_flex(row, flex-end, flex-end)

.g-nest-name
	top 100%
	left 0
	right 0
	text-align center
	font 400 13px/1.1 FrutigerLTCom
	will-change transform

.g-nest-additional
	font 700 13px / 1 FrutigerLTCom

.g-line,
.g-cover
	left 0
	bottom 0
	width 100%
	height @width

.g-lines-values-wrapper
	top 0
	width 100%
	height @width

.g-line-value
	font 900 15px/1 FrutigerLTCom

.g-note
	font 400 11px / 1.1 FrutigerLTCom

.g-legend
	display flex
	bottom -100px
	li
		position relative
		font 400 12px / 1 FrutigerLTCom
		padding-left 18px
		margin-right 12px
		&:before
			_contentLabel()
			top 0
			left 0
		&.gray-bar
		&.dark-gray-bar
		&.purple-bar
			&:before
				width 12px
				height @width
		&.magenta-bar
		&.pink-bar
		&.green-bar
			&:before
				width 11px
				height @width
				will-change transform
				transform rotate(45deg)
		&.pink-bar
			&:before
				background-color color_brand_pink
		&.gray-bar
			&:before
				top 1px
				background-color color_brand_gray
		&.dark-gray-bar
			&:before
				top 1px
				background-color color_brand_gray4
		&.purple-bar
			&:before
				background-color color_brand_purple
		&.magenta-bar
			&:before
				background-color color_brand_magenta
		&.green-bar
			&:before
				top 1px
				background-color color_brand_green_light
.g-bar-note
	bottom 100%
	margin-bottom 9px
	width 100%
	position absolute
	font 400 15px / 1 FrutigerLTCom
	text-align center
.top-scale
	.g-content
		border-top 1px solid color_brand_black
	.g-bar-nest
		align-items flex-start
	.g-bar-note
		top 100%
		bottom auto
		margin-top 9px

.g-animated
	.g-bar
	.g-cover
	.g-line
		will-change transform

	.g-bar
		transform scaleY(0)
		transform-origin bottom

	.g-bar-value
	.arrow
		opacity 0

	.g-cover
		overflow hidden
		transform translate3d(-100%, 0, 0)

	.g-line
		transform translate3d(100%, 0, 0)
