@import 'constants'

animateBar()
	.g-bar
		transform scaleY(1)
		transition transform unit($graphDuration, 's') unit($graphDelay, 's')
	.g-bar-value
		opacity 1
		transition transform unit($barValueDuration, 's') unit($barValueDelay, 's')

animateBarHorizontal()
	.g-bar
		transform translateX(0)
		transition transform unit($graphDuration, 's') unit($graphDelay, 's')

animateLine()
	.g-cover
	.g-line
		transform translate3d(0, 0, 0)
		transition transform unit($graphDuration, 's') unit($graphDelay, 's')

animateArrow()
	.graph
		.arrow
			opacity 1
			transition opacity unit($arrowDuration, 's') unit($arrowDelay, 's')