makeHArrowClipPath(sizePercent=5%, isFirst=false)
	arrowClipPath = 0 0, (100% - sizePercent) 0, 100% 50%, (100% - sizePercent) 100%, 0 100%
	if isFirst
		clip-path polygon(arrowClipPath)
	else
		clip-path polygon(arrowClipPath, sizePercent 50%)