@import 'color-scheme'
@import 'animation'

$gBarHeights  = (46px 104px 214px 288px)
$arrowClipPath = 0 42%, 90% 26%, 89% 0, 100% 50%, 89% 100%, 90% 77%
defaultDelay = 1
defaultAngle = -34
translateXValue = 0
barValueSelector = '.zoom-in-text .g-bar-value'

hasBledScoresSlide(directionalArrowWidth = 480, animation = false, delay = defaultDelay, angle = defaultAngle)
	delay = unit(delay, 's')
	angle = unit(angle, deg)
	translateXValue = unit(-100, '%') if animation
	padding 30px 70px 30px 71px
	header
		margin 29px 0 12px
	h1
		letter-spacing -.6px
		line-height 1.22
		sup
			left 1px
			letter-spacing 0
	.graph
		width 518px
		margin 59px auto 0 212px

	.g-scale-v
		p
			padding-bottom 43px
			font-size 13px
	.g-scale-label
		padding-left 6px
		letter-spacing .1px
	.g-bar-value
		margin-top 7px
		font-family FrutigerLTCom
	.directional-arrow-caption
		top 155px
		left 113px
		transform-origin top left
		transform rotate(-36deg)
		letter-spacing 0
	.g-label
		top -14px
		left 17px
		font-size 15px
		letter-spacing .4px
		color color_brand_purple
	.g-content
		height 326px
		padding 0 46px 0 44px
		justify-content space-between
	.key-message
		margin-top 77px
		padding-right 3px
		text-align center
		font-size 20px
		color color_brand_purple
		strong
			font-weight 900
	.g-bar-nest
		transform translate3d(0, 0, 0)
		for heightValue, index in $gBarHeights
			&:nth-of-type({index + 1})
				.g-bar
					height heightValue
		&:nth-of-type(1)
			.g-bar-value
				bottom 100%
				margin-bottom 6px
				color color_brand_gray
		&:last-of-type
			.g-nest-name
				margin-top 8px
				padding-left 5px
				letter-spacing -.4px
				font-size 14px
				color color_brand_purple
				&:before
					position relative
					top 1px
					left 2px
					content ''
					display inline-block
					height 14px
					width 96px
					background url('../../shared/images/rocket-af.png') 0 2px / 100% auto no-repeat
				sup
					top -.5px
					left 3px
					letter-spacing 0
					color color_brand_gray
					font-weight 700

	.g-additional-value-wrapper
		height 13px
		margin-bottom 7px

	.g-additional-value
		font-size 12px

	.g-nest-name
		right auto
		left 50%
		will-change transform
		transform translate(-50%, 0)
		margin-top 10px
		white-space nowrap
		font 400 13px / 1.2 FrutigerLTCom
		small
			font-size 90%

	.arrow-wrapper
		position absolute
		top 195px
		left 61px
		height 61px
		transform-origin left bottom
		transform rotate(angle) translate(translateXValue)
		overflow hidden

	.directional-arrow
		width unit(directionalArrowWidth, px)
		height 100%
		background url(assets/images/arrow.png) top left / 100% auto no-repeat
		transform translate(100%) if animation
		&:after
			content ''
			position absolute
			top 16px
			left 441px
			width 10px
			height 31px
			transform rotate(35deg)
			background url(assets/images/man-figure.png) center / 100% no-repeat

	.directional-arrow-caption
		position absolute
		top 155px
		left 113px
		text-align center
		white-space nowrap
		font-size 12px
		line-height 1.1

	.notes
		max-width 74%
		font 400 13px / 1.2 FrutigerLTCom
		letter-spacing -.1px
		p
			display inline
			margin-right 2px
		sub
			bottom -2px
		sup
			left 1px
			top 1px

	.info-button
		bottom 200px
		right 71px

	.patient-icon
		transform scale(.48)
		&:before
		&:after
			background-color color_brand_white

	@media only screen and (min-width: 1152px)
		.graph
			margin-left 305px

	if animation
		zoomInAnimation(barValueSelector)
		&.state-animate
			.arrow-wrapper
				transform rotate(angle) translate(0)
				transition transform delay
			.directional-arrow
				transform translate(0)
				transition transform delay
