@import color-scheme
@import table-mixins

middle_color_of_gradient = #422069
left_part_of_gradient = linear-gradient(to right, color_brand_purple, middle_color_of_gradient)
right_part_of_gradient = linear-gradient(to right, middle_color_of_gradient, color_brand_dr_purple)

setBorders(rightBorderColor, bottomBorderColor = none)
	border-right 1px solid rightBorderColor
	if(bottomBorderColor)
		if(bottomBorderColor != none)
			border-bottom 1px solid bottomBorderColor
		else
			border-bottom none

hasBledScoresPopup($isOneTable=true, $cols=cols)
	padding-top 24px
	h1
		margin 26px 0
		font 900 23px / 1 FrutigerLTCom
		letter-spacing -.2px
	.bullet.skrew
		margin-bottom 11px
		padding 0 30px 0 17px
		font-size 17px
		letter-spacing -.17px
		&:last-of-type
			margin-bottom 15px
		&:after
		&:before
			top 3px
			left 6px
			border-color transparent transparent transparent color_brand_magenta
		&:before
			left 2px
			border-color transparent color_brand_magenta transparent transparent
	if $isOneTable
		col
			setColWidth($cols)
	else
		.tables-wrapper
			display flex
			justify-content space-between
			@media only all and (min-width: 1152px)
				justify-content space-around
		table:nth-of-type(2)
			tbody td
				padding 10px 0 11px
		for cols, index in $cols
			table:nth-of-type({index+1}) col
				setColWidth(cols)
	table
		thead
			tr
				height 59px
		&:nth-of-type(1)
			thead
				th
					&:nth-of-type(1)
						letter-spacing -.5px
			tbody
				tr:last-of-type
					th
					td
						setBorders(color_brand_white)
						font-size 14px
						padding 7px 0 9px
				.dark
					background-color color_brand_purple2
		&:nth-of-type(2)
			tbody
				tr
					background purple_gradient_to_right
					&:nth-of-type(2)
						td
							padding 12px 0
					&:last-of-type
						td
							&:last-of-type
								font-size 15px
				td
					&:first-of-type
						background left_part_of_gradient
					&:last-of-type
						background right_part_of_gradient
		span
			font 400 14px / 1 FrutigerLTCom
	thead
		th
			setBorders(color_brand_white)
			background-color color_brand_purple
			color color_brand_white
			font 700 15px / 1.1 FrutigerLTCom
	tbody
		th
			setBorders(color_brand_purple, color_brand_purple)
			color color_brand_purple
		td
			padding 8px 0 7px
			setBorders(color_brand_white, color_brand_purple)
			text-align center
			font 400 15px / 1.1 FrutigerLTCom
			color color_brand_purple
			&.dark
				setBorders(color_brand_white, color_brand_white)
				font 700 18px / 1 FrutigerLTCom
				color color_brand_white
			strong
				font 900 18px / 1 FrutigerLTCom
				letter-spacing -.3px
		tr
			&:first-of-type
				td
					padding 10px 0 8px
	.injected-notes
		padding-right 60px
		left 50px
		bottom 49px
		font-size 10px
		line-height 1.2
		> p
			display inline