@import 'pie-chart-mixins'
@import 'table-mixins'

highestNumberPopup()
	padding-right 52px
	header
		padding-right 145px
	.pie-charts-wrapper
		display flex
		justify-content space-between
	.pie-chart-wrapper
		figcaption
			margin 0 0 23px 5px
			font 700 23px / 1.1 FrutigerLTCom
			letter-spacing -.3px
			text-align center
		&.gray
			figcaption
				color color_brand_gray
		&.dark-gray
			figcaption
				color color_brand_gray4
	.label
		display none
	_applyPieChartPopupStyles(paramsObject)
	.g-legend
		position initial
		display flex
		justify-content center
		margin-top 26px
		letter-spacing -.4px
		.dark-gray
			&:before
				width 12px
				height @width
				background-color color_brand_gray4
	table
		position absolute
		left 0
		right 0
		width 882px
		margin-top 22px
		caption
			padding-left 50px
			font 700 21px / 1.2 FrutigerLTCom
			color color_brand_purple
			text-align left
			letter-spacing -1px
		thead
		tbody
			border-bottom 1px solid color_brand_gray4
		thead
			th
				padding 8px 0 6px
				text-align left
				for item, index in $theadPaddings
					&:nth-of-type({index+1})
						padding-left unit(item, px)
		tbody
			th
			td
				padding 4px 0
			th
				padding-right 6px
				text-align right
		th
		td
			color color_brand_gray4
		th
			font 400 10px / 1.2 FrutigerLTCom
		td
			font 900 24px / 1.2 FrutigerLTCom
			span
				position relative
				padding-left 25px
				&:before
					content ''
					position absolute
					top 50%
					transform translate3d(0, -50%, 0)
					left 0
					width 20px
					height 19px
					mask url(../../shared/images/pink-man.png) center / contain no-repeat
					background-color color_brand_gray4
