@import 'folder-tablet-mixins'
@import 'brand-wheel'

setTextsFontSize(textParams)
	for fontParams, index in textParams
		&:nth-of-type({index + 1})
			font-size unit(fontParams[0], px)
			if fontParams[1]
				letter-spacing unit(fontParams[1], px)
			if fontParams[2]
				word-spacing unit(fontParams[2], px)

$options = {width: 238, height: 289}
textsFontParams = (20 -.1) (20 .9) (20 .9) (17 .7 13) (16 .5) (16 .5 11) (14 1 10)

indicationWheelSlide(disableIndexFolder)
	header
		margin-bottom 10%
		h1
			line-height 1.15
			letter-spacing -1.5px

	.content-wrapper
		display flex
		justify-content space-between
		align-items center

	brandWheel()
	svg
		width 348px
		height @width
		margin-right 5px

	.folder-tablet
		setFolderProps($options)
		&.spaf-folder
			margin-top 15px
			border-color color_brand_magenta
			.main-part
				padding 0
				.folder-content
					padding 11px 3px 14px
					border-radius 0
					box-shadow none
					transform none
				&:before
					content none
			.top-content
				height 30.5%
			.user-info
				width 46%
				padding-bottom 0
			.avatar
				width 28%
			.folder-description
				height 66%
				margin 0 4%
				padding-top 31px
				.list-title
				li
					margin-bottom 9px
				.list-title
					font-size 17px
					letter-spacing -.2px
				li
					letter-spacing -.4px
		&:nth-of-type({disableIndexFolder})
			opacity .3