@import 'color-scheme'

$sharedPath = '../../shared/images/'

.info-button
	position absolute
	bottom 142px
	right 28px
	width 30px
	height @width
	border-radius 50%
	background url($sharedPath + 'info-icon.png') center / 20% auto no-repeat, magenta_gradient_to_right
	&.purple
		background none
		border 1px solid color_brand_purple
		&:after
			content ''
			position absolute
			top 0
			left 0
			width 100%
			height @width
			background url($sharedPath + 'i.png') center / 20% auto no-repeat