@import 'rocket-arrows-slide'

lowerMajorBleedingSlide(arrowsBlocksParams)
	rocketArrowsSlide(arrowsBlocksParams)
	padding-top 41px
	header
		margin-bottom 82px
	h1
		letter-spacing -.05px
	.caption-subheader
		left -124px
		margin-top 32px
		font 300 22px / 1 FrutigerLTCom
		letter-spacing -.6px
		white-space nowrap
		color color_brand_purple
		mark
			letter-spacing -.7px
	.arrows-wrapper
		padding 97px 0 0 51px
		> figcaption
			padding-right 63px
			img
				width 210px
	.top-caption
		*[data-reference-id]
			top 1px
			font-size 10px
	.arrow-container
		width 178px
		figcaption
			font 700 16px / 1 FrutigerLTCom
			letter-spacing -.7px
			color color_brand_purple
			strong
				padding 31px 0 17px
				letter-spacing -.9px
				color color_brand_black
			sup
				&:first-of-type
					margin-left -18px
		.arrow
			p
				padding 19px 0 55px
			strong
				margin -1px 0 2px
				font-size 31px
			small
				line-height 1.15
			&.magenta
				p
					font-size 22px
					strong
						margin-top -1px
			&.purple
				p
					font-size 23px
	.arrows-block
		&:first-of-type
			&:after
				width 14px
				height 268px
				top 4px
				border 0
				background radial-gradient(circle, color_brand_purple .8px, transparent 1.4px) top center / 4px 4px repeat-y
			figcaption
				sup
					top 1px
					margin-left -19px
		&:last-of-type
			padding-right 123px
			.arrow-container
				width 182px
				&:first-of-type
					.arrow
						margin-top 61px
					strong
						font-size 34px
					p
						padding-left 8px
				&:last-of-type
					figcaption
						padding-left 6px
					.arrow
						margin-top 67px
					p
						padding-bottom 51px
			> figcaption
				margin-top 62px
				padding-right 106px
				letter-spacing -1.1px
				color color_brand_black
				sub
					font-size 12px
					letter-spacing -.8px
	footer
		padding 62px 0 0
		height 172px
	.info-line-wrapper
		padding 0 126px
		.column
			&:first-of-type
				.text
					margin-right 20px
					letter-spacing -.5px
				.number
					padding 0 59px 0 22px
					letter-spacing -.5px
			&:last-of-type
				margin-left 146px
				.text
					margin-right 11px
					letter-spacing -.55px
				.number
					padding-left 22px
	.bottom-text
		font 900 19px / 1.3 FrutigerLTCom
		letter-spacing .55px
	.injected-notes
		display flex
		font-weight 300
		left 70px
		bottom 26px
		font-size 9px
		p
			letter-spacing 0
			&:first-of-type
				padding-left 0
	.local-note
		position absolute
		bottom 40px
		left 70px
		font-size 13px
		letter-spacing -.1px
	.local-note
	.injected-notes p
		letter-spacing -.05px