@import 'superior-slide'

$isSlideAnimated = true
$lines = (('green.png' 0 110px 96.8%) ('gray.png' 0 65px 96.8%))

maceStyles()
	$comboSuperiorStyles($isSlideAnimated, $lines)
	&.slide
		padding 39px 36px 0
	header
		margin 0 0 10px
		h1
			font-size 45px
			letter-spacing -.65px
	h2
		margin-bottom 42px
		padding-left 32px
		line-height 1.2
		letter-spacing -.3px
		font-size 24px
	.graph
		width 610px
		height 268px
	.main-wrapper
		padding-left 86px
	.top-caption
		height 27px
		margin-bottom 12px
		padding-right 86px
		justify-content center
	.g-scale-h
		p
			padding 37px 0 0 10px
		li
			span
				padding-top 13px
				font-size 15px
	.g-scale-v
		.g-scale-label
			padding-bottom 35px
	.g-legend
		left 89px
		bottom -84px
	.arrow.green
		p
			padding-top 48px
			background-size 157px 171px
		strong
			line-height .9
			letter-spacing -1px
			padding-left 3px
			font-size 51px
			small
				&:first-of-type
					font-size 28px
				&:last-of-type
					padding-top 2px
					font-size 14px
		span
			position relative
			right 4px
	.additional-block-wrapper
		bottom calc(100% + 9px)
		left calc(100% - 18px)
		.patient-value
			justify-content center
			width 119px
			padding-right 10px
			p:first-of-type
				padding-left 6px
			.text
				position absolute
				top 100%
				left -9.5%
				width 138px
				margin-top 0
				strong
					margin 33px 0 0 2px
					letter-spacing 0
				span
					font-size 15px
	.arrows-block
		top 72px
		left 90.3%
	.open-popup
		right 38px
	@media only screen and (min-width: 1152px)
		.main-wrapper
			margin 0 170px
		.open-popup
			right 18%
		.g-caption
			margin-left 0
