@import 'superior-limb-slide'

maleStyles()
	superiorLimbStyles()
	h2
		margin-bottom 74px
	.main-wrapper
		justify-content center
		padding-left 33px
	.graphs-wrapper
		padding-right 200px
	.graph
		margin-bottom 34px
		height 282px
		&:before
			left 138.6%
	.g-scale-v
		.g-scale-label
			letter-spacing -.15px
			font-size 15px
	.g-scale-h
		p
			padding-right 17px
			font-size 15px
	.g-legend
		left 1px
		bottom -86px
		li
			font-size 15px
			&.dark-gray-bar
				margin-right 15px
				&:before
					top 1px
	.additional-block-wrapper
		bottom calc(100% - 23px)
		left calc(100% + 13px)
		.text strong
			margin-top 24px
			letter-spacing 0
	.arrows-block
		top 91px
		left 94%
	.right-side
		display flex
		align-items center
		padding-top 0
		.item
			position relative
			left 4px
	.open-popup
		right 71px
	@media only screen and (min-width: 1152px)
		&.slide
			padding 30px 140px 30px 160px
