@import 'color-scheme'

$elPosition
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -50%)

.marker,
.marker-line
    &:before,
    &:after
        content ''
        position absolute

.marker-line
    position absolute
    // @stylint off
    height 14px
    // @stylint on
    border-left 2px solid color_brand_purple
    border-right 2px solid color_brand_purple
    &:before,
    &:after
        @extend $elPosition
        will-change transform
    &:before
        // @stylint off
        height 2px
        // @stylint on
        width 100%
        background-color color_brand_purple2
    .marker
        @extend $elPosition
        // @stylint off
        height 16px
        width 8px
        // @stylint on
        z-index 1
        &:before,
        &:after
            left 0
            border-width (@width / 2)
            border-color transparent
            border-style solid
            height 50%
            // @stylint off
            width 100%
            // @stylint on
        &:before
            bottom 50%
            border-bottom-width @width
            border-bottom-color color_brand_magenta
        &:after
            top 50%
            border-top-width @width
            border-top-color color_brand_magenta
