@import 'color-scheme'

meetingTheNeedSlide($leadLabel = false)
	padding 29px 55px 30px 85px
	header
		margin 30px 0 11px

	.icons, .texts, .items
		display flex
		justify-content space-between

	.aspirin, .pills
		height 218px

	strong
		font-weight 900
	h1
	.lead-paragraph
		padding-right 28px
	.lead-paragraph
		margin-bottom 81px
		line-height 1.2
		sup
			left 0
			letter-spacing 0

	.items
		position relative
		margin-bottom 1px
		padding 0 56px 0 35px

	.plus
		margin 27px 18px 0 0
		font-size 154px
		font-weight 900
		color color_brand_green_light

	.aspirin
		width 227px

	.pills
		width 441px

	.icons
		align-items flex-end
		width 257px
		margin 0 148px -3px auto

	.icon
		&:first-of-type
			width 41px
			height 41px
		&:last-of-type
			width 32px
			height 33px

	.texts
		padding 0 194px 0 57px

	.text-item
		font 400 26px / 1.2 FrutigerLTCom
		text-align center
		&:first-of-type
			color color_brand_gray4
		&:last-of-type
			color color_brand_purple

	.info-button
		bottom 149px
		right 71px
	.injected-notes
		left 74px

	if $leadLabel
		header
			position relative
		.lead-paragraph-label
			position absolute
			top 64px
			left 21px
			font 900 34px / .9 FrutigerLTComCN
			letter-spacing .6px
			color color_brand_green_light
			&:before
			&:after
				content ''
				position absolute
				top -8px
				bottom @top
				width 10px
				border 4px solid color_brand_green_light
			&:before
				left -9px
				border-right none
			&:after
				right -9px
				border-left none