@import 'color-scheme'

custom_color_gray = #dfe0e0
custom_color_gray1 = #a3a1a0
custom_color_green = #1fb046
custom_color_green1 = #197d37

setTopLeft(data)
	for item, index in data
		&:nth-of-type({index + 1})
			top unit(item[0], px)
			left unit(item[1], px)

meetingNeedPopup()
	padding-right 50px
	.content:after
		content ''
		position absolute
		left 172px
		top 159px
		width 648px
		height 400px
		background url(assets/images/cycle.png) top left / contain no-repeat
	h1
		margin 13px 0 35px
		font-size 40px
		text-align center
		letter-spacing -1.35px
		padding-right 6px
	section
		position relative
		background-color custom_color_gray
		&:nth-of-type(1)
			height 220px
			margin-bottom 33px
			.title-container
				background-color custom_color_green
			figure
				top 10px
				left 97px
			.states-captions p
				setTopLeft(firstSectionCaptionsPositions)
			.caption-arrow
				top calc(100% + 7px)
				left 1px
				height 59px
				background url(assets/images/green-arrow.png) 0 0 / 87% no-repeat
		&:nth-of-type(2)
			height 240px
			.title-container
				background-color custom_color_gray1
				p
					width 220px
			figure
				top 184px
				left 97px
			figcaption
				letter-spacing -.2px
			.states-captions p
				setTopLeft(secondSectionCaptionsPositions)
			.caption-arrow
				background url(assets/images/gray-arrow.png) 0 0 / 87% no-repeat
				bottom 100%
	.title-container
		position relative
		width 65px
		height 100%
		color color_brand_white
		p
			position absolute
			top 50%
			left 50%
			transform translate3d(-50%, -50%, 0) rotate(-90deg)
			font-size 22px
			font-weight 900
	figure
		position absolute
	figcaption
		font 700 17px / 1.4 FrutigerLtCom
	.caption-arrow
		position absolute
		width 50px
		height 53px
	.states-captions
		position absolute
		top 0
		left 0
		p
			position absolute
			width 160px
			font 700 17px / 1 FrutigerLtCom
	.notes
		letter-spacing -.4px
	@media only screen and (min-width: 1152px)
		.content
			width 82%
			margin 0 auto
			&:after
				left 50%
				transform translateX(-50%)
