@import 'color-scheme'

methodologyPopup()
	h1
		margin-bottom 46px
		line-height 1.1
	dt
		margin-bottom 6px
		font 700 15px / 1 FrutigerLTCom
		color color_brand_purple
	dd, li
		font 400 14px / 1.14 FrutigerLTCom
		letter-spacing -.25px
	dd
		margin-bottom 8px
		&:nth-of-type(2),
		&:nth-of-type(3)
			margin-bottom 20px
	ul
		padding-left 6px
	li
		position relative
		margin-bottom 6px
		padding-left 4px
		&:before
			content ''
			position absolute
			width 7px
			height 2px
			top 50%
			right 100%
			background-color color_brand_black
			transform translateY(-50%)
