@import 'color-scheme'
@import 'percent-arrow-value'

mortalityArrPopup()
	&.slide
		padding-top 32px
	header
		margin-bottom 10px
	h1
		font-size 40px
		letter-spacing -.6px
	.lead-paragraph
		margin-bottom 110px
		font-size 20px
		line-height 1.2
		letter-spacing -.25px
	.text
		position absolute
		left 1px
		bottom -18px
		white-space nowrap
		font 300 13px / 1 FrutigerLTCom
		letter-spacing .1px
	.info-line-wrapper
		top 0
		right 0
		left auto
		width auto
		height 44px
		padding 6px 4px 5px 3px
		.number
			font-size 26px
			letter-spacing -1.4px
			padding-left 5px
			&:before
				height 18px
				width @height
	.percent-value
		percentArrowValue(287px, 17px, 84%)
		position relative
		width 666px
		margin 0 auto
		.number-wrapper
			letter-spacing -18px
			font 900 249px / .74 FrutigerLTComCn
			> div
				padding 10px 0 5px 10px
		.percent
			font-size 58.5%
		.abbr
			font-size 26%
			letter-spacing -.5px
			padding-left 8px
		.info
			padding-left 12px
			letter-spacing -.3px
			font 900 33px/1 FrutigerLTCom
			small
				font-weight 400

	.bottom-arrow
		bottomArrow(53px, 259px, 64px, 63px)
		margin 0 47px 0 43px
	.bottom-arrow-wrapper
		margin-top 8px

	.injected-notes
		left 39px
		bottom 27px
