@import 'color-scheme'
@import 'percent-arrow-value'

mortalitySlide($animateSelecor = '.bottom-arrow')
	header
		margin 30px 0 8px
	h1
		letter-spacing -.6px
	.lead-paragraph
		margin-bottom 112px
		line-height 1.2
		letter-spacing -.25px
	.info-line-wrapper
		top 38.8%
		left 821px
		width auto
		padding 5px 2px 6px 0
		.number
			&:before
				height 18px
				width @height
		.text
			position absolute
			left 50%
			transform translateX(-50%)
			top 100%
			margin-top 17px
			white-space nowrap
			font 300 13px / 1 FrutigerLTCom
			letter-spacing .1px
	.percent-value
		percentArrowValue(287px, 24px, 84%)
		margin-left 145px
		.percent
			font-size 58%
		.abbr
			font-size 26%
			letter-spacing -.5px
			padding-left 10px
		.info
			padding-left 13px
			letter-spacing -.3px
			font 900 38px / .9 FrutigerLTCom
			small
				font-weight 400
		.number-wrapper
			letter-spacing -12px
			> div
				padding 12px 0 4px
	.injected-notes
		left 71px
	.bottom-arrow
		bottomArrow(61px, 299px, 72px, 72px)
		margin 0 55px 0 43px
	.bottom-arrow-wrapper
		bottom 26px
		margin-top 8px
	.open-popup
		right 72px
		bottom 149px
	if($animateSelecor)
		bottomArrowAnimation($animateSelecor)