@import 'percent-arrow-value'
@import 'color-scheme'

$columnWidth = 59.4%

mortalityReductionsPopup()
	padding 28px 0
	h1
		font-size 40px
	.lead-paragraph
		margin-bottom 75px
	.rows-wrapper
		width 66.5%
		margin-left 180px
	.row
		display flex
		justify-content space-between
		border-bottom 1px solid color_brand_gray4
		color color_brand_gray4
	.column
		display flex
		flex-direction column
		justify-content center
		&:first-of-type
			width $columnWidth
			border-right 1px solid color_brand_gray4
		&:last-of-type
			width 100% - $columnWidth
	.captions
		.column
			text-align center
			border-right none
			padding 17px 0
		p
			font 900 16px / 1.2 FrutigerLTCom
			letter-spacing .25px
	.caption
		font 300 20px / 1.2 FrutigerLTCom
	.item
		.column
			padding 9px 0
			&:last-of-type
				padding-left 37px
		&:nth-of-type(n+4)
			.column
				padding-top 5px
				padding-bottom 6px

	.row
		&:not(:last-of-type)
			.percent-value
				percentArrowValue(39px, 2px, 93%, 39, color_brand_gray4)
			.bottom-arrow
				bottomArrow(10px, 59px, 11px, 10px, rgba(color_brand_gray4, .6))
		&:last-of-type
			color color_brand_green_light2
			.caption
				font-weight 700
			.percent-value
				percentArrowValue(39px, 2px, 93%, 39, color_brand_green_light2)
			.bottom-arrow
				bottomArrow(10px, 59px, 11px, 10px, color_brand_green_light2)
				top 7px
	.percent-value
		.number-wrapper
			.number
			.percent
				font-family FrutigerLTCom
				letter-spacing -2.5px
		.info-wrapper
			padding 8px 0 0 4px
			font-weight 400
			line-height 1
