@import 'color-scheme'

$sharedPath = '../../shared/images/'
$imageName = 'navigation-button-icon.png'

.navigation-button
	position absolute
	top 245px
	left 608px
	padding 7px 77px
	font 400 13px / 1 FrutigerLTCom
	letter-spacing .1px
	border 1px solid color_brand_purple
	&.purple
		color color_brand_purple
	&.magenta
		color color_brand_magenta
	&:focus
		outline 0
	&:after
		content ''
		position absolute
		top 3px
		right 4px
		width 20px
		height 21px
		background url($sharedPath + $imageName) center / 100% auto no-repeat