@import 'color-scheme'

newStandardOfCare($margins)
	padding 30px 65px
	header
		margin 30px 0 10px
	.lead-paragraph
		margin-bottom 18px
	.figures-wrapper
		display flex
		justify-content space-between
		padding-left 12px
		text-align center
		p
			color color_brand_gray3
			font 300 37px / 1.1 FrutigerLTCom
			letter-spacing -1.7px
		.sub-caption
			margin-bottom 20px
			font-weight 900
			letter-spacing -1.45px
		.number
			margin-bottom 11px
			font 900 207px / .85 FrutigerLTCom
			letter-spacing -13px
	figcaption
		margin-bottom 45px
		color color_brand_purple
		font 300 45px / 1 FrutigerLTCom
		letter-spacing -.85px
		b
			font-weight 900
	figure
		transform scale(.67)
		transition transform .5s 0s linear
		for $margin, $index in $margins
			$position = $margin[0]
			&:nth-of-type({$index + 1})
				figcaption
					margin-{$position} $margin[1]
				.number
					margin-{$position} $margin[2]
	&.state-limb
		.limb
			transform scale(1)
	&.state-cv
		.cv
			transform scale(1)