@import 'color-scheme'

$popupHeight = 700px
$closeButtonSize = 28px
$topPOsition = 54.65%

topOffset = 50
leftOffset = 50

closeButton()
	width $closeButtonSize
	height @width
	background none
	&:before
	&:after
		content ' '
		position absolute
		left 0
		right 0
		top 0
		bottom 0
		margin auto
		height $closeButtonSize
		width 1px
		background-color color_brand_dr_purple
	&:before
		transform rotate(45deg)
	&:after
		transform rotate(-45deg)

.custom-popup
	position fixed
	top 0
	bottom 0
	left 0
	right 0
	opacity 0
	pointer-events none
	z-index 100
	transition opacity .5s
	article
		padding 32px 51px 0
	&.state-ag-overlay-open
		opacity 1
		pointer-events auto
		.ag-overlay-background,
		.ag-overlay-content,
		.ag-overlay-x
			z-index 8
		.ag-overlay-content
			transform translate3d(-50%, -50%, 0)
		.ag-overlay-x
			transform translateY(0)
		.ag-overlay-background
			pointer-events none
	.ag-overlay-background
		background-color rgba(0, 0, 0, .7)
		transition-property none
	.ag-overlay-content
		position absolute
		padding 0
		overflow hidden
		width 882px
		left unit(leftOffset, '%')
		top $topPOsition
		height $popupHeight
		border 0
		border-radius 0
		transform translate3d(-50%, 50%, 0)
		transition transform .5s
		box-shadow 12px 5px 10px rgba(0, 0, 0, .3)
	.ag-overlay-x
		padding 0
		closeButton()
		top 11.3%
		right 8.4%
		transform translateY($popupHeight - $closeButtonSize)
		transition transform .5s
	@media only screen and (min-width: 1152px)
		.ag-overlay-content
			height 91%
			width 86%

#ahRefsNotesPopup
	&.custom-refs-notes-popup
		align-items flex-end
		.x
			top 20px
			right @top
			closeButton()
		.auto-references-popup
			height ($popupHeight - 2)
			max-height @height
			border 0
			border-radius 0
			box-shadow 12px 5px 10px rgba(0, 0, 0, .3)
		.scroll
			max-height 630px