@import 'front-cover-video-slide'
$path = '../../shared/images/'

padDualCoverStyles()
	frontCoverVideoSlide()
	h1
		padding 499px 0 0 44%
	.lead-paragraph
		margin 13px 0 0 44%
		height 28px
		padding-left 8px
		font 500 16px / 1.8 FrutigerLTCom
		border-radius 0
		letter-spacing -.65px
	b
		font-weight 900
	.main-logo
		content url($path + $logo)
		width 63px
		height @width
		top 34px
		left 40px
	footer
		display flex
		height 131px
		padding-left 44px
	.bottom-text
		bottom 15px
		figcaption
			color color_brand_green
		img
			width 54px
			height @width
		&:first-of-type
			left 348px
			figcaption
				letter-spacing 0
		&:last-of-type
			left 43px
			figcaption
				color color_brand_purple
	.main-wrapper
		background-position 0 -41px
	.approve-number
		left 690px
		font-size 10px
