@import 'stopped-early-slide'

padStoppedEarlySlide()
	stoppedEarlySlide()
	header
		margin 26px 0 11px
		h1
			letter-spacing -.55px
	.lead-paragraph
		margin-bottom 51px
		padding-left 34px
	.injected-notes
		bottom 25px
	.top-caption
		width 645px
		padding 0 0 0 64px
	.main-wrapper
		margin-bottom 66px
		width 797px
	.g-scale-v .g-scale-label
		padding-right 0
	.additional-block-wrapper
		bottom calc(100% - 9px)
		.patient-value
			padding 6px 0 4px
			p:first-of-type
				padding-left 5px
				letter-spacing -1.1px
		p
			font-size 26px
		.text
			strong
				margin-top 18px
				letter-spacing 0
	.bullet.skrew
		margin 59px 0 0 19px
		font-size 20px
		&:before
		&:after
			top 5px
			left -15px
		&:after
			left -10px
	.open-popup
		right 70px
		bottom 13%
	@media only screen and (min-width: 1152px)
		.main-wrapper
			margin 0 auto
			padding-left 0
