@import 'reassuring-safety-popup'

padReassuringSafetyPopup()
	reassuringSafetyPopup()
	&.slide
		padding 11px 30px
	header
		margin-bottom 15px
	h1
		letter-spacing -.5px
	.graph
		margin 45px 10px 0 78px
	.g-content
		padding 0 25px 0 32px
	.g-bar-value
		margin-top 8px
		letter-spacing -.8px
		font-size 18px
	.g-bar-nest:first-of-type
		margin-right 9px
		&:before
			right -27px
	.g-scale-v
		.g-scale-label
			padding-bottom 29px
	.additional-wrapper
		.additional
			left 69px
	.patient-value
		padding 5px 0 5px 5px
		width 100%
		p
			font-size 26px
			letter-spacing -.9px
		.text
			width 100%
			text-align center
			font-family FrutigerLTCom
			line-height 1.2
	.g-legend
		left 0
		right 0
		bottom -74px
		justify-content center
		padding-left 17px
	.g-bar-nest .g-nest-name
		font-weight 400
	.additional-description
		left 367px
		top 103px
	.diamond-list
		max-width 1000px
		margin-top 117px
		margin-left 63px
		li
			margin-left 22px
			margin-bottom 3px
			padding-left 17px
			font-size 18px
			line-height 1.3
			letter-spacing -.2px
			&:after
			&:before
				content ''
				position absolute
				top 3px
				left 4px
				width 0
				height 0
				background-color transparent
				border-style solid
				border-width 7px 0 7px 5px
				border-color transparent transparent transparent color_brand_green_light
			&:before
				left 0
				border-width 7px 5px 7px 0
				border-color transparent color_brand_green_light transparent transparent
			&:nth-of-type(1)
				margin-left 20px
				padding-left 0
				&:before
				&:after
					content none
	@media only screen and (min-width: 1152px)
		.additional-description
			left 63.5%
			transform translateX(-50%)
