@import 'safety-profile-slide'

padSafetyStyles()
	$safetyProfile()
	header
		margin 30px 0 9px
	h1
		padding-left 44px
		letter-spacing -.6px
	.graph
		margin 78px 4.3% 0 12.5%
		.g-bar-nest
			&:first-of-type
				margin-right 0
				&:before
					right -27px
					background radial-gradient(circle, color_brand_black 1px, transparent 1px) center / 2px 3px repeat-y
	.g-content
		padding 0 22px 0 48px
	.additional
		left 85px
	.g-scale-label
		padding-bottom 29px
	.additional-description
		top 79px
		left 50%
	.additional-block-wrapper
		top -2px
		right 14px
		.text
			position absolute
			top 100%
			left 0
			margin 7px 0 0
			letter-spacing .3px
		.info-line-wrapper
			padding 5px 0
		.patient-value
			width 123px
			padding 5px 22px 5px 17px
	.g-legend
		bottom -75px
		left 18.5%
		li:before
			top 1px
	.bottom-note
		margin-top 145px
		font 900 21px / 1.1 FrutigerLTCom
		letter-spacing -.5px
	.open-popup
		bottom 107px
		right 26px
	.g-nest-name
		font-weight 500

	@media only screen and (min-width: 1152px)
		.additional-description
			left 54.5%
		.graph
			.g-bar-nest
				&:first-of-type:before
					right -75px
		.g-legend
			left 26.7%
		.g-nest-name
			font-weight 500
