@import 'color-scheme'

$heightRatio = .68

.patient-icon
	position relative
	height 18px
	width @height * $heightRatio
	overflow hidden
	&:before
	&:after
		content ''
		position absolute
		border-radius 50%
		background-color color_brand_purple
		height @width
		width 100%
	&:before
		top 0
		left 50%
		transform translateX(-50%)
		width @width - 36%
		height @width
	&:after
		bottom 0
		left 0
		width 100%
		transform-origin center
		transform translateY(50%) scaleY(1.45)