@import 'color-scheme'
@import 'folder-tablet-mixins'
@import 'pills'

patientSummary()
	$pills(130px, 45px, 0, 19px, 24px)
	padding 30px 42px
	header
		margin-bottom 6px
	.lead-paragraph
		margin-bottom 68px
	.pills-scheme-wrapper
		display flex
		flex-direction column
		justify-content space-between
		padding-top 13px
	.slide-content-wrapper
		display flex
		justify-content space-around
		padding 0 5%
		.plus
			margin 41px 19px 0 15px
		.icon
			margin-top 4px
		.additional
			padding 10px
			text-align center
			font 900 25px / 1.2 FrutigerLTCom
			letter-spacing -.4px
			background-color color_brand_green
			color color_brand_white
	.pill-wrapper
		&:last-of-type
			.icon
				img
					height 80%
	.folder-tablet
		setFolderProps($folderOptions)
		.top-content
			padding 0
		.folder-description
			display flex
			justify-content center
			align-items center
			height 62.3%
		.list-title
			padding 7px 20px 0
			font 700 31px / 1.1 FrutigerLTCom
			text-align center
			letter-spacing -.3px
			span
				display inline-block
				transform translateY(-3px)
