@import 'color-scheme'

.patient-value
	display flex
	align-items baseline
	justify-content space-between
	width 106px
	border-top 1px solid color_brand_purple
	border-bottom @border-top
	padding 6px 0 6px 2px
	color color_brand_purple
	p
		font 900 25px / 1.2 FrutigerLTCom
		letter-spacing -.8px