@import 'folder-tablet-mixins'
@import 'pills'

folderWidth = 226
folderHeight = 277

patientSummaryFragment($folderOptions = {width: 226, height: 277, color: color_brand_green})
	padding-top 54px
	header
		margin 10px 0 14px
	h1
		line-height 1
	.lead-paragraph
		margin-bottom 37px
		line-height 1.16
	.patients-summary-folders
		display flex
		justify-content space-between
		margin-bottom 23px
		padding 0 63px
	.folder-tablet
		position absolute
		top 0
		left 0
		setFolderProps($folderOptions)
	.folder-tablet.patient-profile-vp
		.name
			font-size 23px
			letter-spacing -.6px
		.age
			font-size 14px
			line-height .9
			letter-spacing -.6px
		.folder-description
			.list-title
				font-size 17px
				line-height 1.2
				letter-spacing -.35px
			li
				white-space nowrap
	.front-side
	.back-side
		position absolute
		top 0
		transition all .4s ease-out
		transform-style preserve-3d
		backface-visibility hidden
		-webkit-backface-visibility hidden
		-ms-backface-visibility hidden
		transform translate3d(0, 0, 0)
	.front-side
		z-index 10
		transform rotateY(0deg)
	.back-side
		transform rotateY(-180deg)
		z-index 9
	.folder-sides-wrapper
		position relative
		width unit(folderWidth, px)
		height unit(folderHeight, px)
		perspective 1000px
		&.flip
			.front-side
				z-index 9
				transform rotateY(180deg)
			.back-side
				z-index 10
				transform rotateY(0deg)
	.pills-scheme
		margin 0 auto
	$pills()
