@import 'folder-tablet-mixins'
@import 'percent-arrow-value'

patientProtectionSlide($animateSelecor = '.bottom-arrow', $folderOptions = {width: 133, height: 163, color: color_brand_green})
	padding 30px 50px
	header
		margin 33px 0 14px
	h1
		font-size 44px
		line-height 1.1
		letter-spacing -1.7px
	.lead-paragraph
		padding-left 4px
		margin-bottom 103px
		line-height 1.2
		b
			font-weight 900
	.description
		flex 1
		margin-left 11px
		align-self center
		letter-spacing .45px
	.content-wrapper
		margin-bottom 24px
	.rows-wrapper
		position relative
		padding-left 133px
	.row
		position relative
		display flex
		justify-content space-between
		margin-bottom 34px
		padding-bottom 26px
		color color_brand_purple
		font 900 19px / 1.3 FrutigerLTCom
		&:after
			content ''
			width 80%
			height 3px
			position absolute
			top 100%
			left 4px
			background radial-gradient(circle at center, color_brand_black 10%, transparent 50%) left / 3px 3px repeat-x
		&:nth-of-type(1)
			.description
				margin-top 10px
		&:nth-of-type(2)
			.number-wrapper
				margin-bottom 7px
			.description
				margin 0 0 15px 18px
	.percent-value
		min-width 165px
		percentArrowValue(73px)
		.percent
			font-size 43px
			margin-left -2px
		.abbr
			margin-left 5px
			font-size 19px
			letter-spacing 0
		.number-wrapper
			margin-bottom 6px
			letter-spacing -2px
			font-size 74px
			> div
				padding 3px 0 2px
	.info
		padding-left 2px
	.bottom-arrow
		bottomArrow(14px, 76px, 16px, 16px)
		margin-right 13px
	.bottom-arrow-wrapper
		position relative
		top 2px
	if($animateSelecor)
		bottomArrowAnimation($animateSelecor)

	.bottom-text
		margin-top 100px
		line-height 1.3
		font-size 19px
		letter-spacing .35px
		color color_brand_green_light
	.injected-notes
		left 70px
		letter-spacing -.25px
		p
			display inline
	figure
		position relative
		figcaption
			margin-bottom 21px
			font 900 20px / 1.2 FrutigerLTCom
			color color_brand_green_light
			letter-spacing -.1px
	.info-line-wrapper
		width 134px
		left 100%
		height 43px
		padding 0 21px 0 17px
		.text
			position absolute
			left 50%
			transform translateX(-50%)
			top 100%
			margin-top 5px
			white-space nowrap
			font 900 13px / 1 FrutigerLTCom
			letter-spacing .1px
		.number
			padding-left 5px
			margin-right auto
	.folder-tablet
		setFolderProps($folderOptions)