$heightRatio = .68

buildPatientIcon($height = 19px, $bgColor = color_brand_purple)
	$width = $height * $heightRatio
	height $height
	width $width
	&:before
	&:after
		background-color $bgColor
		height $width
	&:before
		width @width - 36%
		height @width