@import 'color-scheme'
@import 'animation'

$imgPath = 'assets/images/'

setLineBg(bgPaths, lineBgPos, lineColors)
	for localBgPaths, index in bgPaths
		$bgsPos = lineBgPos[index]
		&:nth-of-type({index + 1})
			for bg, i in localBgPaths
				$lineBg = $imgPath + bg
				$localBgPos = $bgsPos[i]
				.g-line
					&:nth-of-type({i+1})
						background url($lineBg) no-repeat
						background-position unit($localBgPos[0], px) unit($localBgPos[1], px)
						background-size unit($localBgPos[2], '%')

positionPointersHorizontalAxis(margins)
	for localMargin in margins
		index = localMargin[0]
		&:nth-of-type({index + 1})
			margin-left unit(localMargin[1], px)

peDvtEfficacySlide($lineBackground, $lineBgPosSize, $lineValColors, $horizontalAxisMargins)
	header
		margin-bottom 36px
		h1
			margin-bottom 12px
			letter-spacing -.8px
	.sub-header
		font 300 24px/1.2 FrutigerLTCom
		letter-spacing -.3px
		text-align center
		color color_brand_purple
	.top-caption
		margin-bottom 47px
		padding-left 51px
		height 18px
		*[data-reference-id]
			margin-top -21px
			font-size 11px
	.content-wrapper
		display flex
		justify-content space-between
		padding 0 8.7% 0  5.8%
	.graph-wrapper
		width 300px
		height 238px
		setLineBg($lineBackground, $lineBgPosSize, $lineValColors)
		&:first-of-type
			&:after
				content ''
				position absolute
				top 36%
				left 50%
				height 313px
				width 1px
				background color_brand_black
			.g-caption
				margin-left 16px
			.additional-wrapper
				top 23px
				left 213px
				white-space nowrap
				letter-spacing -.4px
			.g-legend
				left 69px
		&:last-of-type
			.top-caption
				padding-left 50px
				margin-bottom 48px
				height 17px
			.g-legend
				left 7px
				white-space nowrap
				li
					margin-right 13px
	.graph
		height 100%
	.g-caption
		position absolute
		width 100%
		bottom 100%
		margin-bottom -6px
		font-size 20px
		color color_brand_magenta
		text-transform none
	.g-scale-v p
		padding-bottom 21px
		letter-spacing -.8px
	.g-scale-h
		ul
			li
				margin-left 25px
				positionPointersHorizontalAxis($horizontalAxisMargins)
		p
			left -3px
			letter-spacing -.7px
	.arrows-block
		top 23px
		right -99px
	.arrow-text-top
		padding 16px 0 57px
		> small
			&:first-of-type
				margin-right -3px
			&:last-of-type
				margin 0 3px
	.efficacy-notes
		margin 50px 0 0 18px
		font-size 8px
		line-height 1.2
	.g-legend li
		padding-left 16px
		margin-right 19px
		font-size 10px
		&:before
			width 10px
			height @width
		&.dark-gray-bar
			&:before
				top 0
		&.magenta-bar
		&.pink-bar
			&:before
				top -1px
	footer
		height 128px
	.info-line-wrapper
		align-items flex-start
		padding 4px 0 0
		.text
			font-size 11px
			letter-spacing -.1px
		.number
			padding-left 25px
		.column
			position static
			&:first-of-type
				padding-left 15.7%
				.text
					padding-right 37px
				&:after
					width 1px
					left 50%
					height 80%
					background color_brand_black
			&:last-of-type
				padding-right 15%
				.text
					padding-right 14px
	zoomInAnimation('.arrows-block', .5)
