@import 'color-scheme'
@import 'animation'

$localImagesPath = 'assets/images/'
$sharedImagesPath = '../../shared/images/'

$pseudoElement
	content ''
	position absolute

$flexElement
	flex-direction column
	justify-content space-between
	align-items flex-start

_setFooterColumns($footerColumns)
	for column, index in $footerColumns
		&:nth-of-type({index+1})
			padding-right unit(column[0], px)
			p
				color column[1]
			.number
				.patient-icon:before
				.patient-icon:after
					background-color column[1]

_setBarsWidths($barsWidths)
	for item, index in $barsWidths
		.nest-container:nth-of-type({index+1})
			for barItem, barIndex in item
				.g-bar:nth-of-type({barIndex+1})
					width unit(barItem, px)

_setNestsImages($nestImages)
	for item, index in $nestImages
		.nest-container:nth-of-type({index+1})
			.bar-nest-info
				&:before
					background url($localImagesPath + item + '.png') center \/ contain no-repeat

peDvtVteHighestNumberSlide($options)
	header
		margin-top 10px
		margin-bottom 40px
		img
			top 52px
			right 72px
			width 95px
		h1
			font 900 29px / 1.2 FrutigerLTCom
			text-align left
			letter-spacing -.8px
	.lead-paragraph
		padding-left 127px
		text-align center
		font 700 20px / 1 FrutigerLTCom
		letter-spacing -.55px
		color color_brand_purple
		mark
			font-weight inherit
	.img-refs-notes
		position absolute
		top 49px
		right 55px
		color color_brand_magenta
		sup
			font 700 10px / 1 FrutigerLTCom
	.bordered
		height 358px
	.graph-note
		position absolute
		bottom -34px
		right 44px
		letter-spacing -.35px
		font-size 12px
	.na
		.g-bar-value
			padding-left 0
			left 6px
			right initial
			font 900 14px / 1.2 FrutigerLTCom
			letter-spacing -.5px
			&:before
			&:after
				content none
		&.gray-text
			.g-bar-value
				color color_brand_gray4
		&.light-gray-text
			.g-bar-value
				color color_brand_gray_light5
	.g-bar
		position relative
		height 24px
		&.light-grey-bar
			background-color color_brand_gray_light5
	.g-bar-value
		position absolute
		right 0
		top 50%
		transform translateY(-53%)
		display flex
		justify-content flex-end
		align-items center
		width auto
		margin 0
		height 13px
		padding 1px 11px 0 16px
		font-size 13px
		letter-spacing .3px
		overflow hidden
		&:before
		&:after
			content ''
			position absolute
			border-radius 50%
			background-color color_brand_white
			width 100%
			height @width
			z-index 2
		&:before
			top 0
			left 5px
			transform translateX(-50%)
			width 6px
			height @width
		&:after
			bottom -2px
			left 0
			width 10px
			height 11px
			transform-origin center
			transform translateY(50%) scaleY(1.45)
		sup
			top -3px
	.nest-container
		display flex
		.bar-nest-info
			position relative
			width 205px
			padding-left 61px
			margin auto
			font 400 14px / 1 FrutigerLTCom
			letter-spacing -.5px
			text-align center
			small
				font-size .55em
			&:before
			&:after
				@extends $pseudoElement
				top 50%
			&:after
				left 100%
				height 79px
				width 6px
				border 1px solid color_brand_black
				border-left none
				will-change transform
				transform translate3d(-@width, -48%, 0)
			&:before
				left 0
				height 69px
				width @height
				margin-left 3px
				will-change transform
				transform translate3d(0, -50%, 0)
		&:first-of-type
			.bar-nest-info
				padding 6px 0 0 71px
		&:nth-of-type(2)
			.bar-nest-info
				sup
					top 2px
			&:before
				@extends $pseudoElement
				width 101%
				height 93px
				top 90px
				left -3px
				border 2px solid color_brand_magenta
				opacity 0

	.g-content
		@extend $flexElement
		padding 6px 0 0
		border 0
		.g-bar-nest
			@extend $flexElement
			height 79px
			padding 5px 0
			overflow hidden
		_setBarsWidths($options.barsWidths)
		_setNestsImages($options.nestImages)
	.g-legend
		@extend $flexElement
		bottom -10px
		right -1px
		padding 18px 27px 18px 22px
		border 1px solid color_brand_purple
		li
			font-size 13px
			letter-spacing -.75px
			margin 0
			&:not(:last-of-type)
				margin-bottom 14px
			&:before
				@extends $pseudoElement
				top 0
				left -2px
				width 14px
				height 13px
			&.magenta-bar
				&:before
					top 1px
					left 0
					width 10px
					height @width
			&.light-grey-bar
				&:before
					background-color color_brand_gray_light5
	footer
		height 168px
	.info-line-wrapper
		min-height 38px
		padding 0
		border 0
		&:after
		&:before
			@extends $pseudoElement
			left 0
			height 1px
			width 100%
			background linear-gradient(to right, color_brand_purple 33.5%, color_brand_gray4 0) 0 / cover no-repeat
		&:before
			top 0
		&:after
			bottom 0
		.text
			font-size 12px
			letter-spacing -.1px
		.number
			&:before
				left -3px
	.column
		flex 1 1 33.3%
		justify-content center
		_setFooterColumns($options.footerColumns)
		.text
			margin-right 15px
		&:after
			height 90%
			left 100%
		&:nth-of-type(2)
			&:after
				background radial-gradient(circle, color_brand_gray4 .2px, transparent 1.1px) 0 / 2px 3px repeat-y
	.info-button
		bottom -52px
		right 3px
	.injected-notes
		bottom 25px
		left 71px
		padding-right 193px
		font-weight 400
		letter-spacing -.05px
		p:not(:last-of-type)
			display inline
	&.state-animate
		.nest-container
			&:nth-of-type(2)
				&:before
					transition opacity .5s .3s
					opacity 1
