@import 'color-scheme'
@import 'animation'

barsHeight = 165 83

setBarsHeight()
	for bar, index in barsHeight
		&:nth-of-type({index + 1})
			height unit(bar, px)

peDvtEinsteinPooledSlide($isArrowAnimated=false)
	padding 49px 70px 30px
	header
		margin-bottom 52px
		margin-top -9px
	.main-content
		position relative
	.top-caption
		justify-content center
		height 19px
		margin-bottom 17px
		padding-left 11px
		sup
			font-size 10px
			top 0
			left -3px
		img
			width 144px
	.graphs-wrapper
		margin-bottom 27px
	.graphs
		display flex
		justify-content space-between
		width 100%
		padding-left 42px
	.graph-wrapper
		position relative
		height 292px
		width 43.3%
		padding 58px 0 11px
		&:first-of-type
			width 39.5%
			&:after
				content ''
				position absolute
				top 0
				left 100%
				height 99.6%
				width 2px
				margin-left 66px
				background-size 2px 3px
				background-image radial-gradient(circle, color_brand_purple .2px, transparent 1px)
			.g-line
				&:first-of-type
					background url(assets/images/g-line-gray.png) 0 100% / 100% 61% no-repeat
					.g-line-value
						right -31px
						top 57px
						color color_brand_magenta
				&:last-of-type
					background url(assets/images/g-line-pink.png) 0 100% / 100% 70.6% no-repeat
					.g-line-value
						top 77px
						right -33px
						color color_brand_gray
			.additional-wrapper
				p
					&:nth-of-type(2)
						left 137px
						font-size 14px
						letter-spacing -.3px
			.g-scale-v
				p
					padding 0 0 27px 11px
		.g-line-value
			position absolute
			font-size 17px
	.graph
		height 100%
		margin 0
	.additional-wrapper
		p
			top -8px
			font-size 15px
			&:first-of-type
				left 12px
	.g-scale-h
		padding-left 0
		ul
			padding-left 2px
	.g-scale-v
		p
			padding 0 0 18px 5px
			font-size 15px
			letter-spacing -.3px
		li
			span
				padding 0 4px 2px 0
	.g-bar
		setBarsHeight()
	.arrows-block
		transform-origin center 196px
		top auto
		left 6px
		bottom 132px
		figcaption
			margin-bottom 13px
			font-size 24px
		sup
			top 1px
			font-size 10px
	.arrow
		width 186px
		p
			height 181px
			padding-top 12px
			font-size 28px
			small
				&:last-of-type
					display inline-block
		strong
			font-size 31px
	.g-legend
		position static
		justify-content center
		padding-left 28px
		li
			margin-right 30px
	.info-button
		bottom -10px
		right -47px
		width 33px
		height @width
	footer
		bottom 32px
		height 172px
		padding-top 7px
	.info-line-wrapper
		padding 0 173px 0 138px
	.column
		&:nth-of-type(1)
			.text
				margin-right 14px
		.number
			padding-left 25px
			&:after
				height 120%
				margin-left 106px
		.text
			margin-right 7px
			font-size 14px
			letter-spacing -.2px
		&:after
			left auto
			right -142px
	.bottom-paragraph
		font 900 20px / 1.2 FrutigerLTCom
		text-align center
		color color_brand_purple
	.injected-notes
		padding-left 19px
		bottom 25px
		font-size 13px
		letter-spacing -.125px
	if($isArrowAnimated)
		zoomOutAnimation('.arrows-block', .75)