@import 'folder-tablet-mixins'
@import 'pills'

peDvtDualPatientSummaryStyles()
	h1
		line-height 1.05
	header
		margin-bottom 12px
	.folder-tablet
		setFolderProps({width: 228, height: 280, color: color_brand_green})
		position relative
		border-radius 8px
		margin 0 auto 43px
		&.spaf-folder
			.main-part
				padding 0
				&:before
					content none
				.folder-content
					padding 13px 14px 14px
					transform none
					border-radius 0
				.top-content
					padding 2% 1%
				.user-info
					width 50%
					padding-bottom 0
				.avatar
					width 32%
			.folder-description
				height 65%
				padding-left 3px
				padding-top 39px
			.list-title
				font-size 22px
				line-height 1.1
				letter-spacing -.4px
				text-align center
				color color_brand_green_light2
	$pills()
	.pills-scheme
		margin 0 auto
		.plus
			margin 32px 8px 0 0
	.patients-summary-folders
		justify-content center
		margin-bottom 36px
	.lead-paragraph
		margin-bottom 32px
	.pills-scheme
		width 386px
		padding-left 9px
