@import 'color-scheme'
@import 'h-arrow-mixin'
@import 'animation'

setCirclesBackground(params)
	for item, index in params
		&:nth-child({ index + 1 })
			background item

setWidth(arrows)
	for arrWidth, index in arrows
		&:nth-child({ index + 1 })
			width unit(arrWidth, px)

path = 'assets/images/'
arrowsWidth = 306 584
arrowsPaths = 'arrow-purple.png' 'arrow-pink.png'
circlesBackgrounds = purple_gradient_to_right, magenta_gradient_to_right, magenta_gradient_to_right

$flex-center
	display flex
	justify-content center
	align-items center

$pseude-element
	content ''
	position absolute


peDvtVteTreatmentExtensionSlide()
	header
		margin-bottom 6.3%
	.lead-paragraph
		font 700 20px / 1 FrutigerLTCom
		color color_brand_purple
		text-align left
		letter-spacing -.4px
	.circles-wrapper
		display flex
		justify-content center
		padding 26px 50px 21px 32px
	.circle
		@extend $flex-center
		flex-direction column
		width 215px
		height @width
		border-radius 50%
		setCirclesBackground(circlesBackgrounds)
		p
			font 700 20px / 1.2 FrutigerLTCom
			color color_brand_white
			text-align center
			letter-spacing -.4px
		&:nth-child(2)
			margin 0 54px 0 105px
		&:last-of-type
			p:first-child
				margin-bottom 10px
				padding-bottom 10px
				border-bottom 1px solid color_brand_white
	.h-arrows-wrapper
		height 71px
		justify-content center
		letter-spacing -.2px
	.h-arrow
		@extend $flex-center
		setWidth(arrowsWidth)
		&:first-of-type
			padding-right 22px
		for arrow, index in arrowsPaths
			&:nth-of-type({index + 1})
				background url(path + arrow) center/contain no-repeat
	.bottom-list
		position relative
	.diamond-list
		position relative
		padding 10.5% 0 0 13.3%
		&:before
			margin-right 7px
	.info-button
		bottom 235px
		right 21px
	.injected-notes
		bottom 25px
	&:before
		@extend $pseude-element
		left 0
		right 0
		bottom 200px
		height 1px
		background-image purple_gradient_to_right
	zoomInAnimation('.bullet-list')
	.bullet-list
		li
			&:before
				top 5px
				width 22px
				height 15px
				margin-right 2px
