@import 'table-mixins'
@import 'color-scheme'

$localPath = 'assets/images/'

_tick(h, imgName)
	height h
	background url($localPath + imgName) no-repeat center center / contain

pedvtNOACAttributes(colWidth)
	h1
		letter-spacing -.45px
	.lead-paragraph
		margin-bottom 41px
	.wrapper-table
		display flex
		justify-content center
		padding-right 1px
	.custom-table
		text-align center
		color color_brand_purple
		col
			setColWidth(colWidth)
		thead
			th
				height 31px
				padding-top 1px
				border 1px solid color_brand_black
				border-bottom none
				border-left none
				background color_brand_white
				font-size 15px
				&:first-child
					border 0
					border-right 1px solid color_brand_black
		tbody
			th
			td
				height 80px
			th
				padding-top 1px
				font-size 17px
			td
				border-right 1px solid color_brand_black
				background color_brand_white
				&:last-child
					border-right none
			tr
				&:last-child
					td
						border-bottom none
				&:nth-of-type(3)
					td
						&:nth-of-type(2)
						&:nth-of-type(3)
						&:nth-of-type(4)
							i
								_tick(20px, 'tick_gray.png')
						&:nth-of-type(3)
							i
								margin-bottom 0
						&:last-of-type
							border-bottom none
							i
								margin-bottom 21px
								line-height 1.3
				&:nth-of-type(4)
				&:nth-of-type(5)
					td
						&:last-of-type
							border-right 1px solid color_brand_black
				&:nth-of-type(5)
					td
						&:nth-of-type(2)
						&:nth-of-type(3)
							padding-top 0
							line-height 1
						&:nth-of-type(1)
							i
								_tick(20px, 'tick_gray.png')
		.td-purple
			background color_brand_purple
			color color_brand_white
			border-right 1px solid color_brand_white
			line-height 1.35
			font-size 13px
			letter-spacing -.25px
			&:nth-of-type(4)
				padding-bottom 7px
				i
					position relative
					top 4px
					display inline-block
					margin-right 6px
					width 24px
					height @width
					background url($localPath + 'syringe.png') no-repeat center center / contain
		.td-pink
			background color_light_pink
			i
				_tick(20px, 'tick.png')
		.td-gray
			i
				_tick(20px, 'tickCross.png')
		.th-gray
		.td-gray
			color color_brand_gray
		.td-gray
			line-height 1.2
			border-bottom 1px solid color_brand_black
		.td-pink
		.td-gray
			margin-bottom 5px
			padding-top 6px
			font-size 12px
			font-weight 700
			letter-spacing -.2px
			b
				position relative
				display inline-block
				padding 3px 0 0 12px
				font-size 13px
				font-weight 900
				&:before
					content ''
					position absolute
					left 0
					top 0
					width 10px
					height 20px
					background url($localPath + 'manGray.png') no-repeat center center / contain
			i
				margin-bottom 5px
		.td-pink
			b
				&:before
					background url($localPath + 'manPurpel.png') no-repeat center center / contain
		i
			display block
	.info-button
		bottom 87px
		right 33px
