@import 'color-scheme'

.c1_2019_pedvt_collection
	header
		margin 32px 0 13px
	.info-button
		&.purple
			width 33px
			height @width
			&:after
				mask-size 18% auto


.guidelines-text
	position relative
	display inline-block
	padding 3px 6px
	font 400 18px / 1.1 FrutigerLTComCn
	letter-spacing -.1px
	text-align center
	color color_brand_magenta
	&:before
	&:after
		content ''
		position absolute
		top -4px
		bottom -2px
		width 5px
		border 2px solid color_brand_magenta
	&:before
		border-right 0
		left -6px
	&:after
		border-left 0
		right -6px
	*[data-reference-id]
		font-size 53%
