@import 'color-scheme'
@import 'patient-icon-mixin'

_pseudo()
	content ''
	position absolute

_widthItems(list)
	for item, index in list
		&:nth-of-type({index + 1})
			width unit(item, 'px')

_captionsHeight(list)
	for item, index in list
		&:nth-of-type({index + 1})
			.top-caption
				padding item[0] item[1] item[2] item[3]

pedvtUnmedNeedB(widthItems, captionsParam)
	h1
		letter-spacing -.45px
	.lead-paragraph
		margin-bottom 71px
	.wrapper-main-content
		display flex
		justify-content center
	.main-content
		display flex
		margin-bottom 84px
	.info-item
		position relative
		padding-bottom 18px
		text-align center
		color color_brand_purple
		_widthItems(widthItems)
		&:not(:last-of-type)
			&:after
				_pseudo()
				top 4px
				left 100%
				height 100%
				width 5px
				background radial-gradient(circle at center, color_brand_black 15%, transparent 50%) top / 3px 4px repeat-y
		h2
			margin-bottom 63px
			font 900 33px / 1 FrutigerLTCom
			letter-spacing -1px
		.top-caption
			margin-bottom 56px
			height 25px
			justify-content center
			*[data-reference-id]
				margin-left -21px
				font-size 13px
			&.text
				font 900 26px / .8 FrutigerLTCom
				color color_brand_gray2
		.info-number
			display flex
			align-items baseline
			justify-content space-between
			position relative
			margin-bottom 2px
			padding 0 23%
			font 900 60px / 1 FrutigerLTCom
			.patient-icon
				display block
				buildPatientIcon(44px, color_brand_purple)
		.info-sub-text
			padding-left 7px
			margin-bottom 13px
			font 700 19px / 1 FrutigerLTCom
			letter-spacing -.5px
		.info-bottom-text
			padding-left 4px
			font 700 18px / 1.15 FrutigerLTCom
			letter-spacing -.3px
		.info-button
			right 5px
			bottom -4px
		&.magenta
			h2
			.info-number
			.info-bottom-text
				color color_brand_magenta
			.patient-icon
				buildPatientIcon(44px, color_brand_magenta)
		_captionsHeight(captionsParam)
	.info-button-slideshow
		bottom 104px
		right 77px
	.injected-notes
		left 71px
		letter-spacing -.07px
