percentArrowValue($fontSize, $numberMarginBottom = 8px, $smallPercentSize = 93%, $fontSizePercent = 20.5, $color = color_brand_purple)
	position relative
	display flex
	color $color
	font 900 ($fontSize * $fontSizePercent / 100) / 1.2 FrutigerLTCom
	.bottom-arrow-wrapper
		overflow hidden
	.number-wrapper
		display flex
		margin-bottom $numberMarginBottom
		font 900 $fontSize / .73 FrutigerLTComCn
		> div
			display flex
			flex-direction column
			justify-content space-between
	.abbr
		font-size 25%
	.percent
		font-size 60%
	.info
		small
			display block
			font 300 $smallPercentSize / 1 FrutigerLTCom

bottomArrow($width, $height, $sizeWidthAfter, $sizeHeightAfter, $color = color_brand_green_light)
	width $width
	height $height
	position relative
	margin 0 ($sizeWidthAfter* 2 - $width) 0 (($sizeWidthAfter* 2 - $width) / 2)
	padding-bottom $sizeHeightAfter
	background $color content-box
	&:after
		content ''
		position absolute
		bottom 0
		left 50%
		transform translate3d(-50%, 0, 0)
		border-left $sizeWidthAfter solid transparent
		border-right $sizeWidthAfter solid transparent
		border-top $sizeHeightAfter solid $color


bottomArrowAnimation($selector, $selectorAnimate = '.state-animate', $topPersent=-100%)
	{$selector}
		transform translate3d(0, $topPersent, 0)
		transition transform .3s .5s linear
	&{$selectorAnimate}
		{$selector}
			transform translate3d(0, 0, 0)
