@import 'color-scheme'

phaseComparison()
	header
		margin 0 0 18px
		padding-top 33px
	h1
		letter-spacing -.6px
		small
			display block
			padding 14px 0 0 8px
			font 300 24px / 1.15 FrutigerLTCom
			letter-spacing -.35px
	.main-wrapper
		display flex
		justify-content space-between
	.top-caption
		justify-content center
		height 19px
		padding-left 15px
	.left-block
		width 50%
		border-right 1px solid color_brand_black
		.top-caption
			sup
				font 900 15px / 1 FrutigerLTCom
				color color_brand_gray2
			sup[data-reference-id]
				margin-left -23px
			sup[data-notes]
				margin-top -22px
				margin-left -17px
	footer
		height 166px
	.graph
		width 97.4%
		margin 4% 0 88px .4%
		.arrows-block
			top 62px
			left 14px
		.arrow-container > figcaption
			font-size 14px
			margin-bottom 8px
		.arrow
			height 100px
			strong
				font 600 33px / 1 FrutigerLTCom
				letter-spacing -3px
			span
				display inline-block
				font-size 21px
				padding-top 8px
				letter-spacing 0
				line-height .4
				small
					font-size 8px
	.info-line-wrapper
		height 43px
		padding 0
		justify-content: flex-start
		border-image linear-gradient(to right, color_brand_purple 50%, color_brand_gray 50%, transparent 50%, transparent 50.3%, color_brand_gray 50.3%, color_brand_gray 100%)
		border-image-slice 1
		border-width 1px
		border-style solid
		border-left 0
		border-right 0
	.info-button
		bottom 103px
		z-index 5
	.right-block
		width 50%
		padding-left 68px
		figcaption
			padding 0
			margin-bottom 92px
		.top-caption
			sup
				margin-left -20px
	.column
		.text
			font 400 9px / 1.3 FrutigerLTCom
		.number
			margin-top 0
			padding-right 8px
			&:after
				height 110%
		&:first-of-type
			margin-left 6.75%
			.text
				font-size 12px
				padding 9px 19px 0 0
				letter-spacing -.1px
		&:nth-of-type(2)
			padding 0 1.5% 0 2%
			.number
				&:after
					left 90%
		&:nth-of-type(3)
			padding-left 1.7%
			&:after
				width 1px
				left 105%
				background color_brand_black
		&:nth-of-type(2)
		&:nth-of-type(3)
			.text
				padding-right 4px
			.number
				padding 0 3px 0 0
				font-weight 600
				letter-spacing -1px
				.patient-icon
					display none
		&:last-of-type
			width 50%
			height 100%
			justify-content center
			padding-left 6px
			.text
			.number
				color color_brand_gray
			.text
				font-size 11px
				padding-top 10px
			.number
				.patient-icon
					&:before
					&:after
						background-color color_brand_gray
	.g-content
		height 267px
		justify-content space-between
		padding 0 38px 0 36px
		.g-bar
			width 45px
			.g-bar-value
				font-size 16px
	.additional
		top 6px
		left 105px
		font-size 15px
		font-weight 400
		letter-spacing -.3px
	.additional-text
		text-align center
		font 400 18px / 1.3 FrutigerLTCom
		color color_brand_gray
		letter-spacing -.5px
		padding-left 10px
		strong
			font 700 23px / 1.2 FrutigerLTCom
			letter-spacing -.3px
	.g-scale-v
		.g-scale-label
			padding-bottom 34px
			font-size 13px

	.g-bar-nest
		for barHeights, index in $gBarHeights
			&:nth-of-type({index + 1})
				.g-bar
					for heightValue, heightIndex in barHeights
						&:nth-of-type({heightIndex + 1})
							height heightValue
		&:first-of-type
			margin-right 20px
			&:after
				content ''
				position absolute
				top 64px
				bottom 0
				right -26px
				width 1px
				background-image repeating-linear-gradient(to bottom, color_brand_black 0, color_brand_black 4%, transparent 4%, transparent 7%)
		&:nth-of-type(2)
			.g-nest-name
				width 118%
				left -8px
		&:last-of-type
			.g-bar
				&:nth-of-type(2)
					.g-bar-value
						margin-top -23px
						color color_brand_magenta

	.g-nest-name
		margin-top 14px
		font-size 13px
	.g-legend
		bottom -80px
		left 50%
		transform translate(-65%, 0)
		li
			font-size 13px
			padding-left 18px
			margin-right 11px
			letter-spacing -.3px
			&:before
				top 1px
	.notes
		bottom 11px
		margin 0 0 10px 43px
		font-size 13px
		line-height 1.3
		letter-spacing -.05px
		p
			margin-bottom 2px
	.additional-notes
		margin 75px 0 0 43px
		p
			font 400 13px / 1.2 FrutigerLTCom
	@media only screen and (min-width: 1152px)
		.column:nth-of-type(3)
			&:after
				left 153%
