@import 'color-scheme'

piPopup()
	padding 49px 48px 0 50px
	.text-wrap
		column-count 2
		column-gap 3px
		margin-bottom 40px
		h1
			margin 0
			letter-spacing -.3px
			color color_brand_black
			font 400 12px / 1.2 FrutigerLTCom
		p
			padding-right 2px
			text-align justify
			letter-spacing -.5px
			font 400 12px / 1.1 FrutigerLTCom
			&:first-of-type
				position relative
				margin 4px 0
				padding-left 20px
				letter-spacing -.3px
				font 700 12px / 1.2 FrutigerLTCom
				&:before
					content ''
					position absolute
					top 0
					left 0
					border-left 9px solid transparent
					border-right 9px solid transparent
					border-top 15px solid color_brand_black
			&:last-of-type
				margin-top 11px
				letter-spacing -.5px
			span
				display inline-block
				letter-spacing -.3px
	.copyright
		font 400 11px/1.1 FrutigerLTComCn
	.scroll-wrapper
		height 600px
		overflow hidden
		position relative
		padding-right 50px
		.iScrollVerticalScrollbar
			width 11px
			top 0
			right @top
			bottom @top
			background-color rgba(color_brand_gray4, .1)
			padding 5px 3px 0
			border-radius 0
			&:before
				content ''
				position absolute
				top 5px
				right 3px
				bottom 0
				left @right
				background-color rgba(color_brand_gray4, .5)
				border-radius 3px 3px 0 0
			.iScrollIndicator
				background-color color_brand_gray4
		&.step-scroll
			.text-wrap
				height 600px
				margin-bottom 0
	.fpo-content
		position absolute
		top 25%
		left 31%
		font 900 156px / 1.2 FrutigerLTCom
		color rgba(color_brand_gray4, .3)
		transform rotate(-25deg)
		mix-blend-mode multiply
	.approve-data
		position absolute
		bottom 12px
		right -18px
		font 400 11px / 1.2 FrutigerLTComCn
		letter-spacing 0
		color color_brand_purple