@import 'color-scheme'

piSlide($fontSize, $height = 617px)
	.text-wrap
		column-count 2
		column-gap 15px
		height $height
		position relative
	h1
	p
		color color_brand_black
		font 400 $fontSize / 1.1 FrutigerLTCom
	h1
		margin-top -2px
		margin-bottom 5px
		letter-spacing 0
		line-height 1.35
	p
		text-align justify
		letter-spacing -.32px
		padding-right 1px
		&:first-of-type
			position relative
			margin-bottom 4px
			padding-left 18px
			letter-spacing -.05px
			&:before
				content ''
				position absolute
				top 0
				left 0
				border-left 7px solid transparent
				border-right 7px solid transparent
				border-top 11px solid color_brand_black
		span
			display inline-block
			margin-top 4px
