@import 'table-mixins'
@import 'color-scheme'

$deg(item)
	return unit(item, 'deg')

_setSvgRotations(anglesArray)
	for item, index in anglesArray
		.pie-chart-wrapper:nth-of-type({index+1})
			svg
				transform rotate($deg(item))

_setSvgFillColors(colorsArray)
	for item, index in colorsArray
		.pie-chart-wrapper:nth-of-type({index+1})
			path
				for colorItem, colorIndex in item
					&:nth-of-type({colorIndex+1})
						fill colorItem

_applyPieChartPopupStyles(obj)
	_setSvgFillColors(obj[svgFillColors])
	_setSvgRotations(obj[svgRotateAngles])
