@import 'color-scheme'
$setSizePlus($size)
	&:before
		height $size
		width 100%
	&:after
		height 100%
		width $size

$setCustomColor($color)
	figcaption
	p
		color $color

$pills($tableSize = 104px, $plusWidth = 37px, $plusMargin = 41px, $fontSize = 15px, $iconsHeight = 18px)
	.pills-scheme
	.pills
	.icon
		display flex
		justify-content space-between
		align-items flex-start
	.pill
		width $tableSize
	.pill-wrapper
		&:last-of-type
			.icon img
				height 90%
	.pills-scheme
		figure
			figcaption
			p
				font 400 $fontSize / 1 FrutigerLTCom
				text-align center
				letter-spacing -.05px
			figcaption
				margin-bottom 2px
				font-weight 900
				line-height .95
		.icon
			height $iconsHeight
			align-items flex-end
			justify-content center
			margin-top 3px
			img
				height 100%
		.plus
			min-width $plusWidth
			width $plusWidth
			height @width
			position relative
			margin $plusMargin 3px 0 0
			&:after
			&:before
				content ''
				position absolute
				top 0
				right 0
				bottom 0
				left 0
				margin auto
				background-color color_brand_green_light
			$setSizePlus(26%)