@import 'color-scheme'

$imgPath = 'assets/images/'

setBarsHeight(graphs)
	for bar, index in graphs
		.graph-wrapper:last-of-type
			.g-bar:nth-of-type({index + 1})
				height unit(bar, px)

setLineBgAndValuesPos(positions, bgPaths, lineBgPos, lineColors)
	for localGraphPos, index in positions
		if type(localGraphPos) != 'null'
			$lineBgs = bgPaths[index]
			$lineBgsPos = lineBgPos[index]
			&:nth-of-type({index + 1})
				for pos, i in localGraphPos
					$lineBg = $imgPath + $lineBgs[i]
					$lineBgPos = $lineBgsPos[i]
					$bgLeft = $lineBgPos[0]
					$bgTop = $lineBgPos[1]
					$bgSize = $lineBgPos[2]
					$lineValColor = lineColors[i]
					.g-line
						&:nth-of-type({i+1})
							background url($lineBg) no-repeat
							background-position unit($bgLeft, px) unit($bgTop, px)
							background-size unit($bgSize, '%')
							.g-line-value
								$top = pos[0]
								$right = pos[1]
								top unit($top, 'px')
								right unit($right, 'px')
								color $lineValColor

realWorldPopup(options)
	display flex
	flex-direction column
	align-items center
	padding 43px 0 0
	header
		margin 0 0 18px
		h1
			margin-bottom 8px
			font 900 40px/1.1 FrutigerLTCom
			letter-spacing -.5px
	.sub-header
		padding-left 11px
		font 300 20px/1.2 FrutigerLTCom
		letter-spacing -.3px
		text-align center
		color color_brand_purple
	.graph-caption
		font 400 20px/1.2 FrutigerLTCom
		text-align center
		letter-spacing -.4px
	.content-wrapper
		display flex
		position relative
		padding-left 46px
		if type(options.barsHeight) != 'null'
			setBarsHeight(options.barsHeight)
	.graph-wrapper
		position relative
		padding-top 38px
		setLineBgAndValuesPos(options.lineValuePos, options.lineBackground, options.lineBgPosSize, options.lineValColors)
		&:first-of-type
			margin-right 170px
			.additional
				left 50%
			&:after
				content ''
				position absolute
				top 19px
				left 100%
				height 335px
				margin-left 83px
				width 5px
				background radial-gradient(circle at center , color_brand_black 15% , transparent 50%) top / 3px 4px repeat-y
		&:last-of-type
			.graph
				width 300px
			.additional
				left 40%
			.g-scale-v p
				padding-bottom 39px
	.additional
		top -21px
	.graph
		width 264px
		height 279px
	.g-scale-v p
		padding-bottom 34px
	.additional-wrapper .additional
		font-size 16px
		line-height 1.2
		letter-spacing -.5px
		text-align center
		mark
			font 700 20px / 1.2 FrutigerLTCom
	.g-line-value
		font-size 17px
	.g-legend
		bottom -66px
		left 323px
		li
			margin-right 18px
			&.gray-bar:before
				top 0
	.info-line-wrapper
		top 64px
		justify-content center
		.number
			left -2px
			padding-left 25px
	.real-world-notes
		position absolute
		bottom 27px
		left 51px
		font-size 13px
		line-height 1.2
		letter-spacing -.1px
