@import 'safety-profile-slide'

reassuringSafetyPopup()
	$safetyProfile()
	&.slide
		padding 15px 30px
	h1
		font-size 40px
	.lead-paragraph
		font-size 20px
		letter-spacing -.3px
	header
		margin-bottom 10px
	.graph
		margin 53px 8px 0 71px
	.g-content
		padding 0 25px 0 28px
	.g-bar-value
		margin-top 10px
		letter-spacing 0
	.g-bar-nest:first-of-type
		margin-right 0
		&:before
			right -31px
	.g-nest-name
		top calc(100% + 15px)
		font 700 14px / 1 FrutigerLTCom
		letter-spacing -.2px
	.additional
		top 57px
		left 66px
	.additional-description
		left 369px
	.additional-block-wrapper
		top -14px
		right 0
		width 129px
		.patient-value
			width 129px
			justify-content center
			p:first-of-type
				padding-left 4px
		.info-line-wrapper
			display flex
			justify-content center
			padding 5px 4px 5px 0
		.number
			font-size 26px
			letter-spacing -1.2px
		.text
			position absolute
			top 110%
			left 0
			margin-top 0
			font 300 13px / 1.2 FrutigerLTCom
			letter-spacing -.2px
			white-space nowrap
			color color_brand_purple
	.g-legend
		left 110px
		bottom -77px
		li
			&.gray-bar:before
			&.dark-gray-bar:before
				top 1px
				width 13px
				height @width
			&.green-bar:before
				top 1.5px
				width 12px
				height @width
	.bottom-note
		margin-top 113px
		font 900 19px / 1 FrutigerLTCom
		letter-spacing .5px
	.list-title
	.diamond-list
		margin-left 83px
	.list-title
		margin-bottom 7px
		font-size 18px
		font-weight 300
		letter-spacing -.3px
		color color_brand_purple
	.diamond-list li
		margin 0 0 6px 20px
		letter-spacing .2px
		&:before
			top -6px
			font-size 23px
			color color_brand_green_light2
