@import 'color-scheme'
@import 'percent-arrow-value'

applyColumnPaddings()
	for val, i in $colPaddings
		&:nth-of-type({i + 1})
			padding  0 unit(val[0], px) 0 unit(val[1], px)

buildSlide()
	header
		display flex
		justify-content center
		align-items center
		flex-direction row-reverse
		margin-bottom 15px
		h1
			margin-right 99px
			letter-spacing -2px
	.lead-paragraph
		margin-bottom 42px
		letter-spacing -.4px
	.pills-wrapper
		width 426px
		margin 0 auto 51px
		.icons
		.texts
		.items
			display flex
			justify-content space-between
		.aspirin
		.pills
			height 117px
		.icons
			align-items center
			padding 0 48px 0 239px
			margin-bottom -4px
		.icon
			&:first-of-type
				width 23px
			&:last-of-type
				padding-top 2px
				width 18px
		.texts
			padding 0 72px 0 11px
			font 400 15px / 1.1 FrutigerLTCom
			text-align center
			letter-spacing -.4px
			strong
				font-weight 900
				line-height 1.2
	.plus
		margin 13px 7px 0 0
		font-size 84px
		font-weight 900
		color color_brand_green_light
	.col-wrapper
		display flex
		justify-content center
	.col
		position relative
		applyColumnPaddings()
		&:not(:last-of-type):after
			content ''
			display block
			position absolute
			top -2px
			left 100%
			height 114%
			width 2px
			background radial-gradient(circle at center, color_brand_black 10%, transparent 50%) left / 3px 3px repeat-y
		&:first-of-type
			.info-button
				right 12px
				bottom 19px
		&:nth-of-type(2)
			p sup
				&:nth-of-type(2)
					margin 0 1px
		&:last-of-type
			margin-top 38px
			.description
				letter-spacing -.8px
			.info-button
				right -27px
				bottom 19px
	.percent-value
		percentArrowValue(80px)
		margin-bottom 3px
		.number-wrapper
			margin-bottom 4px
			font-size 77px
			.number
				letter-spacing -4px
			> div
				padding-top 4px
			.abbr
				padding-left 6px
		.info
			letter-spacing -.6px
	.bottom-arrow
		bottomArrow(13px, 77px, 17px, 16px, color_brand_green)
		margin 3px 15px 11px
	.description
		padding-left 6px
		font-size 15px
		letter-spacing -.9px
		line-height 1.2
		color color_brand_purple
		mark
			color color_brand_green
			letter-spacing 0
	.injected-notes
		left 71px
		bottom 26px
		letter-spacing .35px
		p
			display inline
	.lead-header-label
		position relative
		top -21px
		margin-right 24px
		font 900 35px / .8 FrutigerLTComCn
		letter-spacing -.1px
		color color_brand_green_light
		&:before
		&:after
			content ''
			position absolute
			top -8px
			bottom @top
			width 10px
			border 4px solid color_brand_green_light
		&:before
			left -9px
			border-right none
		&:after
			right -9px
			border-left none
