@import 'color-scheme'

buildFragment(options)
	.lead-paragraph
		margin-bottom 19px
	.top-block
	.content-wrapper
		display flex
		justify-content space-between
	.top-block
		align-items center
		margin-bottom 59px
		padding 0 37.4% 0 18%
	.top-caption
		height 19px
	.graph
		width 327px
		height 194px
	.g-bar-note
		font-weight 700
		font-size 14px
	.content-wrapper
		padding 0 3.2% 0 13.2%
	.g-caption
		position absolute
		bottom 100%
		left 50%
		margin 0 0 17px 5px
		transform translateX(-50%)
		font 700 15px / 1.15 FrutigerLTCom
		letter-spacing -.3px
		text-transform none
		color color_brand_purple
		white-space nowrap
	.g-scale-v
		font-size 12px
		p
			padding 0 0 42px 5px
			font-size 13px
			line-height 1.2
	.top-caption
		height 20px
	.g-bar-value
		bottom 6px
		font-size 15px
		span
			font-weight 400
			letter-spacing -.6px
	for $height, $barIndex in options.barsHeight
		.g-bar:nth-of-type({$barIndex + 1})
			height $height
	.g-legend
	.g-note
		top 100%
		left 50%
		transform translateX(-50%)
	.g-note
		margin-top 16px
		white-space nowrap
		text-align center
		letter-spacing .4px
		line-height 1.2
	.g-legend
		bottom auto
		margin-top 76px
		padding-right 11px
		li
			margin-right 25px
			font-size 12px
			&:before
				top 50%
				transform translate3d(0, -50%, 0)
			&.magenta-bar
				&:before
					top auto
					transform rotate(45deg)
			&:last-of-type
				margin-right 0
	.diamond-list
		transform translateY(-6px)
		strong
			font-weight 900
	.injected-notes
		bottom 26px
		font-size 14px
		letter-spacing 0
	@media only screen and (min-width: 1152px)
		.top-block
		.content-wrapper
			justify-content space-around