@import 'color-scheme'
@import 'table-mixins'
@import 'custom-footer'
@import 'animation'

$pseudoElem
	position absolute
	content ''

renalFunctionSlide($isSlideAnimated = false)
	padding 30px 70px 30px 71px
	header
		margin-top 10px
		margin-bottom 50px
	h1
		font-size 29px
		text-align left
		letter-spacing -.35px
	.title
		margin-left 282px
		font 700 26px / 1 FrutigerLTCom
		letter-spacing -.2px
		color color_brand_purple
	.main-content
		display flex
		margin-top 10px
		width 100%
	figure
		position relative
		&:first-of-type
			margin-right 30px
		&:nth-of-type(2)
			.marker-lines
				opacity 0
			tbody
				position relative
				&:after
					position absolute
					right 141px
					width 30px
					height 30px
					content ''
					top 139px
					border 1px solid color_brand_gray2
					border-radius 50%
					background url("../../shared/images/btn-plus.png") no-repeat center
					background-size 11px
			td
				opacity 0
			.g-scale-h
				li
					&:nth-of-type(2)
						margin-left -1px
		for item, index in $columns
			&:nth-of-type({index+1})
				col
					setColWidth(item)
		for item, index in $markers_styles
			&:nth-of-type({index+1})
				.marker-line
					for lineS, index in item
						&:nth-of-type({index+1})
							top unit(lineS['top'], 'px')
							left unit(lineS['left'], 'px')
							width unit(lineS['width'], 'px')
							.marker
								left unit(lineS['markerLeft'], 'px')
		for item, index in $scaleMargin
			&:nth-of-type({index+1})
				.g-scale-h
					margin-left unit(item['left'], 'px')
					width unit(item['width'], 'px')
					li
						span
							padding-top 7px
	.g-scale-h p
		padding-top 21px
	table
		text-align center
		font-size 18px
		color color_brand_white
		b
			font 900 16px / 1 FrutigerLTComUlBlk
			letter-spacing .2px
	thead
		font 700 14px / 1 FrutigerLTCom
		th
			padding 11px 0 8px
		span
			font-size 1.2em
			font-weight 900
	tbody
		background color_brand_white
	td
		&:not(:last-of-type)
			border-right 1px solid color_brand_black
		&:last-of-type
			color color_brand_black
			letter-spacing -.8px
	tbody
		th, td
			padding 16px 0
			letter-spacing -.4px
			line-height 1.1
		tr
			&:last-of-type
				.violet-item
					padding 15px 0 14px 15px
	.magenta-item
		font-size 13px
		padding 9px 0 8px
		background-color $color_local_magenta
		span
			font-size 17px
	.light-grey-item
		font 900 1.1em / 1 FrutigerLTComUlBlk
		color color_brand_black
		background-color color_brand_gray_light2
		padding-bottom 9px
	.dark-grey-item
		border-right 1px solid color_brand_black
		background-color $color_local_dark_gray
	th.grey-item
		border-right 1px solid color_brand_white
		background-color color_brand_gray_light5
	.marker.grey-item
		background transparent
		&:before
			border-bottom-color color_brand_gray_light5
		&:after
			border-top-color color_brand_gray_light5
	.violet-item
		padding 15px 0 14px 13px
		text-align left
		line-height 1.2
		background purple_gradient_to_right
	.light-pink-item
		background-color $color_local_light_pink

	.marker-lines
		position absolute
		top 0
		left @top
		width 100%
		height @width
		pointer-events none
	.marker-line
		&:after
			height 0
		&:after
		&:before
			background-color color_brand_purple

	.g-scale-h
		margin-top 10px
		li
			&:first-of-type
				visibility visible
		p
			padding-top 22px
			font-size 14px
			letter-spacing -.1px
	customFooter(610px)
	footer
		padding 162px 0 0 72px
		height 250px
	.custom
		.info-line-wrapper
			align-items stretch
			height 43px
			padding 0
			border 0
			&:after
				left 610px
			.column
				&:nth-of-type(1)
					width 609px
					padding-left 289px
					border-top 1px solid $color_local_dark_purple
					border-bottom 1px solid $color_local_dark_purple
					border-image purple_gradient_to_right 100
					.number
						color $color_local_dark_purple2
						&:before
							background $color_local_dark_purple2
				&:nth-of-type(2)
					position relative
					width 411px
					padding-left 129px
					border-top 1px solid color_brand_gray4
					border-bottom 1px solid color_brand_gray4
					.number
						color $color_local_dark_grey
						.patient-icon
							&:before
							&:after
								background $color_local_dark_grey
		.number
			margin-top 1px
			padding-left 21px
			font-size 26px
			&:before
				margin-top -1px
	.info-button
		bottom 123px
	.notes
		font 400 10px / 1.2 FrutigerLTCom
		letter-spacing -.06px
		p:first-of-type
			margin-bottom 4px
	button.purple
		bottom 120px
		right 72px
	if($isSlideAnimated)
		fadeInAnimation('figure:nth-of-type(2) .marker-lines', .5)
		fadeInAnimation('figure:nth-of-type(2) td', .5)
		fadeOutAnimation('figure:nth-of-type(2) tbody:after', .5)
