@import 'color-scheme'
@import 'percent-arrow-value'

setImages(arr)
	for item, index in arr
		.percent-block:nth-of-type({index+1})
			.percent-image
				margin-left unit(item[1], 'px')
				background url($image_folder + item[0]) no-repeat center center / contain

renalSafetySlide()
	header
		padding-right 8px
	h1
		letter-spacing -.5px
	setImages($block_images)
	padding-right 63px
	.content-wrapper
		padding-top 68px
		position relative
		display flex
		justify-content space-between
	.lead-paragraph
		margin-bottom 45px
		padding-right 5px
	.top-caption
		position absolute
		height 18px
		left 50%
		margin-left -3px
		top 0
		transform translate3d(-50%, 0, 0)
	.percent-block
		width 200px
		display flex
		position relative
		flex-direction column
		align-items stretch
		justify-content flex-start
		color color_brand_purple
		&:nth-of-type(1)
			margin-left 42px
		&:nth-of-type(2)
			width 270px
			margin-left 70px
			.percent-image
				margin-left -3px
		&:nth-of-type(3)
			.percent-image
				margin-left 2px
	.percent-image
		width 82px
		height @width
		margin-bottom 19px
		position relative
		top 0
		left 34px
	.percent-value
		display flex
		height 110px
		margin-bottom -6px
		font 900 110px / 1 FrutigerLTComCn
		small
			position relative
			padding-top 10px
			font-size 64px
			margin-left -4px
			span
				position absolute
				font-size 30px
				bottom 10px
				left 7px
	.percent-description
		position relative
		margin-left 4px
		font 300 21px / 1.2 FrutigerLTCom
		letter-spacing -.3px
		strong
			font 900 22px FrutigerLTCom
			letter-spacing .3px
		sub
			font-size 11px
			letter-spacing -.1px
	.bottom-arrow-wrapper
		overflow hidden
		position absolute
		top 38.5%
		right 96%
		@media only screen and (min-width: 1152px)
			top 34.5%
	.bottom-arrow
		bottomArrow(20px, 113px, 23px, 22px, color_brand_magenta)
	footer
		height 138px
	.info-line-wrapper
		height 38px
		padding 0 25px 0 13px
		.column
			flex 1 1
			justify-content center
			&:after
				left 100%
			&:nth-of-type(2)
				.number
					margin-left -24px

	bottomArrowAnimation('.bottom-arrow')
