@import 'color-scheme'
@import 'animation'
@import 'percent-arrow-value'

local_purple_gray_gradient_to_right   = linear-gradient(to right, color_brand_purple, color_brand_gray)

setArrowsBlocksParams($arrowsBlocksParams)
	for $itemVal, index in $arrowsBlocksParams
		&:nth-of-type({index + 1})
			flex-basis unit($itemVal[0], 'px')
			padding unit($itemVal[1], 'px') unit($itemVal[2], 'px') unit($itemVal[3], 'px') unit($itemVal[4], 'px')

$setFlex($direction=false)
	display flex
	justify-content space-between
	if($direction)
		flex-direction row

rocketArrowsSlide(arrowsBlocksParams, $isSlideAnimated=false)
	padding 63px 65px 0 60px
	header
		margin 0 0 13px
		padding-left 5px
	h1
		font-size 45px
		letter-spacing -.6px
	.lead-paragraph
		letter-spacing -.7px
	.arrows-wrapper
		$setFlex()
		margin-top 39px
		padding-top 79px
	.arrows-wrapper
	.arrows-block
		position relative
		> figcaption
			position absolute
			top 0
			left 0
	.arrows-wrapper > figcaption
		height 19px
		left 50%
		transform translate(-50%, 0)
		img
			width 156px
	.caption-subheader
		position absolute
		top calc(100% + 9px)
		left 0
		width 170px
		font-size 20px
		letter-spacing -.5px
		color color_brand_gray
	.arrows-block
		display flex
		> figcaption
			width 100%
			margin-top 4px
			text-align center
			font-weight 700
			font-size 20px
			color color_brand_purple
		setArrowsBlocksParams(arrowsBlocksParams)
		&:first-of-type
			&:after
				content ''
				position absolute
				top 0
				bottom 0
				left 100%
				width 2px
				background-repeat repeat-y
				background-size 2px 3px
				background-image radial-gradient(circle, color_brand_purple .2px, transparent 1.1px)
			.number-wrapper div
				position relative
				right 3px
			> figcaption
				padding-left 13px
		&:nth-of-type(2)
			.number-wrapper
				letter-spacing -4px
				div
					padding-left 2px
			figcaption
				padding-right 38px
	footer
		height 217px
		padding 103px 0 0 71px
	.info-line-wrapper
		justify-content flex-start
		min-height 43px
		padding 0 0 0 87px
		.text
			font-size 12px
			small
				font-size 90%
		.number
			letter-spacing -1px
			sup
				font-weight 400
		.column
			&:nth-of-type(1)
				.text
					margin-right 17px
					letter-spacing -.4px
				.number
					padding 0 50px 0 19px
			&:nth-of-type(2)
				margin 0 0 0 25px
				.text
					margin-right 4px
					letter-spacing 0
				.number
					padding-right 12px
					letter-spacing -.5px
			&:nth-of-type(3)
			&:nth-of-type(4)
			&:nth-of-type(5)
				margin-left 10px
				.number
					padding-right 8px
					padding-left 5px
					.patient-icon
						display none
				.text
					letter-spacing -.6px
	.notes-block
		display flex
		font-size 14px
		line-height 1.15
		letter-spacing -.2px
		p
			width 302px

	.percent-value
		align-items flex-start
		percentArrowValue(73px)
		.percent
			font-size 65px
			margin-left -2px
		.abbr
			font-size 29px
			letter-spacing 0
		.number-wrapper
			margin-bottom 10px
			letter-spacing -6px
			font-size 110px
			> div
				padding 3px 0 2px
		.info
			margin-left 4px
			font-weight 300
			font-size 21px
			strong
				font-size 22px
				font-weight 900
				letter-spacing .3px
	.bottom-arrow
		bottomArrow(20px, 113px, 23px, 22px, color_brand_magenta)
		margin 0 21px 0 13px
	.bottom-arrow-wrapper
		position relative
		top 2px
	.info-button
		bottom 135px
	.bottom-arrow-wrapper
		overflow hidden
	.bottom-arrow
		transform translateY(100%)
		transition transform 1.5s
	.bottom-arrow-wrapper
		transform translateY(-100%)
		transition transform 1.5s
	&.state-animate
		.bottom-arrow
		.bottom-arrow-wrapper
			transform translateY(0)

	@media all and (min-width: 1152px)
		padding-left 130px
		padding-right 130px
		.info-line-wrapper
			padding-left 160px
		footer
			padding-left 160px
		.notes-block p
			width 285px
