@import 'color-scheme'

rocketIttSlide()
	padding-top 47px
	header
		margin 0 0 33px
		h1
			font 300 24px / 1.2 FrutigerLTCom
			letter-spacing -.3px
	.top-caption
		justify-content center
		img
			width 162px
			margin-left 12px
		sup
			font-size 85%
			margin-top -15px

	.graph
		width 83.5%
		height 44%
		margin 17px auto 0 87px

	.g-scale-label
		font-size 13px

	.g-scale-v
		ul
			li:first-of-type
				span
					top -4px
		.g-scale-label
			padding-bottom 44px

	.g-scale-h
		padding-left 76px
		li
			&:first-of-type
				display none
		.g-scale-label
			padding-top 34px

	.g-line
		&:first-of-type
			background url(assets/images/line1.png) 0 98% /100% auto no-repeat
			@media only screen and (min-width: 1152px)
				background-size 100% 100%
		&:last-of-type
			background url(assets/images/line2.png) 0 100% /100% auto no-repeat
			@media only screen and (min-width: 1152px)
				background-size 100% 90%

	.additional
		top 4.5%
		right 1.2%
		font-size 16px
		letter-spacing -.4px
		z-index 1

	.g-legend
		left 50%
		transform translate(-50%, 0)
		bottom -92px
		margin-left 9px
		li:first-of-type:before
			top 0

	footer
		height 126px
		padding 58px 28px 0 70px
	.info-line-wrapper
		padding 0 105px 0 170px
		border-color color_brand_purple3
		.text
			font-size 11px
		.column
			width 50%
			&:after
				left 89%
			.number
				letter-spacing -1.1px
				&:after
					height 110%
			&:first-of-type
				.text
					margin 10px 8px 0 0
					letter-spacing -.1px
				.number
					padding 0 32px 0 25px
			&:last-of-type
				.text
					margin 0 20px 0 0
					font-size 12px
					letter-spacing 0
				.number
					padding-left 0
					font-weight 700
					.patient-icon
						display none
	.notes
		left 51px
		bottom 45px
		letter-spacing -.23px
		font-size 14px
	@media only screen and (min-width: 1152px)
		.additional
			top -6%
		.info-line-wrapper
			padding 0 11.8% 0 19.3%
