@import 'color-scheme'

$color_pink = #E89AC1
$basePath = 'assets/images/'

$flexProps
	display flex
	flex-direction column
	align-items center

$pseudo
	content ''
	position absolute

_setBg(imgPath)
	background url($basePath + imgPath) left bottom / contain no-repeat

safetySlide()
	header
		margin 13px 0 10px

	.lead-text
		margin-bottom 41px
		font 300 20px / 1.2 FrutigerLTCom
		text-align center
		color color_brand_purple
		letter-spacing -.3px

	.top-caption
		justify-content center
		height 18px
		margin-bottom 43px
		sup[data-reference-id]
			top 1px
			left -2px
			font-size 10px

	.graphs-wrapper
		display flex
		padding-left 22px
		padding-right 49px

	.wrapper
		position relative
		&:before
			@extends $pseudo
			left 50%
			top 15%
			height 86%
			width 1px
			border-right 1px solid color_brand_black

	.graph-wrapper
		position relative
		@extends $flexProps
		&:first-of-type
			width 277px
			.g-line
				_setBg('graph-1.png')
			.g-label
				left 55px
			.top-caption
				padding-left 12px
			.g-legend
				left 42px
			.g-scale-h
				ul
					padding-left 7px
		&:last-of-type
			width 269px
			.g-legend
				left -22px
			.g-line
				_setBg('graph-2.png')
			.g-label
				left 63px
			.g-scale-h
				ul
					margin-left -2px
				.g-scale-label
					padding-left 22px
			.g-scale-v li
				&:nth-child(2):after
					content ''
					position absolute
					left 0
					width 100%
					border-top 1px dashed color_brand_purple
	.dosing
		position absolute
		bottom 0
		left 12px
		li
			font 400 8px / 1.3 FrutigerLTCom
			white-space nowrap

	.graph
		width 100%
		height 237px
		margin-bottom 70px

	.g-label
		top -9px
		font-size 20px
		color color_brand_magenta
		text-align center
		letter-spacing -.2px

	.g-legend
		top 100%
		margin-top 87px
		li
			padding-left 16px
			margin-right 10px
			font 400 10px / 1 FrutigerLTCom
			white-space nowrap
			&:before
				width 10px
				height @width
				top -1px
			&.gray-bar:before
				top 0
		.pink-bar:before
			background $color_pink

	footer
		height 105px
		&:before
			@extends $pseudo
			height 27%
			top 6px
			width 1px
			left 50%
			border-right 1px solid color_brand_black
	.info-line-wrapper
		padding 0 138px 0 124px
		height 40px
		.column
			&:last-of-type
				.text
					margin-right 34px
			&:after
				content none
		.text
			margin 2px 37px 0 0
			font 400 11px / 1 FrutigerLTCom
			letter-spacing -.1px
		.number
			padding-left 26px

	.g-note
		top 184px
		right -68px
		font 900 20px / 1 FrutigerLTCom
		color color_brand_magenta

	.arrows-block
		top 77px
		left 260px
		figcaption
			font-size 13px
			margin-bottom 5px
	.arrow
		width 100px
		background-position 0 0

	.arrow-text-top
		font-size 34px
		padding-top 17px
		small
			font-size 50%
			small
				position relative
				left 4px
				letter-spacing 0

	.arrow-text-top + p
		padding-bottom 35px
		padding-top 0
		font-size 12px
		line-height 1

	.g-scale-h
		padding-left 17px
		border-bottom 1px solid color_brand_black
		p
			padding-top 29px
		li
			span
				padding-top 12px
			&:first-of-type
				visibility visible
	.g-scale-v
		p
			padding-bottom 23px
	.g-scale-h
	.g-scale-v
		p
			font-size 12px
			letter-spacing -.2px

	.injected-notes
		bottom 27px
		left 52px
