@import 'color-scheme'

setBarsHeigh(nests)
	.g-bar-nest
		for nest, nestIndex in nests
			&:nth-of-type({nestIndex + 1})
				for bar, barIndex in nest
					.g-bar
						&:nth-of-type({barIndex + 1})
							height unit(bar, px)

$safetyProfile()
	header
		margin 30px 0 11px
	h1
		letter-spacing -.5px
	.lead-paragraph
		line-height 1.2
		b
			letter-spacing -.2px
	.graph
		height 229px
		margin 75px 0 0 71px
	.g-content
		justify-content space-between
		padding 0 35px 0 48px
		border-bottom 1px solid color_brand_black
		will-change transform
		transform translate3d(0, 0, 0)
	.additional-block-wrapper
		top 2px
		right 1px
		width 100px
		.info-line-wrapper
			height 43px
			padding 5px 5px 6px
		.number
			padding-left 21px
			letter-spacing -.8px
		.text
			margin-top 46px
			white-space nowrap
			font 300 13px / 1.2 FrutigerLTCom
			color color_brand_purple
	.g-bar-nest
		&:nth-of-type(1)
			margin-right 64px
			&:before
				content ''
				position absolute
				top 0
				right -80px
				width 6px
				height 270px
				background radial-gradient(circle, color_brand_black 1px, transparent 1px) center / 6px 6px repeat-y
		&:not(:first-of-type)
			.g-bar-value
				margin-top -25px
			.green-bar p
				color color_brand_green_light
			.dark-gray-bar p
				color color_brand_gray4
	.g-bar-value
		font 900 18px / 1.1 FrutigerLtCom
		font-size 18px
		letter-spacing -.5px
	setBarsHeigh(barsHeights)
	.g-nest-name
		top calc(100% + 15px)
		font-weight 700
		letter-spacing .2px
		small
			font-size 11px
	.g-scale-v
		.g-scale-label
			font-size 15px
			line-height 1.2
			letter-spacing -.3px
		li
			span
				font-weight 700
				font-size 15px
			&:first-of-type
				&:before
					content none
	.additional
		top 58px
		left 85px
		letter-spacing -.2px
	.g-legend
		bottom -75px
		left 181px
		li
			margin-right 15px
			font-size 15px
			&:before
				top 2px
	.additional-description
		position absolute
		top 80px
		left 439px
		font 300 23px / .9 FrutigerLtCom
		letter-spacing -.4px
		word-spacing 2px
		color color_brand_green_light
		b
			font 900 24px / 1 FrutigerLtCom
			letter-spacing 1.5px
			word-spacing -3px
		&:before
		&:after
			content ''
			position absolute
			top -10px
			bottom @top
			width 9px
			border 4px solid color_brand_green_light
		&:before
			left -10px
			border-right none
		&:after
			right -8px
			border-left none
	.bottom-note
		margin-top 145px
		text-align center
		font 700 23px / 1 FrutigerLTCom
		letter-spacing -.3px
		color color_brand_green_light