@import 'color-scheme'

color_dark_magenta = #9f005f
magenta_gradient = linear-gradient(to right, color_brand_magenta, color_dark_magenta)
$barHeight = 50px

pseudo()
	content ''
	position absolute

flex()
	display flex
	justify-content space-between

safetyAndDosingSlide()
	h1
	.lead-paragraph
		text-align center
		color color_brand_purple
	h1
		margin 36px 0 17px
		font-size 43px
		font-weight 900
	.lead-paragraph
		margin-bottom 101px
		font-size 24px
	.inner-content
		flex()
		height 252px
		padding 0 48px 0 44px
	.block-wrapper
		position relative
		height inherit
		display flex
		flex-direction column
		justify-content flex-start
		align-items center
		&:first-of-type
			width 25%
			.bar
				display flex
				align-items center
				justify-content center
				padding-right 6px
				background color_brand_purple
				.text
					font-size 13px
					letter-spacing .3px
					color color_brand_white
				strong
					padding 0 3px 0 4px
					font 700 25px / 1 FrutigerLTComCn
			.pill
				position relative
				margin-right 22px
				&:after
					pseudo()
					bottom 100%
					left 50%
					width 0
					height 127px
					margin-bottom 11px
					border-right 1px dotted color_brand_purple
		&:last-of-type
			width 75%
			.bar
				flex()
				background magenta_gradient
			.pill
				position relative
				margin-right 31px
				.pill-text
					width 156px
					margin-bottom 12px
			.item
				&:last-of-type
					transform translate3d(21px, -50%, 0)
			.bar-animate-cover
				overflow hidden
				transform translateX(-100%)
			.bar
				transform translateX(100%)
	.circle-items
		position absolute
		top 0
		left 0
		flex()
		height $barHeight
		width 100%
		padding-right 6px
		.img-wrap
			display flex
			align-items center
			justify-content center
			height inherit
			margin-bottom 9px
			border-radius 50%
			border 2px solid color_brand_magenta
			background color_brand_white
			img
				width 26px
				height auto
				margin-top 4px
		.item-text
			line-height .8
		.text
		.item-text
			font-size 14px
			color color_brand_purple
		strong
			font 900 25px / 1.2 FrutigerLTComCn
	.item
		position relative
		top 46%
		width 90px
		height @width
		text-align center
		transform translate3d(-13px, -50%, 0)
		&:first-of-type
			.item-text
				padding-right 6px
	.pill
		.img-wrap
			display flex
			flex-direction column
			justify-content flex-start
			align-items center
			img
				width 67px
				margin-bottom 6px
	.pill-text
		position relative
		white-space nowrap
		text-align center
		font-size 13px
		line-height 1.25
		letter-spacing .2px
		mark
			letter-spacing -.1px
			color color_brand_magenta
	.capture
		position absolute
		left 50%
		bottom 116%
		transform translateX(-50%)
		padding 0 16px
		white-space nowrap
		font-size 18px
		font-weight 900
		letter-spacing -.1px
		color color_brand_purple
		&:before
		&:after
			pseudo()
			top -15px
			height 28px
			border 1px dotted color_brand_purple
		&:before
			right 100%
			width 134px
			border-width 0 0 1px 1px
		&:after
			left 100%
			width 166px
			border-width 0 1px 1px 0
	.bar-animate-cover
		width 100%
		min-height $barHeight
		margin-bottom 147px
	.bar
		height $barHeight
		transform translate3d(0, 0, 0)
	.notes
		bottom 24px
		left 71px
		letter-spacing -.1px
		p
			font-size 13px
			color color_brand_black
	.injected-notes
		left 72px
	&.state-animate
		.block-wrapper
			&:last-of-type
				.bar-animate-cover
				.bar
					transform translateX(0)
					transition transform .5s linear .4s
