@import 'color-scheme'

$pseudoElem()
	content ''
	position absolute

_px(val)
	return unit(val, px)

_setBarHeights(barHeights)
	.g-bar-nest
		for nestItem, nestIndex in $barHeights
			&:nth-of-type({nestIndex+1})
				.g-bar
					height _px(nestItem)
				.g-nest-additional
					bottom _px(nestItem) + $position

safeAsAspirinSafety1Popup($barHeights, $color_light_pink, $position)
	header
		margin 15px 0 60px
	h1
		line-height 1.1
	.top-caption
		justify-content center
		height 17px
		margin 0 0 43px
	.graph-wrapper
		padding 0 77px 0 31px
		_setBarHeights($barHeights)

	.graph
		height 240px
		border-bottom 1px solid color_brand_black
		.g-scale-v p
			padding-bottom 23px
			font-size 12px
			letter-spacing -.2px
		.g-bar-nest
			.pink-bar
				background-color $color_light_pink
	.g-legend
		bottom -48px
		left 50%
		transform translateX(-50%)
		height 12px
		mark
			padding-left 2px
			font 900 8px / 1 FrutigerLTComXBlkCn
		li
			padding-left 16px
			margin-right 9px
			font-size 9px
			letter-spacing .2px
			&:before
				width 9px
				height @width
			&.dark-gray-bar
				padding-left 14px
				&:before
					top 0
			&.pink-bar:before
				background-color $color_light_pink

	.g-content
		padding 0 49px 0 67px

	.g-bar
		width 65px
		border-radius 0
		.g-bar-value
			margin-top 6px

	.g-nest-additional
		font-size 10px
		text-align center
		white-space nowrap
		line-height 1
		left 50%
		transform translateX(-50%)
		span
			line-height 1.3
	footer
		height 166px
	.info-line-wrapper
		padding 0 343px
		bottom 123px
		.column
			display flex
			justify-content space-between
			align-items center
		.text
			width 86px
			font-size 11px
			letter-spacing -.05px
		.number
			padding-left 27px