@import 'color-scheme'

$pseudoElem()
	content ''
	position absolute

_px(val)
	return unit(val, px)

_setBarHeights(barHeights)
	.g-bar-nest
		for nestItem, nestIndex in barHeights
			&:nth-of-type({nestIndex+1})
				.g-bar
					height _px(nestItem)

safeAsAspirinSafety2Popup($barHeights, $local_color)
	header
		margin 15px 0 58px
	h1
		line-height 1.1

	.preceding-text
		margin-bottom 40px
		padding-right 30px
		font 900 23px/1 FrutigerLTCom
		color color_brand_gray4
		text-align center

	.graph-wrapper
		padding 0 77px 0 31px
		_setBarHeights($barHeights)

	.g-nest-name
		margin-top 6px
		font-weight 700
		font-size 10px

	.graph
		height 240px
		border-bottom 1px solid color_brand_black
		.g-scale-v p
			padding-bottom 23px
			font-size 12px
			letter-spacing -.2px

	.g-legend
		bottom -47px
		left 50%
		transform translateX(-50%)
		height 12px
		li
			padding-left 14px
			margin-right 36px
			font-size 10px
			&:last-of-type:before
				background-color $local_color
			&:before
				top 0
				width 10px
				height @width

	.g-content
		padding 0 49px 0 67px

	.g-bar
		width 65px
		border-radius 0
		.g-bar-value
			margin-top 6px
		&.dark-gray-bar1
			background-color $local_color

	footer
		height 164px

	.info-line-wrapper
		padding 0 346px
		bottom 123px
		border-top-color color_brand_gray4
		border-bottom-color color_brand_gray4
		p
			color color_brand_gray4
		.text
			width 86px
			font-size 11px
			letter-spacing -.05px
		.number
			padding-left 27px
			&:before
				background color_brand_gray4