@import 'einstein-arrows'
@import 'graph-animation'

safeAsAspirinSafetySlide(line_images)
	header
		margin-bottom 31px
	mark
		background transparent
		color color_brand_magenta
	.content-wrapper
		position relative
	.einstein-choice-logo
		height 17px
	.graph-wrapper
		display flex
		flex-direction column
		align-items center
		margin 0 0 90px 42px
		> figcaption
			padding 0
			margin 0 0 32px -36px
			height 17px
	.graph
		width 687px
		height 243px
		margin 0 118px 102px 95px
		&:after
			position absolute
			content ''
			width 0
			height 86px
			top 100%
			left 0
			border-left 1px dotted color_brand_black
	.g-note
		right -40px
		top 190px
		color color_brand_magenta
		font 900 17px / 1.1 FrutigerLTComUlBlk
		opacity 0
		pointer-events none
		transition opacity unit($generalDuration, 's') unit($graphDelay, 's')
	.g-label
		top -8px
		font-size 16px
	.g-scale-v
		p
			padding-bottom 36px
		li:nth-of-type(2)
			span
				color color_brand_purple
			&:after
				position absolute
				content ''
				top 50%
				left 0
				width 680px
				border-bottom 1px dashed color_brand_purple
	.g-scale-h
		padding-left 53px
		li span
			padding-top 11px
		p
			padding-top 37px
			font-size 14px
	.g-content
		width 680px
	.g-line
		for line_styles, index in line_images
			&:nth-of-type({index+1})
				background url('assets/images/' + line_styles[0]) 0 0 / 100% auto no-repeat
				height unit(line_styles[1], 'px')
	.g-legend
		left 137px
		bottom -94px
		li
			font-size 12px
			margin-right 17px
			mark
				font-size 10px
			&:before
				width 12px
				height @width
	.tablets-figures
		position absolute
		text-align center
		top 24px
		right 15px
		width 300px
		figure
			margin 0 0 17px
			position relative
			&:last-of-type
				figcaption
					margin 6px 8px 0 0
		figcaption
			margin 2px 14px 0 0
			font 700 12px / 1.1 FrutigerLTCom
			b
				font-size 17px
		img
			width 80px
			display block
			margin 0 auto
		.comment
			position absolute
			right 99px
			top 8px
			color color_brand_magenta
			letter-spacing -.1px
			font 900 12px / 1.1 FrutigerLTCom
	.additional-arrow
		position absolute
		top 274px
		left -128px
		padding 4px 0 0 12px
		width 120px
		height 54px
		background url(../../shared/images/additional-arrow.png) center / contain no-repeat
		text-align left
		font 400 13px / 1.2 FrutigerLTCom
		color color_brand_white
	.info-button
		bottom 210px
		right 23px
	.pink-bar:before
		background color_brand_pink
	.info-line-wrapper
		padding 0 30px 0 18px
		justify-content center
		min-height 43px
		.text
			font-size 11px
			margin-right 13px
		.number
			padding-left 26px
	footer
		height 201px
		padding 66px 0 0 8px
	.bottom-text
		font 900 19px / 1.3 FrutigerLTCom
		letter-spacing .2px
		span
			opacity 0
			transition opacity unit($generalDuration, 's') 1s
	&.state-animate
		.g-note
		.bottom-text span
			opacity 1
			pointer-events auto