@import 'color-scheme'

$color_pink = #f8c2cb
$basePath = 'assets/images/'

$dashed_line = radial-gradient(circle, color_brand_black .5px, transparent 1.5px) 0 0 \/ 3px 6px repeat-y

$flexProps
	display flex
	flex-direction column
	align-items center

_setBg(imgPath)
	background url($basePath + imgPath) left bottom / contain no-repeat

safeAsAspirin()
	header
		margin-bottom 44px
	h1
		letter-spacing -1.1px
		span
			margin-left 3px
	.top-caption
		justify-content center
		height 17px
		margin-bottom 56px
		padding-left 18px
		sup[data-reference-id]
			font-size 13px
	.graphs-wrapper
		position relative
		display flex
		justify-content center
		padding-right 24px
		&:after
			content ''
			position absolute
			top -26px
			left 51.5%
			height 100%
			width 3px
			background $dashed_line
	.graph-wrapper
		@extends $flexProps
		width 300px
		margin-left 36px
		&:nth-child(1)
			.g-line
				_setBg('graph-1.png')
		&:nth-child(2)
			margin-left 26%
			.g-line
				_setBg('graph-2.png')
			.g-scale-v li
				&:nth-child(2):after
					content ''
					position absolute
					left 0
					width 100%
					border-top 1px dashed color_brand_purple
	.graph
		width 100%
		height 237px
		margin-bottom 50px
	.arrows-block
		top 22px
		left 279px
	.arrow
		width 123px
		&:before
		&:after
			background initial
		p
			@extends $flexProps
			padding-top 14px
			height 124px
			font-size 19px
		small
			display inline
		strong
			padding-top 2px
			font-size 20px
	.g-note
		top 181px
		right -46px
		font 700 17px / 1 FrutigerLTCom
		color color_brand_magenta
	.g-label
		top -1px
		left 50%
		transform translateX(-50%)
		font-size 15px
		color color_brand_magenta
	.g-scale-h
		padding-left 17px
		border-bottom 1px solid color_brand_black
		p
			padding 29px 8px 0 0
		li
			span
				padding-top 12px
			&:first-of-type
				visibility visible
	.g-scale-v
		p
			padding-bottom 23px
	.g-scale-h
	.g-scale-v
		p
			font-size 12px
			letter-spacing -.2px
	.g-legend
		bottom -34px
		left 0
		justify-content center
		width 100%
		padding-left 30px
		mark
			display inline-block
			transform scaleX(.8)
		li
			padding-left 16px
			margin-right 10px
			font 400 10px / 1 FrutigerLTCom
			&:before
				width 10px
				height @width
				top -1px
			&.gray-bar:before
				top 0
		.pink-bar:before
			background $color_pink
	.dosing
		li.exclude-px
			font 400 8px / 1.3 FrutigerLTCom
	footer
		height 175px
		padding-top 59px
		.info-line-wrapper
			padding 0 134px 0 106px
		.text
			font-size 11px
			letter-spacing -.1px
		.number
			padding-left 24px
			margin-right 130px
			color color_brand_magenta
			&:after
				content none
			&:before
				background color_brand_magenta
		.lead-text
			font 900 20px / 1.2 FrutigerLTCom
			text-align center
			color color_brand_purple
			letter-spacing -.3px
		.column
			&:first-of-type
				padding-right 106px
				&:after
					height 30px
			&:last-of-type
				padding-left 13px
	.injected-notes
		bottom 25px
		left 73px
		p
			display inline