@import 'pi-popup'
$scrollHeight = 645px
scrollPiPopup()
	piPopup()
	padding-right 0
	.scroll-wrapper
		height $scrollHeight
		&.step-scroll
			.text-wrap
				height 590px
				position relative
				margin-bottom 20px
			.step
				height $scrollHeight
				position relative