@import 'color-scheme'

.common-slider
	&.ui-slider
	.ui-slider-range
		height 5px

	&.ui-slider
		margin 8.1% auto 0
		width 72.3%
		background-color color_brand_purple
		&:before
		&:after
			content ''
			position absolute
			width 20px
			height 100%
		&:before
			right 100%
			background-color color_brand_magenta
		&:after
			left 100%
			background-color color_brand_purple
			border-radius 0 15px 15px 0
	.ui-slider-handle
		width 50px
		height 50px
		margin-left - (@width / 2)

	.ui-slider-range
		background-color color_brand_magenta