@import 'spaf-combo-folders-slide-template'
@import 'brand-wheel'


wheelSlide()
	brandWheel()
	svg
		position absolute
		top 255px
		left 337px
		width 347px
		height 347px
	spafComboFoldersTemplate($options)
	header
		margin 32px 0 84px
	h1
		padding-left 0
		font-size 45px
		letter-spacing -1.5px
	.main-content
		padding 35px 71px 0
		justify-content space-between
	.folder-tablet.spaf-folder
		border-radius 10px
		&:last-of-type
			border-color color_brand_green
			.folder-description
				padding-top 5px
				.list-title
					color color_brand_green
				li
					margin-bottom 6px
					color color_brand_purple
			.avatar
			.folder-description
			.dash
				background-color color_brand_gray_light2
			.clamp
				background-image clampGradient(45deg, color_local_gray1), clampGradient(-45deg, color_local_gray1)
				&:after
					background-color color_brand_gray_light3
				&:before
					border-color color_brand_cool_gray
		.main-part
			.folder-content
				padding 12px 10px
		.avatar
			width 28%
		.folder-content
			justify-content start
		.folder-description
			height 66%
			margin-top 3px
			padding 24px 5px 9px 10px
			.list-title
				padding-left 2px
				margin-bottom 14px
				font-size 19px
				letter-spacing -.3px
			li
				margin-bottom 8px
				line-height 1.1
				letter-spacing -.3px
		.user-info
			width 46%
