@import 'folder-tablet-mixins'

colorGray = #e2e2e1

foldersSize($avatar)
	.folder-content
		padding 0
	.user-info
		padding-bottom 0
		width 47%
	.avatar
		width 28%
		if $avatar
			background colorGray url($avatar) 0 3px/68px 80px no-repeat
		else
			background-color colorGray
	.top-content
		padding 2% 0
	.folder-description
		height 66%
	.list-title
		padding 25px 0 0 24px
		font-size 21px
		line-height 1.2
		letter-spacing -.2px
		color color_brand_magenta
		span
			letter-spacing -1px

spafSummarySlide($avatar=null)
	header
		margin 28px 20px 67px
		h1
			margin-bottom 18px
			letter-spacing -.7px
			line-height 1.2
		p
			font 300 24px / 1.1 FrutigerLTCom
			letter-spacing -.4px
			color color_brand_purple
			text-align center
	.main-content
		display flex
		.list
			padding 54px 0 0 48px
			width 600px
			li
				font 300 21px / 1.2 FrutigerLTCom
				padding-bottom 36px
				letter-spacing -.2px
				color color_brand_purple
				mark
					letter-spacing -.1px
				sup[data-reference-id]
					top 2px
					margin-left -19px
					font-size 13px
	.folder-tablet
		setFolderProps({width: 284, height: 346})
		foldersSize($avatar)
	.bottom-text
		margin-top 70px
		font 900 20px / 1.2 FrutigerLTCom
		text-align center
		color color_brand_purple
	.notes
		bottom 39px
		letter-spacing -.1px
		color color_brand_purple
		sup
			top 1px
	.injected-notes
		left 71px
