@import 'color-scheme'

aboveLineValues = {width: 131px, right: 7px} ({width: 160px, left: 0} {width: 192px, right: 0}) {width: 112px, right: -43px}
$localPath = 'assets/images/'

$setLine(values)
	for _data, index in values
		&:nth-of-type({index + 1})
			if _data[1]
				for innerContent, innerContentIndex in _data
					.cell:nth-of-type({innerContentIndex + 1})
						.value:before
							{innerContent}
			> .value:before
				{_data}

$pseudoElem()
	content ''
	position absolute

spafXantus(values = false)
	_lineValues = values || aboveLineValues
	&:after
		$pseudoElem()
		top 41px
		right 25px
		background url($localPath + 'label.png') 0 / 100% no-repeat
		width 84px
		height 96px

	header
		margin-bottom 38px
	h1
		letter-spacing -.9px

	figcaption.top-caption
		margin-bottom 25px
		padding-right 15px
		justify-content center
		> [data-reference-id]
			color color_brand_purple

	figure
		background url($localPath + 'map.png') 47.6% 52.6% / 57.5% no-repeat
	.row
		display flex
		flex-direction column
		justify-content center
		align-items center
		text-align center
		$setLine(_lineValues)
		&:first-of-type
			margin-bottom 90px
			.value
				line-height 1.3
		&:nth-of-type(2)
			margin-bottom 95px
			flex-direction row
			.cell
				width 440px
				.title
					font-size 23px
				.value
					font-size 42px
				&:first-of-type
					text-align left
				&:last-of-type
					text-align right
		&:last-of-type
			p
				letter-spacing -.3px
	.title
	.period
		font 400 15px / 1.2 FrutigerLTCom
		color color_brand_purple
	.value
		margin-top 2px
		position relative
		font 900 51px / 1.2 FrutigerLTComXBlkCn
		color color_brand_magenta
		&:before
			$pseudoElem()
			top 0
			height 1px
			background-color color_brand_magenta
	.period
		margin-top -7px

	.info-button
		bottom 149px
		right 71px

	.notes
		font-size 14px
		letter-spacing -.25px
		p:first-of-type
			margin-bottom 5px
	@media only screen and (min-width: 1152px)
		figure
			background-size 48%
