@import 'color-scheme'

$gBarHeights = ((182px 160px) (48px 37px) (75px 42px) (37px 16px))
$customPurple = #351252


spafCardioRocketRenal(gBarHeights=$gBarHeights)
	padding 40px 0 0
	header
		margin 0 0 22px 72px
	.main-wrapper
		display flex
		justify-content space-between
		margin 0 27px 0 70px
	.top-caption
		justify-content center
		height 19px
	.left-block
		padding-top 27px
		border-right 1px solid color_brand_black
	footer
		height 198px
	.graph
		width 430px
		margin 27px 10px 63px 2px
		.arrows-block
			top 45px
			left -4px
		.arrow-container > figcaption
			font-size 19px
			margin-bottom 10px
			.arrow
				width 122px
				&:before
				&:after
					display none
				small
					font-size 14px
				p
					height 87px
					padding-top 6px
					font-size 13px
				strong
					font-size 21px
	.info-line-wrapper
		height 43px
		padding 0
		justify-content: flex-start
		border-image linear-gradient(to right, $customPurple 50%, color_brand_gray 50%, color_brand_gray 100%)
		border-image-slice 1
		border-width 1px
		border-style solid
		border-left 0
		border-right 0
	.info-button
		bottom 103px
		z-index 5
	.right-block
		width 50%
		padding-top 21px
		figcaption
			padding 0
			margin-bottom 107px
		.top-caption
			sup
				margin-left -20px
	.column
		.text
			font 400 9px / 1.3 FrutigerLTCom
		.number
			margin-top 0
			padding-right 8px
			&:after
				height 110%
		&:first-of-type
			margin-left 70px
			.text
				font-size 12px
				padding 9px 19px 0 0
				letter-spacing -.1px
		&:nth-of-type(2)
			padding 0 14px 0 20px
			.number
				&:after
					left 90%
		&:nth-of-type(3)
			padding-left 18px
			&:after
				content none
			.number
				&:after
					content none
		&:nth-of-type(2)
		&:nth-of-type(3)
			.text
				padding-right 4px
			.number
				padding 0 3px 0 0
				font-weight 600
				letter-spacing -1px
				&:before
					content none
		&:last-of-type
			width 50%
			height 100%
			justify-content center
			padding-left 6px
			.text
			.number
				color color_brand_gray
			.text
				font-size 11px
				padding-top 10px
			.number
				&:before
					background-color color_brand_gray
	.g-content
		height 267px
		justify-content space-between
		padding 0 17px 0 19px
		.g-bar
			width 40px
			.g-bar-value
				font-size 14px
	.additional
		top -1px
		left 105px
		font-size 15px
		font-weight 400
		letter-spacing -.3px
	.additional-text
		text-align center
		font 400 18px / 1.3 FrutigerLTCom
		color color_brand_gray
		letter-spacing -.5px
		padding-left 10px
		strong
			font 700 23px / 1.2 FrutigerLTCom
			letter-spacing -.3px
	.g-scale-v
		.g-scale-label
			padding-bottom 28px
			font-size 12px
	
	.g-bar-nest
		for barHeights, index in gBarHeights
			&:nth-of-type({index + 1})
				.g-bar
					for heightValue, heightIndex in barHeights
						&:nth-of-type({heightIndex + 1})
							height heightValue
		&:first-of-type
			margin-right 20px
			&:after
				content ''
				position absolute
				top 64px
				bottom 0
				right -20px
				width 1px
				background-image repeating-linear-gradient(to bottom, color_brand_black 0, color_brand_black 4%, transparent 4%, transparent 7%)
		&:nth-of-type(2)
			.g-nest-name
				width 118%
				left -8px
		&:last-of-type
			.g-bar
				&:nth-of-type(2)
					.g-bar-value
						margin-top -23px
						color color_brand_magenta
	
	.g-nest-name
		margin-top 14px
		font-size 12px
	.g-legend
		bottom -75px
		left 50%
		transform translate(-65%, 0)
		li
			font-size 13px
			padding-left 18px
			margin-right 11px
			letter-spacing -.3px
			&:before
				top 1px
	.notes
		bottom 11px
		margin 0 0 10px 43px
		font-size 13px
		line-height 1.3
		letter-spacing -.05px
		p
			margin-bottom 2px
	.additional-notes
		margin 75px 0 0 43px
		p
			font 400 13px / 1.2 FrutigerLTCom
	.arrows-block.zoom-out
		top 9px
		left -21px
		.arrow
			width 140px
			p
				height 140px
				font-size 20px
			strong
				font-size 27px
		.arrow-container
			font-size 30px
			figcaption
				font-size 24px
