@import 'color-scheme'
@import 'folder-tablet-mixins'

color_local_gray1 = #c2c0c2
color_local_gray2 = #e6e6e6

color_local_gray3 = #f5f6f7
color_local_gray4 = #edeced
color_local_gray5 = rgba(194, 192, 194, .4)
color_local_gray6 = #c2c7ce
color_local_gray7 = #d7d7da
color_local_gray8 = rgba(230, 230, 230, .6)
color_local_shadow = rgba(0, 0, 0, .05)

spafComboFoldersTemplate($options)
	padding 30px 0 0
	h1
		padding-left 72px
	.main-content
		display flex
		height 540px
	.folder-tablet
		setFolderProps($options.folders)
		&.spaf-folder
			.main-part
				padding 0
				background none
				&:before
					content none
				.folder-content
					transform none
			.top-content
				padding 2% 0 0
				height 32.5%
			.user-info div
				for item, index in $options.dashs
					&:nth-of-type({index+1})
						width item
			.avatar
				width 31%
				height 92%
			.folder-description
				position relative
			.folder-name
				position absolute
		&:first-of-type
			border-color color_brand_magenta
			.clamp
				background-image clampGradient(45deg, color_local_gray1), clampGradient(-45deg, color_local_gray1)
			.folder-name
				color color_brand_purple
			.folder-description,
			.dash,
			.avatar
				background color_local_gray2
		&:last-of-type
			border-color color_local_gray5
			.clamp
				background-image linear-gradient(45deg, color_local_gray4 50%, transparent 50%), linear-gradient(-45deg, color_local_gray4 50%, transparent 50%)
				&:before
					border-color color_local_gray4
				&:after
					background-color color_local_gray3
			.main-part .folder-content
				box-shadow 2px 2px 3px 0 color_local_shadow
			.folder-description
				.list-title
				li
					color color_local_gray6
			.folder-description,
			.dash,
			.avatar
				background color_local_gray8
			.folder-name
				color color_local_gray7
