@import 'superior-slide'

$isSlideAnimated = true
$lines = (('green.png' 0 99% 96.4%) ('gray.png' 0 99% 96.2%))

stoppedEarlySlide()
	$comboSuperiorStyles($isSlideAnimated, $lines)
	&.slide
		padding 30px 70px
	header
		margin 29px 0 11px
		h1
			font-size 45px
			letter-spacing -.6px
	.lead-paragraph
		margin-bottom 47px
		letter-spacing -.3px
		line-height 1.2
	.main-wrapper
		padding-left 87px
		margin-bottom 65px
	.g-scale-v .g-scale-label
		padding 0 6px 35px 0
	.g-scale-h
		ul
			padding-right 25px
		p
			padding 33px 26px 0 0
			font-size 16px
			letter-spacing -.5px
	.additional-block-wrapper
		left calc(100% + 17px)
		bottom calc(100% - 10px)
		width 129px
		.patient-value
			width 129px
			justify-content center
			p:first-of-type
				padding-left 4px
		.info-line-wrapper
			display flex
			justify-content center
			padding 6px 5px 4px 0
		.number
			letter-spacing -1px
			&:before
				top 49%
		.text
			top 100%
			left 0
			position absolute
			margin-top 0
			white-space nowrap
			letter-spacing -.2px
			strong
				margin-top 21px
	.graph
		width 645px
	.arrows-block
		left 96.9%
	.g-legend
		left 124px
		li
			padding-left 19px
			&.dark-gray-bar:before
				width 13px
				height @width
			&.green-bar:before
				top 1.5px
				width 12px
				height @width
	.arrow p
		padding-top 43px
		strong
		small
			font 900 58px / .9 FrutigerLTComCn
		span
			padding 0 4px 0 2px
		small
			text-align left
			&:first-of-type
				padding-top 5px
				font-size 34px
			&:last-of-type
				padding-left 3px
				font-size 15px
				line-height .7
	.top-caption
		justify-content center
		margin-bottom 5px
		padding-right 87px
		height 27px
	.bullet
	.bullet-list li
		margin-left 106px
		padding-bottom 7px
		letter-spacing -.3px
	.injected-notes
		left 71px