@import 'superior-slide'
@import 'percent-arrow-value'

superiorLimbStyles()
	$comboSuperiorStyles($isSlideAnimated, $lines)
	h2
		padding-right 38px
		margin-bottom 71px
		line-height 1.2
		letter-spacing -.3px
	.main-wrapper
		display flex
		justify-content space-between
		padding 0 2px 0 43px
	.graph
		width 473px
		&:before
			content ''
			position absolute
			top -20px
			left 137.6%
			width 4px
			height 107%
			background radial-gradient(circle, color_brand_black 30%, transparent 50%) 0 0 / 4px 4px repeat-y
	.additional
		top 28px
		left calc(100% + 21px)
		white-space nowrap
		font-size 11px
		letter-spacing .3px
		color color_brand_purple
	.additional-block-wrapper
		left calc(100% + 21px)
		bottom calc(100% - 25px)
		.patient-value
			width 96px
			padding 6px 5px 6px 7px
		.text
			position absolute
			top 100%
			left 8%
			margin-top 0
			letter-spacing .2px
			strong
				letter-spacing -.5px
				padding-left 3px
	.arrow.green
		p
			padding-top 43px
		strong
			font 900 58px / .9 FrutigerLTComCn
			letter-spacing -1.3px
			padding-left 1
		small
			font 900 35px / .85 FrutigerLTComCn
			&:first-of-type
				padding 5px 0 0 3px
			&:last-of-type
				font 900 15px / 1 FrutigerLTComCn
		span
			position relative
			right 5px
	.g-scale-v .g-scale-label
		padding 0 0 33px
		letter-spacing -.5px
		font-size 14px
		line-height 1.1
	.g-scale-h
		ul
			padding-right 17px
		p
			padding-right 0
			font-size 14px
	.g-legend
		left 49px
		bottom -76px
		li
			font-size 12px
			white-space nowrap
			&.dark-gray-bar
				margin-right 22px
				&:before
					top -2px
				&.green-bar:before
					top -1px
					left 2px

	.arrows-block
		top 92px
		left 93%
	.caption
		margin 0 0 7px 9px
		font 700 16px / 1 FrutigerLTCom
		letter-spacing -.1px
		color color_brand_green_light
	.right-side
		padding-top 10px
		.item
			margin-bottom 41px
		.percent-value
			percentArrowValue(63px, 3px, 15px)
			.abbr
				padding-left 4px
				font-size 27%
			.percent
				font-size 57%
		.bottom-arrow-wrapper
			position relative
			top -4px
		.bottom-arrow
			bottomArrow(11px, 66px, 13px, 13px)
			margin-right 12px
		.number-wrapper
			letter-spacing -.8px
			> div
				padding 3px 0 1px
		.info
			padding-left 2px
	.injected-notes
		left 70px
