@import 'color-scheme'
@import 'h-arrow-mixin'

$sharedImagesPath = '../../shared/images/'
$localImagesPath = 'assets/images/'
$arrows = 'arrow-purple.png' 'arrow-pink.png'

$flexCenter
	display flex
	align-items center

superiorRisk1PopupSlide($drugs)
	padding-right 128px
	header
		margin 16px 0 14px
	h1
		line-height 1.1
	.top-caption
		padding-left 285px
		margin-bottom 11px
		font-size 20px
		img
			height 17px
	.top-description
		padding-left 75px
		font 400 12px / 1.2 FrutigerLTCom
		color color_brand_purple
		text-align center
	figure
		margin-bottom 18px
	.circle
		border-radius 50%
	.main-content
		@extends $flexCenter
		justify-content center
		position relative
		height 288px
		.number
			position relative
			&:before
				content ''
				position absolute
				bottom 0
				left 0
				width 10px
				height 20px
				transform translate3d(0, 15%, 0)
				background url($sharedImagesPath + 'white-man.png') center / contain no-repeat
	.patients
		@extends $flexCenter
		justify-content center
		width 210px
		height @width
		padding-top 3px
		transform translate3d(-16px, 0, 0)
		background color_brand_gray_light7
		img
			width 32px
		p
			font 400 14px / 1.1 FrutigerLTCom
			text-align center
			color color_brand_purple
			letter-spacing -.3px
			b
				font-weight 900
	.randomization
		@extends $flexCenter
		flex-direction column
		justify-content center
		position relative
		width 82px
		height @width
		padding-top 8px
		margin 0 7.8% 0 5.2%
		color color_brand_white
		background magenta_gradient_to_right
		p
			font 700 10px / 1 FrutigerLTCom
			text-align center
		.number
			padding 8px 0 0 12px
			font 900 12px / 1 FrutigerLTCom
		&:before
		&:after
			content ''
			position absolute
			height 88px
			left 50%
			border-left 1px solid color_brand_black
		&:before
			bottom 110%
		&:after
			top 110%
	.drugs
		position relative
		display flex
		flex-direction column
		justify-content space-between
		height 189px
		padding-left 85px
		margin-top 4px
		&:before
			content ''
			position absolute
			top 50%
			left 0
			width 94px
			height 138px
			transform translate3d(0, -50%, 0)
			background url($localImagesPath + 'arrows.png') left center / auto 100% no-repeat
		p
			font 400 12px / 1 FrutigerLTCom
			color color_brand_purple
			letter-spacing -.2px
		.prefix
			position absolute
			left -36px
			top 15px
			font-size 17px
			transform scaleX(.85)
			font-weight 700
		.item
			position relative
			@extends $flexCenter
			height 50px
			padding-left 75px
			for img, i in $drugs
				&:nth-child({i + 1})
					background url($localImagesPath + img + '.png') 19px center / auto 95% no-repeat
			&:last-of-type
				background-position-y 0
		.number
			strong
				display inline-block
				margin-left 14px
				font-weight 900
			&:before
				width 8px
				left 8px
				bottom 2px
				background url($sharedImagesPath + 'purple-man.png') center / contain no-repeat
	.study
		position absolute
		top 258px
		left 437px
		font 300 12px / 1 FrutigerLTComCn
		letter-spacing -.1px
		white-space nowrap
	.h-arrows-wrapper
		width 100%
		justify-content center
		margin-bottom 36px
		p
			font 700 14px / 1 FrutigerLTCom
	.h-arrow
		@extends $flexCenter
		height 50px
		&:first-of-type
			width 305px
			padding-left 8px
			background url($localImagesPath + $arrows[0]) center / contain no-repeat
			letter-spacing -.3px
		&:nth-of-type(2)
			width 400px
			padding-left 14px
			justify-content center
			background url($localImagesPath + $arrows[1]) center / contain no-repeat
			transform translate3d(-5px, 0, 0)
	.diamond
		margin-left 17px
		font 300 17px / 1 FrutigerLTCom
		color color_brand_purple
		letter-spacing -.2px
		&:before
			top -4px
			font-size 21px
			margin-right 6px
	.day-periods
		position absolute
		left 100%
		top 50%
		margin-left -25px
		font 900 14px / 1 FrutigerLTCom
		text-align center
		white-space nowrap
		color color_brand_purple
		transform rotate(-90deg) translate3d(0, 50%, 0)
		transform-origin center top
