@import 'color-scheme'
@import 'animation'

setArrowAnimation()
	$arrowSelector = '.arrow-container'
	zoomInAnimation($arrowSelector, .5)


$comboSuperiorStyles(isSlideAnimated, lines)
	&.slide
		padding-left 110px
	header
		margin 32px 40px 10px 0
		h1
			text-align center
			font-size 44px
			letter-spacing -.15px
	h2
		margin-bottom 44px
	.main-wrapper
		position relative
		padding-left 47px
	.additional
		top -3px
		font 400 15px / 1.15 FrutigerLTCom
		letter-spacing -.3px
	.g-caption
		position absolute
		left 0
		right 0
		margin auto
		margin-left 42px
		font 700 18px / 1 FrutigerLTCom
		letter-spacing -.3px
		text-transform none
		color color_brand_gray3
	.graph
		width 643px
		height 283px
		margin 0 0 41px
		.g-line
			for lineParams, key in lines
				&:nth-of-type({key+1})
					background url('assets/images/' + lineParams[0]) lineParams[1] lineParams[2] / lineParams[3] auto no-repeat

	.g-scale
		font-size 15px
		z-index 2
	.g-cover
		overflow visible
	.g-scale-h
		ul
			padding-right 23px
		li
			span
				padding-top 11px
		p
			padding-top 34px
			padding-right 23px
			font-size 15px
	.g-scale-v
		li
			span
				padding 3px 9px 2px 0
			&:first-of-type
				&:before
					content none
		.g-scale-label
			padding-right 6px
			padding-bottom 34px
			line-height 1.2
			font-size 15px
	.additional-block-wrapper
		position absolute
		left calc(100% + 33px)
		bottom calc(100% + -70px)
		width 100px
		text-align center
		.info-line-wrapper
			padding 5px 7px 5px 6px
		.number
			font 900 26px / 1.2 FrutigerLTCom
			letter-spacing -.4px
		.text
			margin-top 46px
			color color_brand_purple
			font 300 13px / 1.2 FrutigerLTCom
			strong
				display inline-block
				margin-top 20px
				font-size 18px
				color color_brand_black
	.g-legend
		left 91px
		bottom -77px
		li
			font-size 15px
			margin-right 15px
	.arrows-block
		top 79px
		left 97%
		.arrow
			width 204px
			height 191px
			opacity 1
		p
			clip-path none

	if(isSlideAnimated)
		setArrowAnimation()