@import 'color-scheme'

barsHeights = (241 137) (202 77) (125 35)
nestsAdditionalsLeft = 35 45 50

setBarsHeigh(nests)
	.g-bar-nest
		for nest, nestIndex in nests
			&:nth-of-type({nestIndex + 1})
				.g-bar
					&:nth-of-type(1)
						height unit(nest[0], px)
					&:nth-of-type(2)
						height unit(nest[1], px)

setNestAdditionalLeft(params)
	.g-bar-nest
		for additionalLeft, index in params
			&:nth-of-type({index + 1})
				.g-nest-additional
					left unit(additionalLeft, px)


superiorLimbProtectionSlide(barsHeightsCustom=barsHeights, nestsAdditionalsLeftCustom=nestsAdditionalsLeft)
	padding-right 86px
	header
		margin 13px 0 10px
	h1
		font-size 40px
		letter-spacing -.6px
	.lead-paragraph
		margin-left 35px
		font-size 20px
		line-height 1.2
		letter-spacing -.2px
	.graph
		height 283px
		margin 89px 0 0 109px
	.g-content
		justify-content space-between
		padding 0 80px 0 60px
		border-bottom 1px solid color_brand_black
	.g-caption
		position absolute
		top -36px
		left 187px
		font-size 17px
		letter-spacing .2px
		color color_brand_green_light
		text-transform none
	.g-bar-nest
		&:nth-of-type(2)
			margin-right 9px
			.g-nest-name
				width 130px
				margin-left 11px
		&:nth-of-type(3)
			.g-nest-name
				margin-left 23px
	setBarsHeigh(barsHeightsCustom)
	.g-nest-name
		top calc(100% + 15px)
		font 700 14px / 1.1 FrutigerLtCom
		letter-spacing -.4px
	.additional-block-wrapper
		position absolute
		left calc(100% - 93px)
		bottom calc(100% + 17px)
		width 96px
		.info-line-wrapper
			height 43px
			padding-left 2px
		.number
			padding-left 23px
			letter-spacing -.5px
	.g-bar-note
		width auto
		display inline-flex
		top -64px
		left 25px
		font 900 40px / 1 FrutigerLTComXBlkCn
		color color_brand_green_light
		span
			display block
			margin 5px 0 0 -2px
			font-size 22px
		small
			display block
			&:first-of-type
				font-size 22px
				line-height .9
			&:last-of-type
				padding-left 2px
				font-size 10px
		&:before
			content ''
			position absolute
			top 6px
			right 100%
			width 16px
			height 50px
			background-color color_brand_green_light
			clip-path polygon(4.5px 0, 11.5px 0, 11.5px 41px, 16px 41px, 8.5px 50px, 0 41px, 4.5px 41px, 4.5px 0)
	.g-scale-v
		.g-scale-label
			padding-bottom 42px
			font-size 15px
			line-height 1.2
			letter-spacing -.3px
		li
			span
				padding-right 8px
				font-weight 700
				font-size 14px
			&:first-of-type
				&:before
					content none
	.g-nest-additional
		top 10px
		font-size 15px
		letter-spacing .1px
	setNestAdditionalLeft(nestsAdditionalsLeftCustom)
	.g-legend
		bottom -75px
		left 78px
		li
			margin-right 15px
			font-size 15px
			&:before
				top 2px
	.text
		margin-top 45px
		white-space nowrap
		font 300 13px / 1.2 FrutigerLTCom
		color color_brand_purple