@import 'color-scheme'
@import 'graph-animation'
@import 'constants'

path = '../../shared/images/'

setOpacity(param)
	if param == 0
		opacity 0
		pointer-events none
	else
		opacity 1
		pointer-events auto

setStylesForState(index, textIndex, mutedBarClass)
	.g-line:nth-of-type({index})
		setOpacity(0)
	.g-line-names
		p:nth-of-type({textIndex})
			setOpacity(0)
		span
			display none
	.arrow-container
		&:first-of-type
			setOpacity(0)
		&:nth-of-type({index})
			setOpacity(1)
	{mutedBarClass}
		opacity .3

superiorRiskReductionSlide($line_images)
	header
		margin-bottom 30px
	mark
		background transparent
		color color_brand_magenta
	.content-wrapper
		position relative
		> figure
			display flex
			flex-direction column
			align-items center
			margin-left 42px
			margin-bottom 94px
	.top-caption
		margin-bottom 26px
		height 17px
	.graph
		margin 0 122px 0 99px
		width 685px
		height 244px
		&:before
			position absolute
			content ''
			width 0
			height 86px
			top 100%
			left 0
			border-left 1px dotted color_brand_black
	.g-label
		top -7px
		left 10px
		font-size 16px
	.g-scale-v
		p
			padding-bottom 32px
			line-height 1.1
		li span
			padding 3px 5px 0 0
	.g-scale-h
		li span
			padding-top 11px
		p
			padding-top 37px
			left -10px
	.g-legend
		left 136px
		li
			font-size 12px
			margin-right 16px
			mark
				font-size 11px
			&:before
				width 12px
				height @width
	.g-line-names
		position absolute
		top 170px
		right -134px
		width 130px
		font 400 10px / 1.2 FrutigerLTCom
		p
			margin-bottom 4px
	.g-line
		for line_styles, index in $line_images
			&:nth-of-type({index+1})
				background url('assets/images/' + line_styles[0]) 0 0 / 100% auto no-repeat
				height unit(line_styles[1], 'px')
		&:nth-of-type(2)
			z-index 1
	.lt-pink
	.pink-bar
		&:before
		&:after
			background color_brand_pink
	.arrow
		width 170px
		p
			padding-top 0
			font-size 19px
		small
		strong
			display inline
	.arrows-wrapper
		position absolute
		width 160px
		height 255px
		right -130px
		bottom 38px
	.arrow-container
		position absolute
		figcaption
			margin-bottom 5px
			padding-left 4px
			font 700 22px / 1.2 FrutigerLTCom
		p
			height 170px
			mask-size 150px 100%
		small
		strong
		span
			position relative
		small
			top -3%
			font-size 18px
		strong
			top 3%
			font 900 50px / 1 FrutigerLTComXBlkCn
			small
				top 0
				font-size 12px
		span
			position relative
			top -8%
			flex-direction column
			font-size 60%
		&:not(:first-of-type)
			setOpacity(0)
		&:first-of-type
			transform scale(.8)
			transition transform unit($arrowDuration, 's') unit($arrowDelay, 's')
		&:nth-of-type(2)
			margin-top 9px
	.additional-arrow
		position absolute
		top 277px
		left -128px
		padding 4px 0 0 12px
		width 120px
		height 54px
		background url(path + 'additional-arrow.png') center / contain no-repeat
		text-align left
		font 400 13px / 1.2 FrutigerLTCom
		color color_brand_white
	.info-button
		bottom 212px
		right 24px
	footer
		bottom 25px
		padding-top 80px
	.info-line-wrapper
		justify-content center
		min-height 43px
		padding 0 0 0 13px
	.number
		position relative
		padding-left 23px
		width 115px
		font 900 25px / 1.1 FrutigerLTCom
		&:after
			width 35px
	.text
		margin-right 13px
		font 400 11px/1 FrutigerLTCom
		letter-spacing 0
	.bottom-paragraph
		text-align center
		font 900 20px / 1.2 FrutigerLTCom
		color color_brand_purple
		setOpacity(0)
		transition opacity 1s 1s
	&.animate
		.bottom-paragraph
			setOpacity(1)
		.arrow-container:first-of-type
			transform scale(1)
	&.state-xarelto-10mg
		setStylesForState(3, 2, '.pink-bar')
		.g-line-names p
			margin 31px 0 0 7px
			white-space nowrap
	&.state-xarelto-20mg
		setStylesForState(2, 1, '.magenta-bar')
		.g-line-names p
			margin-bottom 13px
