@import 'color-scheme'
@import 'h-arrow-mixin'
@import 'animation'

$flexElements
	display flex
	justify-content center

$pseudoElement
	content ''
	position absolute

setProp(prop, value)
	{prop} value

setProps(collection)
	for value, index in collection.values
		&:nth-of-type({index + 1})
			setProp(collection['property'], value)

tailoringDosageSlideStyles()
	padding 30px 49px 30px 70px
	header
		margin-bottom 98px
	h1
		letter-spacing -1.2px
	.content-wrapper
		padding 0 74px 0 53px
		color color_brand_purple
	.dosing-groups
		display flex
		margin-bottom 21px
		figure
			position relative
			setProps(groupsWidths)
			margin 0
			&:before
			&:after
				@extends $pseudoElement
				left 100%
				height 50%
				width 3px
				background dottedBorderGradient top / 3px 3px repeat-y
			&:before
				top 0
			&:after
				bottom 0
			&:first-of-type
				padding 12px 28px 0 13px
				.pills-usage
					margin-bottom 12px
				.usage
					background url(assets/images/sun.png) 23% 50% / auto 97% no-repeat, url(assets/images/moon.png) 76% 50% / auto 78% no-repeat
			&:nth-of-type(2)
				padding-top 12px
				&:before
					height 147px
				&:after
					height 81px
				figcaption
					margin-bottom 24px
			&:last-of-type
				padding 12px 45px 0 14px
				figcaption
					margin 0 4px 24px auto
				.usage
					justify-content flex-end
				.pills-usage
					margin-bottom 5px
				.dosing
					text-align right
					margin 10px 19px 17px 0
				&:before
				&:after
					content none
		figcaption
			margin 0 auto 21px
			padding-top 34px
			width 106px
			height 86px
			background url(assets/images/calendar-border.png) 0 / contain no-repeat
			font 900 19px / 1.15 FrutigerLTCom
			letter-spacing .2px
			text-align center
	.navigation-button
		top -36px
		left 0
		width 194px
		padding 5px 0 5px 5px
		font-size 13px
		letter-spacing -.8px
		text-align left
		&:after
			top 0
			right 7px
			width 17px
	.pills-usage
		margin-bottom 10px
	.usage
	.circle
	.h-arrow
		align-items center
	.dosing
	.usage
		text-align center
	.dosing
		margin-bottom 12px
		font 400 12px / 1.2 FrutigerLTCom
		letter-spacing -.2px
	.usage
		@extends $flexElements
		height 35px
		margin-bottom 12px
		font 900 21px / 1.2 FrutigerLTCom
	.pill
		position relative
		height 59px
	.pill-20-mg
		background url(assets/images/20-mg-pill.png) 55% 40% / auto 92% no-repeat
	.pill-15-mg-double
		background url(assets/images/15-mg-pill-double.png) 50% 50% / auto 96.5% no-repeat
	.pill-10-mg
		background url(assets/images/10-mg-pill.png) 100% 0 / auto 94% no-repeat
	.risk-dosing
		position relative
		background none
		font 400 12px / 1.2 FrutigerLTCom
		color color_brand_purple
		&.pill-20-mg
			&:before
				@extends $pseudoElement
				top -45px
				right -2px
				height 38px
				width 69px
				background url(assets/images/20-mg-pill.png) 50% 50% / auto 100% no-repeat
	.circle
		@extends $flexElements
		position absolute
		top 158px
		left 217px
		height 75px
		width @height
		border-radius 50%
		background-image purple_gradient_to_right
		font 700 13px / 1.2 FrutigerLTCom
		text-align center
		color color_brand_white
	section
		display flex
		justify-content space-between
		align-items flex-end
		padding-right 17px
		color color_brand_black
		p
			letter-spacing -.2px
			font 400 12px / 1.2 FrutigerLTCom
		li
			position relative
			padding-left 10px
			letter-spacing -.3px
			font 300 12px / 1.2 FrutigerLTCom
			&:before
				@extends $pseudoElement
				top 5px
				left 1px
				height 4px
				width @height
				border-radius 50%
				background-color color_brand_black
	.h-arrow
		@extends $flexElements
		height 71px
		margin-bottom 23px
		font 700 14px / 1.2 FrutigerLTCom
		&:first-of-type
			justify-content flex-start
			padding-left 23px
			makeHArrowClipPath(9%, true)
			width 25%
			padding-right 18px
			text-align left
		&:nth-of-type(2)
			makeHArrowClipPath(8%)
			width 32%
		&:nth-of-type(3)
			makeHArrowClipPath(6%)
			width 42.5%
			padding-left 25px
	.injected-notes
		font-weight 400
		letter-spacing -.1px

	floatAnimation('figure:last-of-type .pill')
