@import 'color-scheme'
@import 'h-arrow-mixin'
@import 'animation'

custom_color_pink = #eb008c
dottedBorderGradient = radial-gradient(circle at center, color_brand_black 10%, transparent 50%)
$localImagesPath = 'assets/images/'
$nestImages = 'arrow-1' 'arrow-2' 'arrow-3'

$flexElements
	display flex
	justify-content center

$pseudoElement
	content ''
	position absolute

setProp(prop, value)
	{prop} value

setProps(collection)
	for value, index in collection.values
		&:nth-of-type({index + 1})
			setProp(collection['property'], value)

setImages(nestImages)
	for item, index in nestImages
		.h-arrow:nth-of-type({index+1})
			background url($localImagesPath + item + '.png') center \/ 100% no-repeat

tailoredProtectionPopup(props)
	padding 39px 0 19px 50px
	header
		margin-top 10px
		margin-bottom 73px
	h1
		font-size 23px
		text-align left
		line-height 1.1
		letter-spacing -.35px
	.content-wrapper
		padding 0 51px 0 2px
		color color_brand_purple
	.dosing-groups
		display flex
		margin-bottom 12px
		figure
			position relative
			setProps(props.groupsWidths)
			margin 0
			&:before
			&:after
				@extends $pseudoElement
				left 100%
				height 50%
				width 3px
				background dottedBorderGradient top / 3px 3px repeat-y
			&:before
				top 0
			&:after
				bottom 0
			&:first-of-type
				padding 5px 28px 0 13px
				.pills-usage
					margin-bottom 8px
				.usage
					background url(assets/images/sun.png) 29% 29% / auto 80% no-repeat, url(assets/images/moon.png) 69% 29% / auto 66% no-repeat
				.dosing
					padding-right 6px
			&:nth-of-type(2)
				padding 5px 0 0 5px
				&:before
					height 128px
				&:after
					height 70px
				figcaption
					margin-bottom 14px
			&:last-of-type
				padding 5px 76px 0 16px
				figcaption
					margin 0 4px 14px auto
				.usage
					justify-content flex-end
				.dosing
					text-align right
					margin 4px 19px 17px 0
				.pill
					height 52px
				&:before
				&:after
					content none
		figcaption
			margin 0 auto 14px
			padding-top 35px
			width 91px
			height 86px
			background url(assets/images/calendar-border.png) 0 / contain no-repeat
			font 900 17px / 1.15 FrutigerLTCom
			letter-spacing .2px
			text-align center
	.navigation-button
		top -28px
		left 0
		width 208px
		padding 5px 0 5px 10px
		font-size 13px
		letter-spacing -.8px
		text-align left
		&:after
			top 1px
			right 12px
			width 17px
	.pills-usage
		margin-bottom 5px
	.usage
	.circle
	.h-arrow
		align-items center
	.dosing
	.usage
		text-align center
	.dosing
		margin-bottom 12px
		font 400 11px / 1.1 FrutigerLTCom
		letter-spacing -.5px
	.usage
		@extends $flexElements
		height 35px
		margin-bottom 2px
		font 900 18px / 1.2 FrutigerLTCom
	.pill
		position relative
		height 59px
	.pill-20-mg
		background url(assets/images/20-mg-pill.png) 56% 40% / auto 79% no-repeat
	.pill-15-mg-double
		background url(assets/images/15-mg-pill-double.png) 46% 50% / auto 84% no-repeat
	.pill-10-mg
		margin-top 8px
		background url(assets/images/10-mg-pill.png) 100% 0 / auto 94% no-repeat
	.risk-dosing
		position relative
		background none
		font 400 11px / 1.2 FrutigerLTCom
		color color_brand_purple
		&.pill-20-mg
			&:before
				@extends $pseudoElement
				top -39px
				right -3px
				height 33px
				width 69px
				background url(assets/images/20-mg-pill.png) 50% 50% / auto 100% no-repeat
	.circle
		@extends $flexElements
		position absolute
		top 139px
		left 215px
		height 64px
		width @height
		border-radius 50%
		background-image purple_gradient_to_right
		font 700 11px / 1.2 FrutigerLTCom
		text-align center
		color color_brand_white
	section
		display flex
		justify-content space-between
		align-items flex-end
		padding-right 14px
		color color_brand_black
		p
			letter-spacing -.35px
			font 400 11px / 1.2 FrutigerLTCom
		li
			position relative
			padding-left 8px
			font 300 10px / 1.2 FrutigerLTCom
			&:before
				@extends $pseudoElement
				top 3px
				left 1px
				height 4px
				width @height
				border-radius 50%
				background-color color_brand_black
	setImages($nestImages)
	.h-arrow
		@extends $flexElements
		height 71px
		margin-bottom 23px
		font 700 14px / 1.2 FrutigerLTCom
		&:first-of-type
			width 28%
			justify-content flex-start
			padding-left 23px
			text-align left
		&:nth-of-type(2)
			width 31%
			margin-right 5px
		&:nth-of-type(3)
			width 40%
	.injected-notes
		font-weight 400
		letter-spacing -.4px
		font-size 9px
		sup
			margin-right 1px
	floatAnimation('figure:last-of-type .pill')
