@import 'folder-tablet-mixins'

getPixel(value)
	unit(value, 'px')

pseudoElem()
	content ''
	position absolute

setImgStyle(_top, _left, _size, _imgName)
	pseudoElem()
	top getPixel(_top)
	left getPixel(_left)
	width getPixel(_size)
	height getPixel(_size)
	background url(../../shared/images/ + _imgName) 0 0 / 100% auto no-repeat

tailoredProtectionSlide()
	padding-right 20px

	h1
		letter-spacing -.34px

	h1, .top, .description-text, .bottom, .note, .patient
		color color_brand_purple

	img
		top 67px
		right 72px
		width 95px

	.img-refs-notes
		position absolute
		top 65px
		right 55px
		color color_brand_magenta
		sup
			font 700 10px / 1 FrutigerLTCom
	.top, .description-text
		font 700 24px / 1.2 FrutigerLTCom

	.main-content
		position absolute
		left -234px
		.list
			padding 72px 0 0 59px

	.patient
		position absolute
		top 14px
		font-size 19px

	.folder-tablet
		margin-left 6px
		setFolderProps({width: 187, height: 227})
		&.spaf-folder
			.top-content
				padding-left 3%
				padding-right 3%
			.folder-description
				padding-top 6px
				li
					margin-bottom 5px
					font-size 15px

	.item
		position relative
		&:nth-of-type(2)
			&:before
				setImgStyle(10, -172, 68, 'lungs-knee.png')
		&:last-of-type
			&:before
				setImgStyle(-12, -174, 72, 'pill-bayer-logo.png')

	.top
		letter-spacing -.55px

	.bottom
		font 300 21px / 1.15 FrutigerLTCom
		letter-spacing -.3px

	.note
		font 400 15px / 1.2 FrutigerLTCom
		letter-spacing -.1px

	.custom-footnote
		position absolute
		bottom 41px
		left 71px
		font 400 13px / 1.2 FrutigerLTCom
		letter-spacing -.1px

	.injected-notes
		left 71px
		letter-spacing -.25px
		p
			display inline-block