@import 'color-scheme'

topOfMindNavigation()
	header
		margin 45px 0 107px
		h1
			letter-spacing -.2px
	
	figure
	.tiles
	.row
		display flex
		justify-content space-between
	
	.clusters-list
		width 442px
		padding 8px 0 10px 41px
		figure
			display flex
			align-items center
			margin-bottom 25px
			&.active
				figcaption
					color color_brand_pink
		img
			width 76px
			height @width
		figcaption
			width 308px
			font 300 15px / 1.3 FrutigerLTCom
			color color_brand_purple
			letter-spacing -.2px
	
	.tiles
		position absolute
		top 251px
		right 185px
		flex-direction column
		width 315px
		height @width
		transform rotateZ(-45deg)
		.tile
			margin-right -13px
			width 118px
			height @width
			transform rotateZ(45deg)
	
	.disabled
		opacity .5
		pointer-events none
