@import 'color-scheme'
@import 'animation'

$pseudoElement
	content ''
	position absolute

$flexElement
	display flex
	justify-content space-between
	align-items center

unmetNeedSlide($isNumberAnimated = true)
	padding-right 56px
	header
		margin 30px 0 10px
	h1
	.lead-paragraph
		padding-right 13px
	.lead-paragraph
		line-height 1.2
	.content
		@extends $flexElement
		margin-top 54px
		color color_brand_gray2
	ul
	.right-side
		width 48.8%
	ul
		margin-top 32px
		font 900 30px / 1 FrutigerLTCom
		letter-spacing -.4px
		li
			position relative
			padding-bottom 19px
			&:after
				@extends $pseudoElement
				left 0
				bottom 0
				height 4px
				width 100%
				background radial-gradient(circle at center, color_brand_gray2 10%, transparent 50%) left / 4px 4px repeat-x
			&:not(:last-of-type)
				margin-bottom 25px
	.check-mark
		position relative
		display inline-flex
		width 30px
		height @width
		margin-right 20px
		border 1px solid color_brand_gray2
		&:before
		&:after
			@extends $pseudoElement
			width 8px
			border-radius 10px
			background-color color_brand_gray2
		&:before
			left 8px
			bottom 4px
			height 23px
			transform rotate(-37deg)
		&:after
			right -3px
			bottom 2px
			height 45px
			transform rotate(31deg)

	.lead-text
		padding-left 8px
		font 900 31px /1 FrutigerLTCom
		letter-spacing -1px
		color color_brand_purple
	.main-text
		display flex
		align-items center
		.text
			padding-bottom 9px
			font 900 42px / .95 FrutigerLTCom
			text-align left
			letter-spacing -.45px
			span
				display inline-flex
				margin-bottom -5px
				font 900 80px / 1 FrutigerLTComCn
	.big-number
		padding-right 30px
		font 900 271px / .83 FrutigerLTComCn
		letter-spacing -25px
	.description
		display block
		padding-left 58px
		font 300 31px / 1 FrutigerLTCom
		letter-spacing -.45px
		strong
			font-weight 900

	if $isNumberAnimated
		zoomInAnimation('.big-number', .3, .5, .3)
