@import 'color-scheme'
@import 'percent-arrow-value'

setPositionItem(sizeLines)
	for line, index in sizeLines
		&:nth-of-type({index + 1})
			.line-wrapper
				right line[0]
				bottom line[1]
				width line[2]
				height line[3]
				&:before
					width line[5]
					left line[4]
			.line
				width line[4]
				&:after
					top line[6]
					width line[7]

contentLabel()
	content ''
	position absolute

vascularProtectionSlide(sizeLinesLeft, sizeLinesRight)
	bottomArrowAnimation('.column .bottom-arrow')
	header
		margin 13px 0 10px
	h1
		letter-spacing -1.8px
	.lead-paragraph
		margin 0 5px 24px 0
	figure
		position relative
		.row
			position relative
			display flex
			justify-content space-between
			max-width 780px
			margin 0 auto
			padding 95px 0 0 69px
		img
			width 140px
			position absolute
			top 11px
			left 48.9%
			transform translate3d(-50%, 0, 0)
	.item
		margin-bottom 42px
	.caption
		position relative
		padding-bottom 5px
		margin-bottom 11px
		letter-spacing -.4px
		color color_brand_green_light
		font 700 23px / 1.2 FrutigerLTCom
		.line-wrapper
		.line
			position absolute
			bottom 0
		.line
			height 1px
			background-color color_brand_green_light
			&:after
				contentLabel()
				left 100%
				top -100px
				width 102px
				height 1px
				background-color color_brand_green_light
		.line-wrapper
			&:after
			&:before
				contentLabel()
			&:before
				bottom 0
				transform rotate(-90deg)
				transform-origin left bottom
				height 1px
				background-color color_brand_green_light
				box-shadow 0 0 0 transparent
			&:after
				width 5px
				height @width
				left 100%
				bottom 100%
				border-radius 50%
				transform translate3d(-50%, 50%, 0)
				background-color color_brand_green_light
				box-shadow 0 0 0 7px rgba(color_brand_green_light , .2)
	.column
		width 50%
		.percent-value
			transform translate3d(-2%, -9%, 0)
			percentArrowValue(68px, 5px, 93.5%)
		.bottom-arrow
			bottomArrow(12px, 69px, 14px, 15px)
			margin-right 11px
		.number-wrapper
			letter-spacing -2px
			> div
				padding 3px 0 1px
		setPositionInfoLine(positionInfoLine)
		&:first-of-type
			.item
				setPositionItem(sizeLinesLeft)
				&:nth-of-type(1)
					.caption
						margin-bottom 9px
			.info-line-wrapper
				left 69px
				top 12px
		&:last-of-type
			padding-top 42px
			.item
				setPositionItem(sizeLinesRight)
			.info-line-wrapper
				right 0
				left inherit
				&:nth-last-of-type(1)
					top 227px
					padding-right 30px
				&:nth-last-of-type(2)
					top 68px
			.item
				&:first-of-type
					.caption
						display none
			.line-wrapper
				left -5%
				&:after
					left 0
			.caption p
			.percent-value
				padding-left 22%
	.info-line-wrapper
		width auto
		height 42px
		padding 5px 16px 6px 15px
		.number
			padding-left 6px
			&:before
				height 18px
				width @height
		.text
			position absolute
			left 50%
			transform translateX(-50%)
			top 100%
			margin-top 5px
			white-space nowrap
			font 700 13px / 1 FrutigerLTCom
			letter-spacing -.2px
	.abbr
		margin-left 4px
		letter-spacing 0
	.info
		margin-left 3px
		letter-spacing -.3px
	.injected-notes
		right 40px
		left 49px
		line-height 1.3
		bottom 26px
		letter-spacing -.29px
		p
			display inline
