@import 'color-scheme'
@import 'percent-arrow-value'

vascularManSlide($sizeLines)
	header
		margin 30px 0 10px
	.lead-paragraph
		margin-bottom 24px
	figure
		position relative
		display flex
		justify-content space-between
		img
			width 152px
			position absolute
			top 13px
			left 50.55%
			transform translate3d(-50%, 0, 0)
	.item
		margin-bottom 29px
		for $line, $index in $sizeLines
			&:nth-of-type({$index + 1})
				.line-wrapper
					width $line[0]
					height $line[1]
					&:before
						width $line[3]
						left $line[2]
				.line
					width $line[2]
	.caption
		position relative
		transform translate3d(0, 0, 0)
		padding-bottom 5px
		margin-bottom 9px
		color color_brand_green_light
		font 700 23px / 1.2 FrutigerLTCom
		.line-wrapper
		.line
			position absolute
			bottom 0
			left 0
		.line
			height 1px
			background-color color_brand_green_light
		.line-wrapper
			&:after
			&:before
				content ''
				position absolute
				will-change transform
			&:before
				bottom 0
				transform rotate(-29deg)
				transform-origin left bottom
				height 1px
				background-color color_brand_green_light
				box-shadow 0 0 0 transparent
			&:after
				width 5px
				height @width
				left 100%
				bottom 100%
				border-radius 50%
				transform translate3d(-50%, 50%, 0)
				background-color color_brand_green_light
				box-shadow 0 0 0 7px rgba(color_brand_green_light , .2)
	.left-side
		width 51.75%
		.percent-value
			transform translate3d(0, 0, 0)
			percentArrowValue(73px, 7px, 93.5%)
		.bottom-arrow
			bottomArrow(14px, 76px, 15px, 15px)
		.number-wrapper
			letter-spacing -2px
			> div
				padding 3px 0 1px
	.abbr
		margin-left 6px
		letter-spacing 0
	.right-side
		width 32.65%
		margin-top 144px
		.percent-value
			percentArrowValue(137px, 11px, 89%)
			.info
				padding-left 6px
				font-size 18px
		.bottom-arrow
			bottomArrow(30px, 144px, 34px, 34px)
			margin-right 25px
		.bottom-arrow-wrapper
			margin-top 4px
		.number-wrapper
			letter-spacing -4.65px
			> div
				padding 6px 0 0
	.injected-notes
		bottom 24px
		left 72px