$videoSlides = ('SpafCardioCoverSlide' 'PEDVTVTESPAFComboCoverSlide' 'SPAFComboCoverSlide' 'PEDVTCoverSlide' 'PEDVTComboCoverSlide' 'TomPEDVTPECoverSlide' 'TomPEDVTExtFrontCoverSlide' 'TomPEDVTTIHomeSlide' 'VPPADFrontCoverSlide' 'TomPEDVTSDAFrontCoverSlide' 'PEDVTPADWICCoverSlide' 'PEDVTPADSDRCoverSlide' 'VPCADPADCoverSlide' 'VPCADCoverSlide' 'CADDiabetesCoverSlide' 'CADReInfarctionCoverSlide' 'VPPADHORFrontCoverSlide' 'VPPADWICFrontCoverSlide' 'VPPADCADFrontCoverSlide')
$skipVideo = '_FastSkipVideo'
.veeva-wide
	[data-module='ap-toolbar'] .ap-toolbar > .bar .button[data-module-to-load='ap-overview']
	ul li[data-is-attached='false'] .emailAttachmentToggler
		display none
body
	for $slide in $videoSlides
		&.{$slide + $skipVideo}
			#{$slide}
				.video-wrapper
					display none
				.background
					transform translateY(-50%) scale(1)
					top 50%
				.background
				.content
					transition none
				.content
					opacity 1
