@import 'front-cover-video-slide'
$path = '../../shared/images/'
$logo = 'bayer-logo-black.png'

vpCoverSlide()
	frontCoverVideoSlide()
	h1
		padding 497px 0 0 45px
	.lead-paragraph
		height 30px
		margin 17px 470px 0 0
		padding-left 48px
		font 500 16px / 1.9 FrutigerLTCom
		letter-spacing -.4px
		border-radius 0
	.main-logo
		content url($path + $logo)
		width 63px
		height @width
		top 32px
		left 934px
	footer
		display flex
		height 131px
		padding-left 44px
	.bottom-text
		bottom 15px
		figcaption
			color color_brand_green
		img
			width 54px
			height @width