@import 'color-scheme'
@import 'folder-tablet-mixins'
@import 'brand-wheel'

wheelSlide($options, $isFolder = true, $isArrow = true)
	brandWheel()
	svg
		width 408px
		height 408px
	header
		margin 29px 0 12px
	h1
		letter-spacing -.7px
	.lead-paragraph
		letter-spacing -.3px
		padding-left 3px
		font 400 25px / 1 FrutigerLTCom
	.content-wrapper
		display flex
		justify-content space-between
		align-items flex-end
		margin 78px 55px 0 54px
	if $isFolder
		.folder-tablet
			setFolderProps($options.folders)
			border-width 13px 14px
			margin-bottom 23px
			&.spaf-folder
				border-color color_brand_green_light2
				border-width 13px 14px
				if $isArrow
					&:before
						content ''
						position absolute
						left calc(100% + 12px)
						top 112px
						height 62px
						width 90px
						background url(assets/images/arrow-horizontal.png) 0 0 / 100% no-repeat
				.main-part
					padding 0
					background none
					&:before
						content none
					.folder-content
						transform none
						padding 19px 12px 15px 11px
				.top-content
					padding 0
					height 32.5%
				.user-info
					padding-bottom 4.6%
					div
						margin-top 5%
						for item, index in $options.dashs
							&:nth-of-type({index+1})
								width item
				.avatar
					width 28%
					height 91%
				.folder-description
					position relative
					height 68%
					padding 19px 10px 0 18px
					.list-title
					li
						margin-bottom 7px
					.list-title
						font-size 16px
						font-weight 900
						letter-spacing -.25px
						color color_brand_purple
					li
						padding-left 13px
						font-size 16px
						letter-spacing -.3px
						&:before
							content '•'
							top 1px
							font-size 15px
				.folder-name
					position absolute
					bottom -70px
					font 700 20px / 1.2 FrutigerLTCom
