@import 'color-scheme'

color_custom_violet1 = #4f2c7f
color_custom_grey3 = #676461

firstRowPadding = (27px 0 16px 0) (23px 0 21px 0)
secondRowPadding = (20px 0 23px 0) (15px 0 29px 0)
firstPartRowSize = ((228px 80px (8px 0 2px 47px)) (226px 80px (25px 0 0 40px)) (258px 80px (24px 0 0 40px))) ((165px 80px (16px 0 12px 11px)) (234px 80px (10px 0 6px 35px)) (286px 80px (8px 0 0 25px)))
secondPartRowSize = ((176px 80px (21px 0 0 17px)) (521px 80px (20px 0 0 52px))) ((176px 80px (21px 0 0 17px)) (521px 80px (8px 0 8px 44px)))
firstPartRowBgParams = ( (('arrow-purple.png')(right top) (auto 100% no-repeat)) (('arrow-magenta-gradient.png')(right top) (100% 100% no-repeat)) (('arrow-magenta.png')(right top) (100% 100% no-repeat))) ((('arrow-duuble-dk-gray.png')(right top) (auto 100% repeat-y)) (('arrow-double-gray-2.png')(right top) (100% 100% repeat-y)) (('arrow-double-lt-gray.png')(right top) (100% 100% repeat-y)) )
secondPartRowBgParams = ( (('arrow-dk-gray.png')(right top) (auto 100% no-repeat)) (('arrow-gray.png')(right top) (100% 100% no-repeat)) ) ((('arrow-dk-gray.png')(right top) (auto 100% no-repeat)) (('arrow-double-gray.png')(right top) (100% 100% repeat-y)) )
firstPartDescriptionMargin = ((0 0 0 24px) (0 0 0 22px) (0 0 0 15px)) ((1px 0 0 30px) (0 0 0 26px) (0 0 0 21px))
secondPartDescriptionMargin = ((-1px 0 0 15px) (-1px 0 0 41px)) ((0 0 0 14px) (0 0 0 41px))

setPaddingsRow(array)
	.medicine
		for value, i in array
			.medicine-row:nth-of-type({i + 1})
				padding value

setBackgroundRecipie(size, params, color)
	for row, i in size
		.medicine-row:nth-of-type({i + 1})
			for item, ii in row
				.recipie:nth-of-type({ii + 1})
					$width = size[i][ii][0]
					$height = size[i][ii][1]
					$padding = size[i][ii][2]
					$params = params[i][ii]
					padding $padding
					width $width
					height $height
					background url('assets/images/' + $params[0]) $params[1] / $params[2]

setParams(class, property, array)
	for value, i in array
		.medicine-row:nth-of-type({i + 1})
			for _params, ii in value
				.recipie:nth-of-type({ii + 1})
					.{class}
						{property} _params
contentExtend()
	content ''
	position absolute

xareltoDailyDosageStyles()
	padding-right 100px
	h1
		letter-spacing -.25px
	.bordered
		margin-bottom 42px
	.scheme
		width 854px
		margin 0 auto
	.row
		display flex
		&:nth-of-type(1)
			setPaddingsRow(firstRowPadding)
			setBackgroundRecipie(firstPartRowSize, firstPartRowBgParams, firstPartRowBgColor)
			setParams(description, margin, firstPartDescriptionMargin)
			.row-title
				height 240px
				p
					bottom 58px
			.medicine-row
				&:nth-of-type(1)
					figcaption
						color color_brand_magenta
					img
						width 32px
					.recipie:nth-of-type(2)
					.recipie:nth-of-type(3)
						.pills:nth-of-type(1)
							height 80px
					.recipie:nth-of-type(3)
						.description
							p
								padding-bottom 3px
								line-height 1.3
							span
								line-height 1.1
								font-size 11px
								letter-spacing -.35px
					.description span
						display inline-block
						margin-top 12px
						font-size 10px
						line-height 1.4
				&:nth-of-type(2)
					&:after
						width 885px
						left -30px
					img
						width 66px
					.recipie
						margin-left 0
						&:nth-of-type(2)
							margin-left -3px
							.pills:nth-of-type(2)
								padding-top 8px
							img
								width 46px
						&:nth-of-type(3)
							img
								width 30px

		&:nth-of-type(2)
			setPaddingsRow(secondRowPadding)
			setBackgroundRecipie(secondPartRowSize, secondPartRowBgParams, secondPartRowBgColor)
			setParams(description, margin, secondPartDescriptionMargin)
			.row-title
				margin-top 5px
				p
					bottom 79px
			.medicine-row
				&:nth-of-type(1)
					.pills
						height 80px
					.recipie
						&:nth-of-type(1)
							img
								width 36px
						&:nth-of-type(2)
							img
								width 38px
				&:nth-of-type(2)
					&:after
						content none
					.recipie
						&:nth-of-type(1)
							.pills
								height 80px
							img
								width 36px
						&:nth-of-type(2)
							.pills:first-of-type
								margin-bottom 10px
							img
								width 56px
	.row-title
		position relative
		width 30px
		color color_brand_white
		background-color color_custom_violet1
		p
			position absolute
			transform rotate(-90deg)
			transform-origin left top 0
			bottom 0
			left 9px
			white-space nowrap
			font 700 13px / 1 FrutigerLTCom
			letter-spacing .2px
	.medicine
		display flex
		flex-direction column
		.medicine-row
			position relative
			height 124px
			&:after
				contentExtend()
				width 835px
				height 1px
				bottom 0
				left 15px
				border-bottom 1px dotted color_brand_black
			&:last-of-type
				&:after
					background none
	.description
		position absolute
		top 50%
		left 50%
		width fit-content
		text-align center
		white-space nowrap
		transform translate3d(-50%, -50%, 0)
	.medicine-row
	figure
	.recipie
		display flex
		position relative
	.recipie
		flex-direction column
		justify-content space-between
		&:not(:first-of-type)
			margin-left -15px
	figcaption
		width 138px
		padding-left 20px
		align-self center
		font 700 17px/ 1.1 FrutigerLTCom
		color color_custom_grey3
	figure
		width 683px
		font 400 13px/ 1.2 FrutigerLTCom
		color color_brand_white
		letter-spacing .2px
	.note
		font-size 10px
		color color_brand_gray5
	.injected-notes
		left 70px