@import 'color-scheme'
@import 'table-mixins'

$color_local_light_pink = #fce5f3
$color_local_magenta = #e8008c

yaoRenalSlide($infoLineColor, columnsParams, markersParams)
	padding 30px 70px
	header
		margin-bottom 13px
	h1
		letter-spacing -.7px
	.main-content
		display flex
		width 884px
		margin-left auto
		margin-right auto
		> div
			position relative
			height 389px
	.left
		flex-basis 48.7%
		padding-left 77px
		border-right 1px solid color_brand_black
		.text
			position relative
			margin-top 103px
			font 300 24px / 1.15 FrutigerLtCom
			letter-spacing -.4px
			color color_brand_purple
			&:before
				content ''
				position absolute
				height 100px
			b
				font-weight 900
		.patient-value
			left 302px
			width 106px
	.right
		flex-basis 51.3%
		padding-left 23px
		h2
			margin 5px 0 0 11px
			color color_brand_purple
			text-indent 8px
			font 700 20px / 1.2 FrutigerLtCom
			letter-spacing -.2px
		.patient-value
			left 393px
			width 84px
		table
			margin-top 21px
	figcaption
		margin-top 12px
	figure
		position relative
		.marker-line
			for markerParams, index in markersParams
				&:nth-of-type({index + 1})
					top unit(markerParams['top'], 'px')
					left unit(markerParams['left'], 'px')
					width unit(markerParams['width'], 'px')
					.marker
						left unit(markerParams['markerLeft'], 'px')
	.g-scale-h
		width 229px
		margin 28px 0 0 126px
		li
			&:first-of-type
				visibility visible
			span
				padding-top 7px
		p
			padding-top 22px
			font-size 14px
			letter-spacing -.1px
	table
		text-align center
		font-size 18px
		color color_brand_white
		b
			font 900 16px / 1 FrutigerLTCom
	thead
		font 700 14px / 1 FrutigerLTCom
		th
			padding 11px 0 8px
			&:nth-of-type(3)
				border-right 1px solid color_brand_black
		span
			font-size 1.2em
			font-weight 900
	tbody
		background color_brand_white
	td
		&:not(:last-of-type)
			border-right 1px solid color_brand_black
		&:last-of-type
			color color_brand_black
			letter-spacing -.8px
	tbody
		th, td
			padding 16px 0
			letter-spacing -.4px
			line-height 1.15
			font-size 17px
		tr:last-of-type
			.violet-item
				padding 15px 0 14px 15px
		th
			padding 6px 0 6px 13px
			text-align left
			line-height 1.2
	col
		setColWidth($columns)
	.magenta-item
		font-size 13px
		padding 9px 0 8px
		background-color $color_local_magenta
		span
			font-size 17px
	.light-grey-item
		padding-bottom 9px
		font 900 1.1em / 1 FrutigerLtCom
		color color_brand_black
		background-color color_brand_gray_light2
	.dark-grey-item
		background-color color_brand_gray
	.grey-item
		background-color color_brand_gray_light1
		border-right 1px solid color_brand_white
	.violet-item
		background purple_gradient_to_right
	.light-pink-item
		background-color $color_local_light_pink
	.marker-lines
		position absolute
		top 0
		left 0
	.marker-line:after
		height 0
	.gray-item
		border-right-color color_brand_gray
		border-left-color color_brand_gray
		&:before
			background-color color_brand_gray
		.marker:before
			border-bottom-color color_brand_gray_light1
		.marker:after
			border-top-color color_brand_gray_light1
	.patient-value
		position absolute
		top -1px
		padding 5px 0 5px 1px
		border-top-color $infoLineColor
		border-bottom-color $infoLineColor
		p
			font-size 26px
			letter-spacing -1.3px
			color $infoLineColor
		.patient-icon
			&:before
			&:after
				background-color $infoLineColor
	.info-button
		bottom 136px
	.note
		position absolute
		bottom 43px
		font 400 13px / 1.2 FrutigerLtCom
		letter-spacing -.1px
	.injected-notes
		bottom 25px
		left 73px
		p
			display inline-block
