
<article class="slide" id="SpafCardioApixabanRenalFunctionRationalePopupSlide">
  <p class="hidden" data-notes="number_includes" data-inject="data-inject"></p>
  <p class="hidden" data-notes="egfr rrr ns hr ci nvaf crcl" data-reference-id="Apixaban:2011wg,Yao:2017wu"></p>
  <header>
    <h1>Renal Function Maintained?</h1>
  </header>
  <div class="top-block">
    <figcaption class="top-caption"><img class="aristotle" src="././shared/images/aristotle.png"/><sup data-reference-id="Hijazi:2016tq"></sup>
    </figcaption>
    <div class="patient-value">
      <div class="patient-icon"></div>
      <p>14,913<sup data-notes='number_includes'></sup></p>
    </div>
  </div>
  <div class="content-wrapper top-scale">
    <figure class="graph">
      <figcaption class="g-caption">Renal function (eGFR by CKD-EPI)<br>over the course of 12 months</figcaption>
      <div class="g-scale g-scale-v">
        <ul>
          <li><span>-5</span></li>
          <li><span>-4</span></li>
          <li><span>-3</span></li>
          <li><span>-2</span></li>
          <li><span>-1</span></li>
          <li><span>0</span></li>
        </ul>
        <p class="g-scale-label">MEAN (SD) CHANGE<br>IN eGFR (ML/MIN)</p>
      </div>
      <div class="g-content">
        <div class="g-bar-nest">
          <div class="g-bar gray-bar">
            <p class="g-bar-value">–0.92 <span>(10.27)</span></p>
            <p class="g-bar-note">p=0.01</p>
          </div>
          <div class="g-bar light-gray-bar">
            <p class="g-bar-value">–1.42 <span>(10.12)</span></p>
          </div>
        </div>
      </div>
      <ul class="g-legend">
        <li class="gray-bar">warfarin</li>
        <li class="light-gray-bar">apixaban</li>
      </ul>
      <p class="g-note">RETROSPECTIVE SUBGROUP ANALYSIS</p>
    </figure>
    <ul class="bullet-list">
      <li>Percentage of apixaban patients with<br>CHADS<sub>2</sub>-score &ge;3:<sup data-reference-id='Hijazi:2016tq'></sup> <strong>29.7%</strong></li>
      <li>Median age of apixaban patients:<sup data-reference-id='Hijazi:2016tq'></sup> <strong>70</strong></li>
    </ul>
  </div>
</article>