@import '../../global_styles/color-scheme'
@import '../../global_styles/renal-function-fragment'

$barsHeight = 34px 54px

#SpafCardioApixabanRenalFunctionRationalePopupSlide
	buildFragment({barsHeight: $barsHeight})
	header
		margin-bottom 79px
	.top-block
		margin-bottom 94px
		padding 0 42.9% 0 19%
	.top-caption
		height 18px
		sup[data-reference-id]
			margin-top -23px
	.patient-value
		color color_brand_gray
		border-color color_brand_gray
		.patient-icon
			&:before
			&:after
				background-color color_brand_gray
	.content-wrapper
		padding 0 2.8% 0 13.9%
	.g-caption
		margin 0 0 32px -6px
	.g-scale-v
		p
			padding 0 0 29px 1px
	.g-note
		margin-top 15px
		padding-left 7px
		font-size 15px
		letter-spacing -.2px
	.g-legend
		margin-top 56px
		padding 0 0 0 12px
		li
			margin-right 7px
	.g-bar
		&:first-of-type
			.g-bar-value
				bottom 3px
				line-height 1
	.g-bar-note
		margin-top 6px
		font-size 15px
	.g-bar.light-gray-bar
	.g-legend .light-gray-bar:before
		background-color rgba(color_brand_gray, .6)
	.g-legend .light-gray-bar:before
		width 12px
		height @width
	.bullet-list
		transform translateY(-8px)
		li
			margin-bottom 7px
			&
			&:before
				color color_brand_gray
		strong
			font-weight 900
