include ../../pug_fragments/renal-function-fragments

-
	var
		options = {
			colors: {
				barColors: ['gray-bar', 'light-gray-bar']
			},
			captionBlockParams: {
				class:'aristotle',
				reference: 'Hijazi:2016tq'
			},
			listType: 'bullet-list'
		}

article.slide#SpafCardioApixabanRenalFunctionRationalePopupSlide
	p.hidden(data-notes='number_includes' data-inject)
	p.hidden(data-notes='egfr rrr ns hr ci nvaf crcl' data-reference-id='Apixaban:2011wg,Yao:2017wu')
	+buildFragment(content, options)
