.accelerator [data-module=ag-auto-menu].top-menu {
	height: auto;
	display: none;
}

.accelerator [data-module=ag-auto-menu].top-menu .menu li {
	float: none
}

nav.top-menu {
	position: absolute;
	width: 100%;
	transform: translate(0, -100%);
	transition: 0
}

nav.top-menu.state-default {
	transform: translate(0, 0)
}

nav.top-menu.state-default,
nav.top-menu.state-hidden {
	transition: .5s
}

nav.top-menu.placement-bottom {
	transform: translate(0, 62px)
}

nav.top-menu.disabled {
	pointer-events: none;
	opacity: 0
}

nav.top-menu .menu {
	position: relative;
	overflow: hidden;
	width: 100%;
	background-color: #fbfbfb;
	font-size: 19px;
	user-select: none;
	display: flex;
	white-space: normal
}

nav.top-menu .menu ul {
	display: flex;
	height: 36px
}

nav.top-menu .menu ul li {
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1
}

nav.top-menu .menu ul li.active {
	color: #ec008c
}

nav.top-menu .menu>li {
	height: auto;
	margin: 0;
	border-right: 1px solid
}

nav.top-menu .menu>li:last-of-type {
	border-right: none
}

nav.top-menu .menu>li:not(.menu-home) {
	flex-grow: 1
}

nav.top-menu .menu p {
	padding: 6px;
	font: 300 11px/1.2 FrutigerLTCom;
	letter-spacing: -.5px;
	color: #4e2c7f;
	background-color: rgba(78, 44, 127, .1)
}

nav.top-menu .menu-home {
	width: 71px;
	background: url(assets/wheel-purple.png) center center/51px 51px no-repeat
}

nav.top-menu .menu-home.active {
	/* background: url(assets/wheel-magenta.png) center center/51px 51px no-repeat */
}

nav.top-menu .menu-container {
	width: 100%
}

nav.top-menu .menu-container li {
	padding: 0;
	min-width: 50px;
	margin: 0
}

nav.top-menu .menu-container li li {
	width: 95px;
	border: 0;
	font: 700 9px/1.2 FrutigerLTCom;
	color: #4e2c7f
}

nav.top-menu:after {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	height: 25px;
	min-width: 768px;
	background: url(assets/handle1920.png) center bottom no-repeat
}

nav.top-menu.veeva-shift .menu {
	padding-left: 130px
}

nav.top-menu.state-hidden {
	transform: translate(0, -100%)
}

nav.top-menu.state-hidden li {
	pointer-events: none
}

nav.top-menu.state-disabled {
	transform: translate(0, -100%);
	pointer-events: none
}