@import '../../global_styles/brand-wheel-fragment'

textsFontParams = (20 0) (20 .9) (20 .9) (15 .5) (16 .8 14) (16 1 13) (14 .5 22)

#SpafCardioBrandWheelSlide
	brandWheelSlide()
	
	h1
		padding-left 0
		letter-spacing 0

	.reg-sup
		margin-right 0
