
<article class="slide" id="SpafCardioBrandWheelSlide">
  <header>
    <h1>Xarelto<sup class='reg-sup'>&reg;</sup>. Tailored Protection for<br> Your Cardio-Vascular Patients<sup data-reference-id='Xarelto:2018uc'></sup></h1>
  </header>
  <div class="wrapper-content">
    <svg viewBox="0 0 402 402">
      <image xlink:href="assets/images/circle.png" x="0" y="0" height="100%" width="100%"></image>
      <path id="SpafCardioBrandWheelSlideSvg0" d="M 201, 201 m -161,0 a 1,1 0 0,1 322,0"></path>
      <path id="SpafCardioBrandWheelSlideSvg1" d="M 201, 201 m -87.5,152.25 a 1,1 0 0,0 175,-304.5"></path>
      <path id="SpafCardioBrandWheelSlideSvg2" d="M 201, 201 m -80.5,-155.75 a 1,1 0 0,0 161,311.5"></path>
      <path id="SpafCardioBrandWheelSlideSvg3" d="M 201, 201 m -93,0 a 1,1 0 0,1 186,0"></path>
      <path id="SpafCardioBrandWheelSlideSvg4" d="M 201, 201 m -51,-88.74 a 1,1 0 0,0 102,177.48"></path>
      <path id="SpafCardioBrandWheelSlideSvg5" d="M 201, 201 m -46.5,80.91 a 1,1 0 0,0 93,-161.82"></path>
      <path id="SpafCardioBrandWheelSlideSvg6" d="M 201, 201 m -57.5,100.05 a 1,1 0 0,0 115,-200.1"></path>
      <text class="exclude-px" text-anchor="middle">
        <textPath xlink:href="#SpafCardioBrandWheelSlideSvg0" startOffset="50%">STROKE PREVENTION</textPath>
      </text>
      <text class="exclude-px" text-anchor="middle">
        <textPath xlink:href="#SpafCardioBrandWheelSlideSvg1" startOffset="50%">VENOUS PROTECTION</textPath>
      </text>
      <text class="exclude-px" text-anchor="middle">
        <textPath xlink:href="#SpafCardioBrandWheelSlideSvg2" startOffset="50%">VASCULAR PROTECTION</textPath>
      </text>
      <text class="exclude-px" text-anchor="middle">
        <textPath xlink:href="#SpafCardioBrandWheelSlideSvg3" startOffset="50%">NVAF</textPath>
      </text>
      <text class="exclude-px" text-anchor="middle">
        <textPath xlink:href="#SpafCardioBrandWheelSlideSvg4" startOffset="50%">CAD/PAD ACS</textPath>
      </text>
      <text class="exclude-px" text-anchor="middle">
        <textPath xlink:href="#SpafCardioBrandWheelSlideSvg5" startOffset="50%">PE DVT VTEext</textPath>
      </text>
      <text class="exclude-px" text-anchor="middle">
        <textPath xlink:href="#SpafCardioBrandWheelSlideSvg6" startOffset="50%">TKR THR</textPath>
      </text>
    </svg>
  </div>
  <p class="hidden" data-notes="nvaf cad pad acs pe dvt vte tkr thr"></p>
</article>