include ../../pug_fragments/brand-wheel-slide

-
	var curvesParams = [
		{
			"radius": 161,
			"angle": topPositionAngle,
			"clockWise": true
		},
		{
			"radius": 175,
			"angle": rightBottomPositionAngle,
			"clockWise": false
		},
		{
			"radius": 175,
			"angle": leftBottomPositionAngle,
			"clockWise": false
		},
		{
			"radius": 93,
			"angle": topPositionAngle,
			"clockWise": true
		},
		{
			"radius": 102,
			"angle": -300,
			"clockWise": false
		},
		{
			"radius": 93,
			"angle": rightBottomPositionAngle,
			"clockWise": false
		},
		{
			"radius": 115,
			"angle": rightBottomPositionAngle,
			"clockWise": false
		}
	]
-
	var imgPath = 'assets/images/circle.png'

article.slide#SpafCardioBrandWheelSlide
	+brandWheelFragment(curvesParams, imgPath, 'SpafCardioBrandWheelSlideSvg')
	p.hidden(data-notes='nvaf cad pad acs pe dvt vte tkr thr')
