@import '../../global_styles/color-scheme'

#OverviewPopupSlide
	padding 0 4.2%
	margin-top 31px
	overflow hidden
	.scroll
	.slides-map
		height 600px
	.scroll
	.slides-map
		position relative
		overflow hidden
		height 600px
	.slides-map
		display flex
		justify-content flex-start
		flex-wrap wrap
		height auto
		padding-bottom 40px
		z-index 2
	button
		float left
		margin 0 13px 26px
		width 21.6%
		height 130px
		@media only screen and (min-width: 1152px)
			height 140px
		border 1px solid color_brand_cool_gray
		background-size 100% 100%
		outline 0
	button.active
		border 3px solid color_brand_magenta
	.iScrollVerticalScrollbar
		position absolute
		width 6px
		bottom 20px
		top 72px !important
		right 12px
		border-radius 3px
	.iScrollIndicator
		margin 0 auto
		border-radius 4px
		background rgba(50, 50, 50, .35) !important