@import '../../global_styles/pi-slide'

#SpafCardioPiPopupSlide
	padding 51px 50px 0
	piSlide(12px, 610px)
	.text-wrap
		column-count 3
	h1
	p
		font-size 9px
	h1
		margin-bottom 9px
		line-height 1.3
		letter-spacing -.5px
		b
			letter-spacing -.1px
	p
		line-height 1.15
		&:first-of-type
			padding-left 11px
			margin-bottom 2px
			b
				letter-spacing -.152px
			&:before
				top 1px
				left 0
				border-left 4px solid transparent
				border-right 4px solid transparent
				border-top 7px solid
		b
			letter-spacing .1px
		.letter-space
			display inline
			margin-top auto
			letter-spacing -.4px