@import '../../global_styles/color-scheme'
@import '../../global_styles/animation'

$gBarHeights = (119 96) (209 159) (46 30)
$footerColumns = ((0 8.8% 0 8%) 20px) ((0 8% 0 7.5%) 7px) ((0 8% 0 7.4%) 8px) ((0 0 0 5%) 8px)

setBarHeights($bars)
	for bar, barIndex in $bars
		&:nth-of-type({barIndex + 1})
			.g-bar
				for $height, heightIndex in bar
					&:nth-of-type({heightIndex + 1})
						height unit($height, 'px')

setFooterColumns($columns)
	for column, index in $columns
		&:nth-of-type({index + 1})
			padding column[0]
			.number
				padding-left column[1]

#SpafCardioProtectionFromCvDeathSlide
	header
		margin 35px 0 16px
	h1
		letter-spacing -.1px
	.top-caption
		position relative
		height 20px
		width min-content
		margin 0 0 37px 65%
		.preceding-text
			position absolute
			top 31px
			left 0
			font 700 16px / 1.2 FrutigerLTComCn
			letter-spacing .1px
			color color_brand_purple
	.graph
		width 517px
		height 282px
		margin-left 184px
	.g-content
		justify-content space-between
		padding 0 40px 0 42px
	.g-bar
		width 55px
	.g-scale-v
		.g-scale-label
			padding-bottom 44px
			font-size 13px
			letter-spacing .1px
	.g-bar-nest
		setBarHeights($gBarHeights)
		&:nth-of-type(2)
			margin-left 20px
	.g-bar-value
		margin-top 9px
	.g-nest-name
		right -30px
		left @right
		margin-top 11px
		font-size 13px
		letter-spacing .1px
		text-align center
	.g-legend
		bottom -60px
		left 38.2%
		li
			font-size 13px
			padding-left 17px
			margin-right 11px
			letter-spacing -.3px
			&:before
				top 1px
			&:last-of-type
				padding-left 19px
				&:before
					width 12px
					height @width
	.arrows-block
		top -1px
		left 27px
	.arrow-container > figcaption
		margin-bottom 6px
		position absolute
		left 50%
		bottom 100%
		transform translateX(-50%)
		font 700 14px / 1.2 FrutigerLTCom
		letter-spacing .1px
		white-space nowrap
	.arrow
		height 95px
		background-image url('assets/images/magenta-arrow-local.png')
		.arrow-text-top
			padding-top 12px
			font-size 32px
			letter-spacing -.6px
			small
				letter-spacing 0
				font-size 56%
				small
					font-size 41%
			+ p
				padding-top 5px
				font-size 10px
				line-height .9
		strong
			font 700 33px / 1 FrutigerLTCom
			letter-spacing -3px
	footer
		padding-top 57px
		height 172px
	.info-line-wrapper
		justify-content flex-start
		height 43px
		padding 0
		border-left 0
		border-right 0
		.patient-icon
			top 48%
		.text
			font 400 11px / 1.3 FrutigerLTCom
			letter-spacing 0
	.column
		.number
			margin-top 0
			font-size 26px
			letter-spacing -1.3px
			&:after
				height 110%
		setFooterColumns($footerColumns)
		&:not(:first-of-type)
			.patient-icon
				display none
	.info-button
		bottom 190px
		right 35px
	.note
		margin 11px 0 0 8px
		font-size 9px
		line-height 1.3
		letter-spacing -.05px
	.bottom-text
		font-size 20px

	@media only screen and (min-width: 1152px)
		.graph
			margin 0 auto
		.column
			flex 1
			justify-content center

	zoomInAnimation('.arrows-block', .5)

#presentation #ahRefsNotesPopup.custom-refs-notes-popup .SpafCardioProtectionFromCvDeathSlide_notes  .footnotes
	display block
	padding-top 8px
