
<article class="slide" id="SpafCardioProtectionFromCvDeathSlide">
  <p class="hidden" data-notes="hr ci rrr arr ich bmi nvaf cv af gi vascular_death_4 fatal_bleeding" data-reference-id="Bansilal:2015fn,Patel:2011tj,Sherwood:2015up,Connolly:2009wn,EikelboomJ.W:2013tz,Granger:2011hx,LopesR.D:2012uk,Giugliano:2013tc,KatoE.T:2016uf,KirchhofP:2017vn"></p>
  <header>
    <h1>Life is the Outcome that Matters<br> Most for You and Your Patients</h1>
  </header>
  <figcaption class="top-caption">
    <p class="preceding-text">Pre-specified diabetes<br> patient sub-analysis</p><img class="rocket-af" src="././shared/images/rocket-af.png"/><sup data-reference-id="Bansilal:2015fn,Patel:2011tj"></sup>
  </figcaption>
  <figure class="graph">
    <div class="g-scale g-scale-v">
      <ul>
        <li><span>0</span></li>
        <li><span>1</span></li>
        <li><span>2</span></li>
        <li><span>3</span></li>
        <li><span>4</span></li>
        <li><span>5</span></li>
      </ul>
      <p class="g-scale-label">EVENT RATE (%/YR)</p>
    </div>
    <div class="g-scale g-scale-h">
      <ul>
      </ul>
    </div>
    <div class="g-content">
      <div class="g-bar-nest">
        <div class="g-bar dark-gray-bar">
          <p class="g-bar-value">2.1</p>
        </div>
        <div class="g-bar magenta-bar">
          <p class="g-bar-value">1.7</p>
        </div>
        <p class="g-nest-name">STROKE/SYSTEMIC EMBOLISM</p>
      </div>
      <div class="g-bar-nest">
        <div class="g-bar dark-gray-bar">
          <p class="g-bar-value">3.7</p>
        </div>
        <div class="g-bar magenta-bar">
          <p class="g-bar-value">2.8</p>
        </div>
        <figure class="arrows-block">
          <figure class="arrow-container">
            <figcaption>HR 0.80<br> (95% CI, 0.64–0.99)</figcaption>
            <div class="arrow magenta">
              <p class="arrow-text-top">20<small>%<small>RRR</small></small></p>
              <p>ARR<br> 0.9%</p>
            </div>
          </figure>
        </figure>
        <p class="g-nest-name">CARDIOVASCULAR<br> DEATH<sup data-notes='vascular_death_4'></sup></p>
      </div>
      <div class="g-bar-nest">
        <div class="g-bar dark-gray-bar">
          <p class="g-bar-value">0.8</p>
        </div>
        <div class="g-bar magenta-bar">
          <p class="g-bar-value">0.5</p>
        </div>
        <p class="g-nest-name">ICH</p>
      </div>
    </div>
    <ul class="g-legend">
      <li class="dark-gray-bar">warfarin</li>
      <li class="magenta-bar">Xarelto</li>
    </ul>
  </figure>
  <footer>
    <div class="info-line-wrapper">
      <div class="column">
        <p class="number">5,695<span class="patient-icon"></span>
        </p>
      </div>
      <div class="column">
        <p class="text">Median age
        </p>
        <p class="number">71<span class="patient-icon"></span>
        </p>
      </div>
      <div class="column">
        <p class="text">Median BMI
        </p>
        <p class="number">30<span class="patient-icon"></span>
        </p>
      </div>
      <div class="column">
        <p class="text">Mean CHADS<sub>2</sub>-score
        </p>
        <p class="number">3.7<span class="patient-icon"></span>
        </p>
      </div>
    </div>
    <p class="bottom-text">Give your NVAF patients with diabetes the essential<br> protection they need against fatal CV events<sup data-reference-id='Bansilal:2015fn'></sup></p>
    <p class="note">In the overall population in ROCKET AF, there was no significant difference in the outcome of cardiovascular death<sup data-notes='vascular_death_4'></sup><br> or in the primary safety endpoint of major or non-major bleeding vs warfarin.<sup data-reference-id='Patel:2011tj'></sup></p>
  </footer>
  <button class="info-button purple" data-viewer="slideshow" href="spaf_cardio_cv_death_inline_slideshow" slide="SpafCardioHasBledPopupSlide"></button>
</article>