include ../../pug_fragments/header-block
include ../../pug_fragments/caption-block
include ../../pug_fragments/graph
include ../../pug_fragments/footer-block

-
	var
		colors = {
			barColors: ['dark-gray-bar', 'magenta-bar'],
			arrowsColor: [['magenta']]
		},
		graphInfo = {
			class:'rocket-af',
			reference: 'Patel:2011tj,Bansilal:2015fn',
			precedingText: additional_text
		}
	graph.g_scale_h = {}
	graph.g_scale_v.min = 0;
	graph.g_scale_v.max = 5;
	graph.g_scale_v.step = 1;

article.slide#SpafCardioProtectionFromCvDeathSlide
	p.hidden(data-notes='hr ci rrr arr ich bmi nvaf cv af gi vascular_death_4 fatal_bleeding' data-reference-id='Bansilal:2015fn,Patel:2011tj,Sherwood:2015up,Connolly:2009wn,EikelboomJ.W:2013tz,Granger:2011hx,LopesR.D:2012uk,Giugliano:2013tc,KatoE.T:2016uf,KirchhofP:2017vn')
	+headerBlock(headline)
	+captionBlock(graphInfo)
	+graph(graph, "bar", colors, false)
	+footerBlock(line_props)
		p.bottom-text !{bottom_text}
		p.note !{note}
	button(data-viewer='slideshow' href='spaf_cardio_cv_death_inline_slideshow' slide='SpafCardioHasBledPopupSlide').info-button.purple
