doctype html
html(lang='en' class="%--typeVeevaBuild--%")
	head
		meta(charset='utf-8')
		title Xarelto 2019
		meta(name='description', content='Presentation')
		meta(name='author', content='')
		meta(name='apple-mobile-web-app-capable', content='yes')
		meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
		meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1')
		// Specify a default short title when adding to home screen (works in iOS >= 6)
		meta(name='apple-mobile-web-app-title', content='Template')
		// Don't automatically detect phone numbers and email addresses
		meta(name='format-detection', content='telephone=no')
		meta(name='format-detection', content='email=no')
		link(rel='stylesheet', href='build/presentation/styles.css')
		script window.ahstrings = !{stringdata}
		//
			Printing and PDF exports
			<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? 'accelerator/css/print/pdf.css' : 'accelerator/css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
			</script>
		//headHTML
		//veevaDeepFlag
		//mediaConfigs
	body
		#presentation.accelerator(class="%--slideshow--% %--typeBuild--% %--storyboard--%")
			div(data-module="ah-chatbot-open-pdf")
			div(data-module="ah-prevent-touchmove")
			div(data-module="ah-arrow-navigation")
			div(data-module="ah-reference-icon")
			div(data-module="ah-check-clm-system")
			#ahSlideTransition(data-module="ah-slide-transition")
			#ahParallaxNav(data-module="ah-parallax-nav")
			nav(data-module='ag-auto-menu')#ag-auto-menu.state-hidden.top-menu
				div.menu-container
					ul.menu
			div(data-module="ah-localizer-helper")
			div(data-module="ah-check-clm-system")
			div(data-module='ah-slide-transition')
			div(data-module='ah-correct-events')
			div(data-module='ah-cleanup')
			div(data-module='ah-check-lock')
			//div(data-module='ah-auto-menu')
			#ahUtils(data-module='ah-utils')
			#ahHistory(data-module='ah-history')
			#ahAdditionalSlideMethods(data-module="ah-additional-slide-methods")
			section#slideshows.slideshows.slides
				//slideHtml
			#overlayPopupCustom.custom-popup(data-module='ag-overlay')
			div(data-module='ah-collection-define')
			#ahBindingHandler(data-module='ah-binding-handler')
			#viewer.custom-overlay(data-module="ag-viewer")
			#viewerInlineSlideshow.custom-overlay(data-module="ag-viewer")
			#inlineSlideshow(data-module='ah-inline-slideshow')
			div(data-module='ah-handle-closing')
			div(data-module='ah-fix-slide-render')
			#agAnalytics(data-module='ag-slide-analytics')
			#ahAnalytics(data-module='ah-slide-analytics')
			div(data-module='ap-media-repository' usereferenceslistnumeration)
			div(data-module='ah-refs-notes-slide-inject')
			#notes.custom-popup(data-module='ah-notes')
			div(data-module='ah-auto-references-popup', id="ah-auto-references-popup", isglobalnumeric=true)
			#ahRefsNotesPopup.auto-references-popup-overlay(data-module='ah-refs-notes-popup')
			div(data-module='ap-notepad')
			#ahStorageData(data-module="ah-storage-data" storage-id="ahDynamicTracks-Xarelto-C2-2019")
			#ahLocker(data-module='ah-locker')
			#ahDynamicTracks(data-module='ah-dynamic-tracks')
			div(data-module='ah-close-overlays')
			.logo(data-module='ah-bottom-logo')
			.pause-overlay
			footer#apToolbar(data-module='ap-toolbar', minimized='').state-hidden
			#veevaExtends(data-module='ah-veeva-library-extends')
			#monitoringTracker(data-module='ah-monitoring-tracker')
			#veevaMonitoring(data-module='ah-veeva-monitoring')
			#veevaOpenMediaFile(data-module='ah-veeva-open-media-file')
			#ahVeevaStorageData(data-module="ah-storage-data" storage-id="veevaStorage-Xarelto-C2-2019")
			#ahSlideStateManager(data-module="ah-slide-state-manager")
			#veevaWideOrder(data-module="ah-get-veeva-wide-order")
		// Agnitio Content API
		// http://wiki.agnitio.com/index.php?title=Agnitio_Content_API_(iPad)
		// <script src="../viewer/js/agnitio.js"></script>
		// Reference local agnitio.js for testing purposes
		script(src='accelerator/lib/agnitio.js')
		script(src='build/presentation/scripts.js')
		script(src='./../shared/hogarth.js')
		// script src="http://weinre.antwerpes.de/target/target-script-min.js#HC-Template"></script
		//bottomHTML