include ../../pug_fragments/bullet-list
include ../../pug_fragments/header-block

article.slide#SpafCardioSummarySlide
	p.hidden(data-notes='nvaf cv vka')
	+headerBlock(headline)
	.wrapper
		p.list-title !{list_title}
		+bulletList(list)
	p.bottom-text !{bottom_text}
