@import '../../global_styles/color-scheme'

#SpafCardioSummarySlide
	padding-top 35px

	header
		margin-bottom 74px

	h1
		letter-spacing 0

	.diamond-list
		padding-left 18px

	li
		margin-bottom 12px
		letter-spacing -.25px
		font-size 21px

	.list-title
		margin-bottom 36px
		font 900 21px / 1.2 FrutigerLTCom
		color color_brand_magenta

	.bottom-text
		font-size 20px

	.wrapper
		margin-bottom 112px
		padding-left 75px

	@media only screen and (min-width: 1152px)
		.wrapper
			padding-left 8.5rem
