
<article class="slide" id="SpafCardioprayerSlide">
  <h1><mark>&#34;</mark>I wasn't aware that my<br> diabetes and AF could<br> cause stroke and also<br> affect my kidneys!<mark>&#34;</mark></h1>
  <p class="hidden" data-notes="af"></p>
</article>