@import '../../global_styles/color-scheme'

#SpafCardioprayerSlide
	padding 30px 60px 30px 70px
	background url(assets/images/slide-bg.jpg) center center / cover no-repeat

	h1
		margin 164px 0 0
		text-align right
		font italic 900 41px / 1.2 FrutigerLTComXBlkCn
		letter-spacing .2px
		color color_brand_purple
		mark
			font-style normal
			&:last-of-type
				margin-left 5px
