include ../../pug_fragments/rocket-itt-fragment

-
	var options = {
		graph: {
			type: 'line',
				colors: {
					barColors: [
						'gray-bar',
						'magenta-bar'
					]
				},
				isAnimated: false
	},
		topCaptionIcon : {
			class:'rocket-af',
			reference: 'Patel:2011tj'
		}
	}

-
	graph.line_list = [{},{}]
	graph.g_scale_v.min = 0
	graph.g_scale_v.max = 6
	graph.g_scale_v.step = 1
	graph.g_scale_h.min = 0
	graph.g_scale_h.max = 840
	graph.g_scale_h.step = 120

article.slide#SpafCardioRocketITTPopupSlide
	p.hidden(data-notes='af rrr arr yr nvaf chads has_bled' data-reference-id='Sherwood:2015up')
	+rocketIttSlide(options)
