
<article class="slide" id="SpafCardioRocketITTPopupSlide">
  <p class="hidden" data-notes="af rrr arr yr nvaf chads has_bled" data-reference-id="Sherwood:2015up"></p>
  <header>
    <h1>Xarelto<sup>&reg;</sup> Gives Your Patients the Highly Effective<br> Protection they Need<sup data-reference-id='Patel:2011tj'></sup></h1>
  </header>
  <figcaption class="top-caption"><img class="rocket-af" src="././shared/images/rocket-af.png"/><sup data-reference-id="Patel:2011tj"></sup>
  </figcaption>
  <figure class="graph">
    <div class="g-scale g-scale-v">
      <ul>
        <li><span>0</span></li>
        <li><span>1</span></li>
        <li><span>2</span></li>
        <li><span>3</span></li>
        <li><span>4</span></li>
        <li><span>5</span></li>
        <li><span>6</span></li>
      </ul>
      <p class="g-scale-label">STROKE OR SYSTEMIC EMBOLISM (%/YR)</p>
    </div>
    <div class="g-scale g-scale-h">
      <ul>
        <li><span>0</span></li>
        <li><span>120</span></li>
        <li><span>240</span></li>
        <li><span>360</span></li>
        <li><span>480</span></li>
        <li><span>600</span></li>
        <li><span>720</span></li>
        <li><span>840</span></li>
      </ul>
      <p class="g-scale-label">TIME TO FIRST EVENT (DAYS)</p>
    </div>
    <div class="g-content">
      <div class="g-cover">
        <div class="g-line">
        </div>
        <div class="g-line">
        </div>
      </div>
    </div>
    <div class="additional-wrapper">
      <p class="additional">p=0.12<sup data-notes='p_value'></sup></p>
    </div>
    <ul class="g-legend">
      <li class="gray-bar">warfarin</li>
      <li class="magenta-bar">Xarelto</li>
    </ul>
  </figure>
  <footer>
    <div class="info-line-wrapper">
      <div class="column">
        <p class="text">Intention-to-treat analysis
        </p>
        <p class="number">14,171<span class="patient-icon"></span>
        </p>
      </div>
      <div class="column">
        <p class="text">Mean CHADS<sub>2</sub>-score
        </p>
        <p class="number">3.5<span class="patient-icon"></span>
        </p>
      </div>
    </div>
    <div class="notes">
      <p>Study powered for non-inferiority vs warfarin for primary endpoint of stroke or systemic embolism<sup data-reference-id='Patel:2011tj'></sup></p>
    </div>
  </footer>
</article>