
<article class="slide immovable-slide animated" id="SpafCardioCoverSlide">
  <div class="main-wrapper">
    <div class="content"><img class="main-logo" src="shared/images/bayer-logo.png"/>
      <h1>For Protection You and <br>Your Patients can Rely on<sup data-reference-id='Xarelto:2018uc'></sup></h1>
      <figure class="bottom-text"><img class="bottom-logo" src="shared/images/head.png"/>
        <figcaption>NVAF, Stroke prevention in adults with Non-Valvular<br> Atrial Fibrillation and one or more risk factors</figcaption>
      </figure>
      <p class="approve-number">PP-XAR-ALL-1371-1<br> &copy; Bayer AG, July 2019</p>
    </div>
    <div class="video-wrapper">
      <video class="cover-video" poster="shared/images/pedvt-spaf-preview.jpg" preload="none" src="shared/videos/pedvt-spaf-video.mp4" type="video/mp4"></video>
      <div class="play-button"></div>
    </div>
  </div><img class="background" src="assets/images/bg.jpg"/>
</article>