@import '../../global_styles/front-cover-video-slide'

#SpafCardioCoverSlide
	frontCoverVideoSlide()
	h1
		padding 505px 0 0 45.8%
		letter-spacing -.7px
	.bottom-text
		left 3.4%
	.approve-number
		bottom 30px
		left 45.7%
		font-size 10px
		letter-spacing .1px
	.main-logo
		top 35px
		left 35px
