<div class="Notepad">
  <canvas id="notepad-canvas" width="1920" height="1080"></canvas>
  <div class="palette">
    <div class="button exit"></div>
    <div class="button clear"></div>
    <div class="button red"></div>
    <div class="button green"></div>
  </div>
</div>
