<script>
	app.initialize('config.json', {
		model: 'model.json',
		startPath: '<%= storyboard %>/<%= slideshow %>/<%= slide %>',
		lazy: false,
		setup: function () {
			var slideshow = document.getElementById('slideshows');
			var slideEl = document.getElementById('<%= slide %>');
			app.dom.add('<%= slide %>', slideEl);
			/* app.cache.put('content/<%= slide %>/<%= slide %>.html', slideshow.innerHTML);*/
		}
	});
</script>
<script>
	(function () {
		var sessionStorageData, customClasses;
		var body = document.getElementsByTagName('body')[0];
		sessionStorageData = JSON.parse(sessionStorage.getItem('veevaStorage-Xarelto-C2-2019')) || [];
		customClasses = getFilteredClasses(sessionStorageData);
		customClasses.forEach(function (item) {
			body.classList.add(item);
		});
		function getFilteredClasses(items) {
			return Object.keys(items).filter(function (item) {
				return items[item] && item.indexOf('_FastSkipVideo') > -1;
			});
		};
	})();
</script>
<script src='slides.js'></script>
<script src='cache.js'></script>
<script>
	document.addEventListener('ready', function () {
		app.dom.trigger('new:elements', {views: [{id: '<%= slide %>'}]});
		// app.goTo = function (path) {
		// 	var parts = path.split('/'),
		// 		collection = parts[0],
		// 		slide = parts[parts.length - 1],
		// 		slideshow = parts[parts.length - 2],
		// 		keyMessageStart = '<%= prefix %>' ? '<%= prefix %>' : slideshow + '_';
		// 	var configPresentations = app.config.get('presentationsConfig').items;
		// 	console.log(keyMessageStart + slide + '.zip', configPresentations[collection] || collection);
		// 	if (window.com) {
		// 		com.veeva.clm.gotoSlide(keyMessageStart + slide + '.zip', configPresentations[collection] || collection);
		// 	}

		// };

		app.goTo = function (path) {
			var parts = path.split('/'),
				collection = parts.shift(),
				slide = parts.pop(),
				slideshow = parts.pop(),
				// keyMessageStart = '<%= prefix %>' ? '<%= prefix %>' : slideshow + '_';
				slide = hogarth.getSlideNameV2( slide, collection );
				collection = hogarth.getPresentationName.fromCollection( collection );
				
				console.log( slide + '.zip', collection);
			if (window.com) {
				// com.veeva.clm.gotoSlide(keyMessageStart + slide + '.zip', collection);
				com.veeva.clm.gotoSlide( slide + '.zip', collection);
			}

		};

		app.slideshow.prev = com.veeva.clm.prevSlide;
		app.slideshow.next = com.veeva.clm.nextSlide;
		app.on('openPDF', function (filePath) {
			var configPdfs = app.config.get('configSource').pdfs,
				filename = filePath.replace(configPdfs.source, '').replace('.pdf', '');
			if (configPdfs.presentation && configPdfs.items[filename]) {
				console.log(configPdfs.items[filename] + '.zip', configPdfs.presentation);
				com.veeva.clm.gotoSlide(configPdfs.items[filename] + '.zip', configPdfs.presentation);
			}
			else {
				if (!configPdfs.items) {
					console.error('Not able to open PDF key message. "Please build pdfs-config.json. Use vw-pdf-config command and rebuild"')
				}
				else {
					console.error('Not able to open PDF key message. PDF filename is not valid, it need to be in the format of *.pdf');
				}
			}
		});
		setTimeout(function () {
			app.slide.enter({id: '<%= slide %>'})
		}, 300);

		// custom tracks fix
		if( ['c1_2019_pedvt_collection'].indexOf( app.slideshow.getId() ) != -1 ){
			app.on('view-enter', checkCustomTracks );
			function checkCustomTracks(){
				var p = app.module.get('ahDynamicTracks');
				var curr = p.getCurrentSlide();
				for( var i in p.structures.c1_2019_pedvt_collection.tracks ){
					if( p.structures.c1_2019_pedvt_collection.tracks[i].indexOf( curr ) != -1 ){
						// console.log('found slide in track '+i );
						p.setTrack( {track: i } );
					}
				}
				console.log( 'custom tracks check',  );
			}
		}
	});
	app.listenTo(app, 'presentation:ready', function () {
		var navigationInfo = [
			{
				'event': 'swipeleft',
				'veevaFunc': 'nextSlide',
				'orderMethod': 'isLastSlide'
			},
			{
				'event': 'swiperight',
				'veevaFunc': 'prevSlide',
				'orderMethod': 'isFirstSlide'
			}
		];
		setTimeout(function () {
			var veevaWideOrderingModule = app.module.get('veevaWideOrder');
			navigationInfo.forEach(function(navItem){
				document.addEventListener(navItem.event, function () {
					if (isCorrectSlideOrder(veevaWideOrderingModule, navItem.orderMethod)) {
						goToSlide(navItem.veevaFunc);
						return;
					}
					goToSlide(navItem.veevaFunc);
				});
			});
		}, 200);
		function isCorrectSlideOrder(module, func) {
			return module && !module[func]();
		}
		function goToSlide(veevaFunc) {
			if (!app.isDynamicTrack && !app.isCustomRoute) com.veeva.clm[veevaFunc]();
		}
	});
</script>
