<link rel="stylesheet" href="slides.css">
<script src="accelerator/lib/head.min.js"></script>
<!--<script src="accelerator/lib/inject2scale.js"></script>-->
<!--<script src="accelerator/lib/touchy.min.js"></script>-->
<script>
	document.addEventListener('ready', function() {
		setTimeout(function(){
			if(app){
				app.isVeevaWide = true;
			}
		}, 0);
	});
</script>
