@import '../../global_styles/safety-and-dosing-slide'
#SpafCardioSafetyAndDosingSlide
	safetyAndDosingSlide()

	h1
		margin 37px 0 115px
		font-size 45px
		line-height 1.1

	.inner-content
		height 290px
		margin-bottom 64px
		padding 0 78px 0 53px

	.circle-items
		.item-text
			color color_brand_dr_purple

		.img-wrap
			margin-bottom 7px
			overflow hidden

			img
				width 90px
				margin-top 0

		.item
			&:nth-of-type(2)
				transform translate3d(-7px, -50%, 0)
				img
					transform translateY(-1px)
			&:nth-of-type(3)
				img
					width 96px
					transform translateX(2px)

	.bar-animate-cover
		margin-bottom 133px

	.capture
		left 49%
		top -32px
		bottom auto
		padding 0 20px
		font-weight 700
		color color_brand_dr_purple

		&:before, &:after
			top -17px
			border-style solid
			border-color color_brand_magenta

		&:before
			width 125px

		&:after
			width 146px

	.pill-text
		font-size 14px
		font-weight 700
		color color_brand_dr_purple
		letter-spacing 0
		line-height 1.2

	.bottom-text
		font-size 20px

	.block-wrapper
		&:first-of-type
			width 27%

			.pill
				margin-right 18px

				&:after
					left 46%
					height 112px
					margin-bottom 10px
					border-right-style solid
					border-right-color color_brand_magenta

			.bar
				padding-right 15px
				border-top-left-radius 6px
				border-bottom-left-radius 6px

				.text
					font-size 14px
					font-weight 300
					letter-spacing 0

					span
						color color_brand_magenta
						font-size 25px

		&:last-of-type
			width 73%

			.pill
				margin-right 18px

			.item-text
				font-weight 700
				line-height 1

				span
					font-weight 300
					font-size 25px
					line-height 1.1
					color color_brand_magenta
			.bar
				transform translateX(0)
				background linear-gradient(to top, color_brand_magenta, color_dark_magenta)
			.bar-animate-cover
				transform translateX(0)

	.notes
		left 36px
		bottom 31px

		p
			color color_brand_black
			font-weight 300
			font-size 10px

	.injected-notes
		left 36px
		bottom 47px
		letter-spacing -.05px
		font-weight 400
#presentation #ahRefsNotesPopup.custom-refs-notes-popup .auto-references-popup .SpafCardioSafetyAndDosingSlide_notes
	p:nth-of-type(4)
		display none
#presentation #ahRefsNotesPopup.custom-refs-notes-popup .SpafCardioSafetyAndDosingSlide_notes .footnotes
	display block
	padding-top 8px