include ../../pug_fragments/safety-and-dosing-slide

article.slide#SpafCardioSafetyAndDosingSlide
	p.hidden(data-notes='crcl od nvaf with_caution_spaf xarelto_20mg' data-reference-id='Xarelto:2018uc')
	+safetyAndDosingSlide()
