
<article class="slide" id="SpafCardioSafetyAndDosingSlide">
  <p class="hidden" data-notes="crcl od nvaf with_caution_spaf xarelto_20mg" data-reference-id="Xarelto:2018uc"></p>
  <h1>Tailored Dosing is the Cornerstone<br> of Successful Treatment</h1>
  <div class="inner-content">
    <div class="block-wrapper">
      <div class="bar-animate-cover">
        <div class="bar">
          <p class="text">CrCl <span>&ge;50</span> ml/min</p>
        </div>
      </div>
      <div class="pill">
        <div class="img-wrap"><img src="assets/images/20mg.png"/>
          <p class="pill-text">20 mg OD</p>
        </div>
      </div>
    </div>
    <div class="block-wrapper">
      <div class="bar-animate-cover">
        <div class="bar">
          <p class="text">213</p>
        </div>
      </div>
      <div class="circle-items">
        <div class="item">
          <div class="img-wrap"><img src="assets/images/man-1.png"/></div>
          <p class="item-text">CrCl<br> <span>49</span><br> ml/min</p>
        </div>
        <div class="item">
          <div class="img-wrap"><img src="assets/images/man-2.png"/></div>
          <p class="item-text">CrCl<br> <span>29<sup data-notes='with_caution_spaf'></sup></span><br> ml/min</p>
        </div>
        <div class="item">
          <div class="img-wrap"><img src="assets/images/man-3.png"/></div>
          <p class="item-text">CrCl<br> <span>15<sup data-notes='with_caution_spaf'></sup></span><br> ml/min</p>
        </div>
      </div>
      <div class="pill">
        <div class="img-wrap"><img src="assets/images/15mg.png"/>
          <p class="pill-text">15 mg OD<br> Impaired renal function</p>
        </div>
        <p class="capture">Consistent protection</p>
      </div>
    </div>
  </div>
  <p class="bottom-text">Tailor your NVAF patients’ dosing to ensure they receive<br> the right dose, at the right time, for the right reason<sup data-reference-id='Xarelto:2018uc'></sup></p>
  <div class="injected-notes">
    <p>Xarelto<sup>&reg;</sup> 20 mg once daily: for patients with NVAF and CrCl ≥50 ml/min. Xarelto 15 mg once daily: for patients with NVAF and CrCl 30–49 ml/min.</p>
  </div>
</article>