<div class="ap-toolbar">
  <div class="bar">
    <div class="button" data-toolbar-state="maximized" data-module-to-load="ap-overview"></div>
    <div class="button" data-toolbar-state="maximized" data-module-to-load="ap-follow-up-mail"></div>
    <div class="button" data-toolbar-state="minimized" data-module-to-load="ap-specific-product-characteristics"></div>
    <div class="button" data-toolbar-state="maximized" data-module-to-load="ap-reference-library"></div>
    <div class="button notepad"></div>
  </div>
  <div class="content" data-module-container>
    <!-- occupied by currently loaded module -->
    <div data-module="ap-overview" hide></div>
    <div data-module="ap-reference-library" hide> </div>
    <div data-module="ap-follow-up-mail" hide> </div>
    <div data-module="ap-specific-product-characteristics" hide> </div>
  </div>
</div>
