include ../../pug_fragments/cv-death-slide

-
	var
		options = {
			caption: {
				class:'rocket-af',
				reference: 'Bansilal:2015fn'
			}
		}

article.slide#SpafCardioCvDeath1PopupSlide
	p.hidden(data-reference-id='Patel:2011tj,Bansilal:2015fn,Ezekowitz:2015up' data-notes='cv nvaf af yr hr ci rrr arr ich bmi rri se ns noac vascular_death isth_major')
	+buildFragment(options)
