
<article class="slide" id="SpafCardioCvDeath1PopupSlide">
  <p class="hidden" data-reference-id="Patel:2011tj,Bansilal:2015fn,Ezekowitz:2015up" data-notes="cv nvaf af yr hr ci rrr arr ich bmi rri se ns noac vascular_death isth_major"></p>
  <header>
    <h1>Protection from Cardiovascular Death in NVAF Patients with Diabetes</h1>
  </header>
  <div class="main-content">
    <div class="left">
      <figcaption class="top-caption"><img class="rocket-af" src="././shared/images/rocket-af.png"/><sup data-reference-id="Bansilal:2015fn"></sup>
      </figcaption>
      <table class="custom-table">
        <colgroup>
          <col/>
          <col/>
          <col/>
          <col/>
        </colgroup>
        <thead>
          <tr>
            <th></th>
            <th class="magenta-item">Favours<br><span>Xarelto</span></th>
            <th class="dark-grey-item">Favours<br><span>warfarin</span></th>
            <th class="light-grey-item"><strong>RRR</strong><br>HR<br>(95% CI)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th class="violet-item">CV death<sup data-notes='vascular_death'></sup></th>
            <td class="light-pink-item"></td>
            <td></td>
            <td class="light-grey-item"><strong>–20%</strong><br>0.80<br>(0.64–0.99)<br>p&lt;0.05</td>
          </tr>
          <tr>
            <th class="violet-item">S/SE</th>
            <td class="light-pink-item"></td>
            <td></td>
            <td class="light-grey-item"><strong>–18%</strong><br>0.82<br>(0.63–1.08)<br>p=ns</td>
          </tr>
          <tr>
            <th class="violet-item">Major bleeding</th>
            <td class="light-pink-item"></td>
            <td></td>
            <td class="light-grey-item"><strong>+0%</strong><br>1.00<br>(0.81–1.24)<br>p=ns</td>
          </tr>
        </tbody>
      </table>
      <div class="g-scale g-scale-h">
        <ul>
          <li><span>0.25</span></li>
          <li><span>1</span></li>
          <li><span>2.5</span></li>
        </ul>
        <p class="g-scale-label">HR (95% CI)</p>
      </div>
      <div class="marker-lines">
        <div class="marker-line">
          <div class="marker"></div>
        </div>
        <div class="marker-line">
          <div class="marker"></div>
        </div>
        <div class="marker-line">
          <div class="marker"></div>
        </div>
      </div>
    </div>
    <div class="right">
      <h2>ENGAGE AF</h2>
      <div class="informal">
        <p>Published subanalysis with diabetes patients not available</p>
      </div>
    </div>
  </div>
  <footer>
    <div class="info-line-wrapper">
      <div class="column">
        <p class="text">Population
        </p>
        <p class="number">5,695<span class="patient-icon"></span>
        </p>
      </div>
      <div class="column">
        <p class="text">Mean<br>BMI:
        </p>
        <p class="count">30
        </p>
      </div>
      <div class="column">
        <p class="text">Mean<br>CHADS<sub>2</sub>-score:
        </p>
        <p class="count">3.7
        </p>
      </div>
      <div class="column">
        <p class="text">Median<br>age (years):
        </p>
        <p class="count">71
        </p>
      </div>
    </div>
  </footer>
  <p class="additional-info">Results are not intended for direct comparison between NOACs.</p>
</article>